.compare-small-1 {
    display: block;
    overflow: hidden;
}

.compare-small-1 .compare-wrapper {
    display: block;
    margin: -5px;
    font-size: 0px;
    white-space: nowrap;
}

.compare-small-1 .compare-element {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    white-space: nowrap;
    text-decoration: none;
}

.compare-small-1 .compare-element .compare-element-wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-right: 10px;
}

.compare-small-1 .compare-element .compare-icon {
    display: block;
    width: 20px;
    height: 22px;
    background-repeat: no-repeat;
}

.compare-small-1 .compare-element .compare-text {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 18px;
    height: 18px;
    border:  none;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: #3e3a3a;
    background: #ffc605;
}

.compare-small-1 .compare-element .compare-sum {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.compare-small-1 .compare-element.compare .compare-icon {
    background-image: url('images/icon.compare.png');
    background-position: 0px 0px;
}