

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news/lookbook/bitrix/catalog.section.list/.default/style.css?15548708882414*/
.lookbook-albums {
    display: block;
}

.lookbook-albums-block {
    border:1px solid #e8e8e8;
	border-radius: 3px;
}

.lookbook-albums-wrapper {
    display: block;
    margin: -8px;
}

.lookbook-albums .lookbook-album {
    display: block;
    position: relative;
    float: left;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lookbook-albums .lookbook-album .lookbook-album-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 75%;
    border: 1px solid #e6e6e6;
}

.lookbook-albums .lookbook-album .lookbook-album-wrapper .lookbook-album-wrapper-wrapper {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.lookbook-albums .lookbook-album .lookbook-information {
    display: block;
    width: 100%;
    float: none;
}

.lookbook-albums .lookbook-album .lookbook-information .lookbook-information-wrapper {
    display: block;
    overflow: hidden;
    margin: 10px;
    min-height: 60px;
}

.lookbook-albums .lookbook-album .lookbook-information .lookbook-name {
    display: block;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    line-height: 21px;
    margin-top: 0px;
    color: #1c1c1b;
}

.lookbook-albums .lookbook-album .lookbook-information .lookbook-button-view {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    top: auto;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.lookbook-albums .lookbook-album .lookbook-picture {
    display: block;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media all and (max-width: 800px) {
    .adaptiv .lookbook-albums .lookbook-album .lookbook-album-wrapper {
        padding-top: 75%;
    }
    
    .adaptiv .lookbook-albums .lookbook-album .lookbook-information {
        float: none;
        width: auto;
    }
    
    .adaptiv .lookbook-albums .lookbook-album .lookbook-picture {
        margin-left: 0px;
        margin-top: 0px;
        height: 100%;
    }
    
    .lookbook-albums .lookbook-album .lookbook-information .lookbook-button-view {
        display: none;
    }
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news/lookbook/bitrix/catalog.section.list/.default/style.css?15548708882414 */
