.uni-product-viewed-slider {
    display: block;
    position: relative;
}

.uni-product-viewed-slider .header_grey {
    display: block;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    margin-bottom: 19px;
}

.uni-product-viewed-slider .buttons {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
}

.uni-product-viewed-slider .buttons .button {
    display: block;
    position: absolute;
    right: 0px;
}

.uni-product-viewed-slider .buttons .button.button-left {
    right: 28px;
}

.uni-product-viewed-slider .indents-wrapper {
    display: block;
    overflow: hidden;
}

.uni-product-viewed-slider .indents {
    display: block;
    margin-left: -8px;
    margin-right: -8px;
}

.uni-product-viewed-slider .slider {
    display: block;
    position: relative;
    white-space: nowrap;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 16px;
}

.uni-product-viewed-slider .slider .element {
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    padding-right: 8px;
    white-space: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.uni-product-viewed-slider .slider .element .wrapper {
    display: block;
    position: relative;
    padding: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
}

.uni-product-viewed-slider .slider .element .wrapper .image {
    display: block;
    position: relative;
    float: left;
    width: 33%;
    padding-top: 33%;
}

.uni-product-viewed-slider .slider .element .wrapper .image .uni-image {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.uni-product-viewed-slider .slider .element .wrapper .information {
    display: block;
    overflow: hidden;
    margin-left: 36%;
}

.uni-product-viewed-slider .slider .element .wrapper .information .name {
    display: block;
    height: 34px;
    text-decoration: none;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 5px;
    overflow: hidden;
}

.uni-product-viewed-slider .slider .element .wrapper .information .price {
    font-size: 12px;
    height: 25px;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
}