

/* Start:/bitrix/components/bitrix/system.pagenavigation/templates/visual/style.min.css?15548195683386*/
.bx_pagination_bottom *{vertical-align:baseline}.bx_pagination_bottom{color:#8d8d8d;font-size:11px}.bx_pagination_bottom .bx_pagination_section_two{float:right;text-align:right}.bx_pagination_bottom .bx_pg_section{display:inline-block;height:30px;vertical-align:top;line-height:30px}.bx_pagination_bottom .bx_pagination_select_container{display:inline-block}.bx_pagination_bottom .bx_pagination_select_container select{position:relative;margin:2px 20px 2px 10px;padding:1px 25px 3px 5px;height:22px;outline:0;border:1px solid #e0e0e0;border-radius:1px;background:#fff url(/bitrix/components/bitrix/system.pagenavigation/templates/visual/images/select_arrow.png) no-repeat right center;color:#8d8d8d;font-size:11px;line-height:16px;resize:none;-webkit-appearance:none}@-moz-document url-prefix(){.bx_pagination_bottom .bx_pagination_select_container select{background:#fff!important;padding-right:5px}}.bx_pagination_bottom .bx_pagination_page{white-space:nowrap;font-size:12px}.bx_pagination_bottom .bx_pagination_page ul{display:inline-block;margin:0;padding:0}.bx_pagination_bottom .bx_pagination_page li{display:inline-block;min-width:22px;color:#8d8d8d;text-align:center;line-height:22px}.bx_pagination_bottom .bx_pagination_page li a{display:block;min-width:22px;color:#8d8d8d;text-align:center;text-decoration:none;line-height:22px}.bx_pagination_bottom .bx_pagination_page li a:hover{color:#555}.bx_pagination_bottom .bx_pagination_page li.bx_active{border-radius:3px;background:#dbecf4;box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.1)}.bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{display:block}.bx_pagination_bottom .bx_pg_section.bx_pg_show_col select{margin-right:5px}.bx_pagination_bottom .bx_wsnw{white-space:nowrap}@media(min-width:480px) and (max-width:639px){.bx_pagination_bottom .bx_pagination_select_container select{margin-right:10px}}@media(max-width:479px){.bx_pagination_bottom .bx_pagination_section_two{float:none;text-align:left}.bx_pagination_bottom .bx_pagination_select_container{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:47%}.bx_pagination_bottom .bx_pagination_select_container select{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-right:0!important;width:90%}.bx_pagination_bottom .bx_pg_section{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;text-align:left}.bx_pagination_bottom .bx_pagination_page{white-space:normal}.bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{width:100%;height:auto;text-align:center}.bx_pagination_bottom .bx_pg_section.bx_pg_show_col{display:none}.bx_pagination_bottom .bx_pg_text{display:inline-block;width:50%}.bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{display:none}}.bx_pagination_bottom .bx_pagination_section_one,.bx_pagination_bottom .bx_pagination_section_two,.bx_pagination_bottom .bx_pagination_select_container,.bx_pagination_bottom .bx_pagination_select_container select,.bx_pagination_bottom .bx_pg_section,.bx_pagination_bottom .bx_pagination_page,.bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num,.bx_pagination_bottom .bx_pg_section.bx_pg_show_col,.bx_pagination_bottom .bx_pg_text,.bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news/brands/bitrix/news.list/.default/style.css?1554870888859*/
.brands {
	overflow:hidden;
}

.brands .brand {
	position: relative;
	margin-bottom:22px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.brands .brand .image {
	display: block;
	width: 100%;
	padding-top: 100%;
	font-size: 0px;
}

.brands .brand .image .wrapper {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.brands .brand .image .wrapper .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0px;
	overflow: hidden;
}

.brands .brand .image .wrapper img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.brands .brand .image .wrapper .text {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
/* End */
/* /bitrix/components/bitrix/system.pagenavigation/templates/visual/style.min.css?15548195683386 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news/brands/bitrix/news.list/.default/style.css?1554870888859 */
