

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog/catalog/style.css?15548708871817*/
.catalog-section-menu.catalog-section-menu-all {
    display: none;
}
.catalog-section-menu.catalog-section-menu-current {
    display: block;
}

@media all and (max-width: 1150px) {
    .adaptiv .catalog-section-menu.catalog-section-menu-all {
        display: block;
    }
    .adaptiv .catalog-section-menu.catalog-section-menu-current {
        display: none;
    }
}

.uni-filter, .uni-menu{
	position: relative;
	display: none;
	vertical-align: middle;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	padding: 13px 11px 12px 11px;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background-color, border-color;
	-moz-transition: background-color, border-color;
	-ms-transition: background-color, border-color;
	-o-transition: background-color, border-color;
	transition: background-color, border-color;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	color: #434343;
	border: 1px solid #dadada !important;
}
.uni-filter:hover, .uni-menu:hover{
	background: #dadada;
}
@media all and (min-width: 800px) {
	.uni-btn-show {
		display: none;
	}
	.uni-btn-hide {
		display: none !important;
	}
}
@media all and (max-width: 800px) {
	.menu_catalog_hide {
		margin-bottom: 30px;
	}
	.filter_catalog_hide {
		margin-bottom: 80px;
	}
	.uni-btn-show{
		display: block;
	}
	.adaptiv .menu-catalog-left-1 {
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #dadada;
		border-radius: 3px;
	}
	.adaptiv .menu-catalog-left-1 .menu-catalog-left-1-item:first-child{
		border-top: 0px solid #e8e8e8;
	} 
	.adaptiv .menu-catalog-left-1 .menu-catalog-left-1-item{
		border-top: 1px solid #e8e8e8;
	}
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/menu/catalog.left.1/style.css?15548708882273*/
.menu-catalog-left-1 {
    display: block;
    overflow: hidden;
}

.menu-catalog-left-1 .menu-catalog-left-1-wrapper {
    margin: -10px;
}

.menu-catalog-left-1 .menu-catalog-left-1-item {
    display: block;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-catalog-left-1 .menu-catalog-left-1-subitem .menu-catalog-left-1-subitem-wrapper,
.menu-catalog-left-1 .menu-catalog-left-1-item .menu-catalog-left-1-item-wrapper {
    display: block;
    font-size: 0px;
    text-decoration: none;
}

.menu-catalog-left-1 .menu-catalog-left-1-subitem .menu-catalog-left-1-subitem-wrapper .menu-catalog-left-1-text,
.menu-catalog-left-1 .menu-catalog-left-1-item .menu-catalog-left-1-item-wrapper .menu-catalog-left-1-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 13px;
    color: inherit;
    margin-right: 5px;
}

.menu-catalog-left-1 .menu-catalog-left-1-subitem .menu-catalog-left-1-subitem-wrapper .menu-catalog-left-1-count,
.menu-catalog-left-1 .menu-catalog-left-1-item .menu-catalog-left-1-item-wrapper .menu-catalog-left-1-count {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 13px;
    color: #c7c7c7;
}

.menu-catalog-left-1 .menu-catalog-left-1-subitem.ui-state-active > .menu-catalog-left-1-subitem-wrapper .menu-catalog-left-1-text,
.menu-catalog-left-1 .menu-catalog-left-1-item.ui-state-active > .menu-catalog-left-1-item-wrapper .menu-catalog-left-1-text {
    font-weight: bold;
}

.menu-catalog-left-1 .menu-catalog-left-1-item .menu-catalog-left-1-submenu {
    display: none;
    padding-left: 20px;
    padding-top: 10px;
}

.menu-catalog-left-1 .menu-catalog-left-1-item.ui-state-active > .menu-catalog-left-1-submenu {
    display: block;
}
.menu-catalog-left-1 .menu-catalog-left-1-item .menu-catalog-left-1-submenu .menu-catalog-left-1-subitem.ui-state-active > .menu-catalog-left-1-submenu {
    display: block;
}

.menu-catalog-left-1 .menu-catalog-left-1-item .menu-catalog-left-1-submenu .menu-catalog-left-1-subitem {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/style.css?155487088821912*/
.bx-filter * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bx-filter .bx-left {
    display: block;
    float: left;
    padding-right: 15px;
    width: 50%;
}

.bx-filter .bx-right {
    display: block;
    float: right;
    padding-left: 15px;
    width: 50%;
}

.bx-filter .checkbox, .bx-filter .radio {
    margin-top: 15px;
}

.bx-filter {
	width: 100%;
	font-family: "Ubuntu", Arial, sans-serif;
	margin-bottom: 60px;
}
.bx-filter .bx-filter-section {
	background: transparent; /* color */
	border: 1px solid #ededed;
	border-radius: 3px;
	position: relative;
	padding-top: 0px
}
.bx-filter .bx-filter-section>.row {
	padding: 0 5px;
	
}
.bx-filter .bx-filter-title {
	font-size: 18px;
	margin-bottom: 10px;
	color: #000;
}
/*Sections*/

.bx-filter .bx-filter-parameters-box {
	position: relative;
	border-top: 1px solid #ededed;
    padding: 20px;
}
.bx-filter .bx-filter-parameters-box:first-child {
	border-top: none;
}
.bx-filter .bx-filter-parameters-box-title {
	font-size: 14px;
    line-height: 16px;
}
@media (min-width: 992px) {
	.adaptiv .bx-filter .bx-filter-section .col-md-4:nth-child(3n+1) {
		clear: both;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.adaptiv .bx-filter .bx-filter-section .col-md-4:nth-child(2n+1) {
		clear: both;
	}
}
.bx-filter .bx-filter-parameters-box .fa {margin-top: 2px;}
.bx-filter .bx-filter-parameters-box .bx-filter-parameters-box-title div.bx-filter-parameters-box-hint {
	color: #484848;
	cursor: pointer;
	width: 100%;
}
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-parameters-box-title div.bx-filter-parameters-box-hint,
.bx-filter .bx-filter-parameters-box:hover .bx-filter-parameters-box-title div.bx-filter-parameters-box-hint,
.bx-filter .bx-filter-parameters-box:focus .bx-filter-parameters-box-title div.bx-filter-parameters-box-hint {
    color: #1a58d7;
}
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-parameters-box-title span {
	/*color: #95a1a8;*/
}
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-parameters-box-title span:hover {
	/*color: #758087;*/
	/*border-color: transparent;*/
}
.bx-filter .bx-filter-block {
	display: none;
	-webkit-transition: padding .3s ease;
	-moz-transition: padding .3s ease;
	-ms-transition: padding .3s ease;
	-o-transition: padding .3s ease;
	transition: padding .3s ease;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.bx-filter .bx-filter-button-box .bx-filter-block,
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block {
	display: block;
}
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block i.bx-ft-sub {
	font-size: 10px;
    line-height: 10px;
    float: left;
    width: 25px;
    font-style: normal;
    display: block;
    padding-top: 8px;
    padding-bottom: 7px;
}
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block .bx-filter-input-container {
    margin-left: 25px;
}
.bx-filter-parameters-box-container {
	margin-top: 20px;
}
.bx-filter-parameters-box-container .checkbox {
	margin-right: 20px;
}
.bx-filter-parameters-box-container .checkbox:first-child {
	margin-top: 0;
}
.bx-filter .bx-filter-parameters-box-container-block {
	font-size: 11px;
	color: #3f3f3f;
}
/*
* INPUTS
*
*/

.bx-filter .bx-filter-input-container {}
.bx-filter .bx-filter-input-container input {
	display: block;
	width: 100%;
	font-size: 18px;
	height: 38px;
	margin: 0;
	padding: 0 4px;
    border: none;
    background: #e8e8e8;
	border-radius: 2px;
	outline: none
}
.bx-retina .bx-filter .bx-filter-input-container input {
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
	-moz-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
	-o-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
	border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
}
/*.bx-filter .bx-filter-input-container input:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter .bx-filter-input-container input:focus {
	-webkit-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
	   -moz-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
		 -o-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
			border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
}

/*
COLOR
*/
.bx-ios .bx-filter .bx-filter-input-container input {
	/* Fix of input shadow for IOS browsers. */

	background-image: -webkit-linear-gradient(#ffffff 0%, #ffffff 100%);
	background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
}
.bx-filter .bx-filter-button-box {
	clear: both;
}
/*
*Track
*
*/

.bx-filter .bx-ui-slider-track-container {
    clear: both;
	padding-top: 35px;
	padding-bottom: 25px;
}
.bx-filter .bx-ui-slider-track {
	position: relative;
	height: 7px;
	/*background: #d8e9f0;/* COLOR */
}
.bx-filter .bx-ui-slider-part {
	position: absolute;
	top: -6px;
	width: 1px;
	height: 17px;
}
.bx-filter .bx-ui-slider-part.p1 {
	left: -1px;
}
.bx-filter .bx-ui-slider-part.p2 {
	left: 25%;
}
.bx-filter .bx-ui-slider-part.p3 {
	left: 50%;
}
.bx-filter .bx-ui-slider-part.p4 {
	left: 75%;
}
.bx-filter .bx-ui-slider-part.p5 {
	right: -1px;
}
.bx-filter .bx-ui-slider-part span {
	font-size: 12px;
	position: absolute;
	bottom: -25px;
	left: 50%;
	display: block;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	color: #000;
}
.bx-filter .bx-ui-slider-part.p2 span,
.bx-filter .bx-ui-slider-part.p3 span,
.bx-filter .bx-ui-slider-part.p4 span {
	color: #6b8086;
}
.bx-filter .bx-ui-slider-range,
.bx-filter .bx-ui-slider-pricebar,
.bx-filter .bx-ui-slider-pricebar-vd,
.bx-filter .bx-ui-slider-pricebar-vn,
.bx-filter .bx-ui-slider-pricebar-v {
	position: absolute;
	top: 0;
	bottom: 0;
}
.bx-filter .bx-ui-slider-range {
	z-index: 50;
}
.bx-filter .bx-ui-slider-pricebar {
	z-index: 100;
}
.bx-filter .bx-ui-slider-pricebar-vd {
	z-index: 60;
	/*background: #849da4;/* COLOR */
}
.bx-filter .bx-ui-slider-pricebar-vn {
	z-index: 70;
	/*background: #a8dff3;/* COLOR */
}
.bx-filter .bx-ui-slider-pricebar-v {
	z-index: 80;
	/*background: #499fd8;/* COLOR */
}
.bx-filter .bx-ui-slider-handle {
	position: absolute;
	top: 100%;
	width: 22px;
	height: 22px;
	border-bottom: none;
}
.bx-filter .bx-ui-slider-handle:hover {
	-webkit-cursor: grab;
	-ms-cursor: grab;
	-o-cursor: grab;
	cursor: grab;
}
.bx-filter .bx-ui-slider-handle:active {
	-webkit-cursor: grabbing;
	-ms-cursor: grabbing;
	-o-cursor: grabbing;
	cursor: grabbing;
}
.bx-filter .bx-ui-slider-handle.left {
	left: 0;
	margin-left: -21px;
	/* COLOR */
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAArUlEQVQ4y6WSQQ6FMAhEXbjyXwzOpBdx5bXKbYRWLFSJ2m8ysVHfzGA7DH9cuKVfNwwM40ZzZzJlmE3WTjjNfF9Fn2EwMH5pUGYWOJ3w6wZ4wDKz6rUBumQPPxrUmT0IxuxpqxYLQ7MOG5TaHtbk1iza5+VauW5dfdcYSDKcMLkP7wxdA5sMQWV/BkwDTY7mtAfHjpJ/Ihj4DoIgXZ9J+siaimi6rimLgSw87qod+1BRTwMJRYoAAAAASUVORK5CIIA=) no-repeat right top;*/
}
.bx-filter .bx-ui-slider-handle.right {
	right: 0;
	margin-right: -21px;
	/* COLOR */
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAAq0lEQVQ4y6WSQRKDIAxFXXSlF0vOZC+SlddKblMUUhKCraIzX9Ahj58PE268TE8e3GSFJ5BUTDskaRl1QFk8BsHs4BCMQMruVEe+l4kWglFu5yLEZKDFXyeXIFoEpg3z738mJTzXhncj75+QtqjnJENO2sG4I1VXDtR3ogv7O1dHxV10gi75EGILiE78RRKy33AOq07i+Us4kRamkOPGptesQjeXIjZjO+fXB+hjUU/S3Z+WAAAAAElFTkSuQmCC) no-repeat left top;*/
}

/*
*	Select
*
*/

.bx-filter .bx-filter-select-container {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #ccd5db;
}
.bx-retina .bx-filter .bx-filter-select-container {
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
	-moz-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
	-o-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
	border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
}
/* COLOR */
/*.bx-filter .bx-filter-select-container.bx-active,
.bx-filter .bx-filter-select-container:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter .bx-filter-select-container.bx-active,
.bx-retina .bx-filter .bx-filter-select-container:focus {
	-webkit-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
	   -moz-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
		 -o-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
			border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
}*/
.bx-filter .bx-filter-select-block {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 33px;
	margin: 0;
	padding: 0 33px 0 10px;
	border: none;
	border-radius: 2px;
	background: #fff;
}
.bx-filter .bx-filter-select-text {
	font-size: 15px;
	line-height: 33px;
	overflow: hidden;
	max-width: 100%;
	height: 33px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}
.bx-filter .bx-filter-select-text.fix {
	min-width: 120px;
}
.bx-filter .bx-filter-select-text label {
	cursor: pointer;
}
.bx-filter .bx-filter-select-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 33px;
	cursor: pointer;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAG0lEQVQY02OYOXPmf1yYAQRwSsAATglkBch8ADy7LKHqFrgoAAAAAElFTkSuQmCC') no-repeat center;
}
/*
*	Select popup
*
*/

.bx-filter-select-popup {
	background: #fff;
	padding: 0;
	min-width: 173px;
}
.bx-filter-select-popup ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.bx-filter-select-popup ul li {
	display: block;
	text-align: left;
	vertical-align: middle;
}
.bx-filter-select-popup ul li:first-child {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.bx-filter-select-popup ul li label {
	font-size: 14px;
	line-height: 26px;
	display: block;
	text-align: left !important;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0 5px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	color: #575757;
}
.bx-filter-select-popup ul li label.selected,
.bx-filter-select-popup ul li label:hover {
	color: #000;
	background: #f3f8fa;
}
.bx-filter-select-popup ul li label.disabled {
	color: #b8b8b8;
	background: transparent;
}
.bx-filter-select-popup ul li .bx-filter-param-text {
	line-height: 34px !important;
}
/*
* TAGS
*
*/

.bx-filter .bx-filter-tag {
	padding: 18px;
	/*border-top: 1px solid #d7eaf7;/* COLOR */
	/*border-bottom: 1px solid #d7eaf7;/* COLOR */
}
.bx-filter .bx-tag-link {
	font-size: 12px;
	text-decoration: none;
	/*color: #68939e;/* COLOR */
	text-shadow: none;
}
.bx-filter .bx-tag-link.bx-active,
.bx-filter .bx-tag-link:hover {
	color: #1d3d46;
}
/*
*	LABEL
*
*/

.bx-filter .bx-filter-param-btn-inline .bx-filter-param-label {
	float: left;
	display: block;
	margin-right: 5px;
}
.bx-filter .bx-filter-param-btn-block .bx-filter-param-label {
	display: block;
}
.bx-filter .bx-filter-param-label {
	/*font-size: 13px;*/
}
.bx-filter .bx-filter-param-label.dib {
	display: inline-block;
}
.bx-filter .bx-filter-param-text {
	font-weight: normal;
}
.bx-filter .bx-filter-param-label.disabled .bx-filter-param-text {
	color: #6c6c6c;
}
.bx-filter-select-popup .bx-filter-param-label.bx-active {
	background: #f3f8fa;
}
/*
*	Checkbox / Radio 
*
*/


.radio label, .checkbox label {
	padding-left: 0px !important;
}
/*
* 	BTN 
*
*/

.bx-filter .bx-filter-param-btn {
	font-weight: normal;
	display: inline-block;
	width: 38px;
	height: 38px;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	color: #000;
	vertical-align: middle;
	border: 1px solid #ccd5db;
	border-radius: 2px;
	background: #fff;
	position: relative;
	-webkit-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	-moz-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	-ms-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	-o-transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	transition: border .3s ease, box-shadow .1s ease, color .3s ease;
	cursor: pointer;
}
.bx-retina .bx-filter .bx-filter-param-btn {
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
	-moz-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
	-o-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
	border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/border_default.png) 2 repeat;
}
/* COLOR */
/*.bx-filter .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-filter .bx-filter-param-btn:hover,
.bx-filter .bx-filter-param-btn:active,
.bx-filter .bx-filter-param-btn:focus {
	border-color: #499fd8;
}
.bx-retina .bx-filter .bx-filter-param-label.bx-active .bx-filter-param-btn,
.bx-retina .bx-filter .bx-filter-param-btn:hover,
.bx-retina .bx-filter .bx-filter-param-btn:active,
.bx-retina .bx-filter .bx-filter-select-container:focus {
	-webkit-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
	   -moz-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
		 -o-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
			border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/active.png) 2 repeat;
}*/
/* --- colors */
.bx-filter .bx-filter-param-btn.bx-color-sl {}

.bx-filter .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl {
	background: transparent;
	box-shadow: none
}
.bx-filter .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl {
	position: relative;
}
.bx-filter .bx-filter-param-label.disabled .bx-filter-param-btn.bx-color-sl:before {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	content: ' ';
	display: block;
	z-index: 100;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA/UlEQVQ4y5WSQQ6CQAxFOSBuwAtoAitc4R6MkKgYJULUi8Ax4DgKm9o/45BxBBNJmkB/33T6qUVEHkfDUXHY1sQD7V2DWg+JJox3lOZ3enYdf5IzAjnQkvxGa64Fg2S9PV3JXa4ozoovWEGbY0nOIqDkfIVeQ5hBAOQsAy5guO8FbEJxVqqDZ+rUuQ6rziJ3VLkBcs05BBxlF1nIADrJESYgE0YhAER0KH5DphEKFDNPuG1AhTAi4jnRWV17FNYhcT3NHLzLzuUnjI0YHP203EWY8ENqNsAq5Y3Qf4NuhIT7wTBsDxgIbRjvCfCUe6ozoFCuXIukj5c/lhy1/gvSDM3b8PrjegAAAABJRU5ErkJggg==") no-repeat center;
	opacity: .7;
}
.bx-filter .bx-filter-param-btn .bx-filter-param-text {
	line-height: 26px;
}
/*
* BTN P/M
*
*/

.bx-filter .bx-filter-param-btn.bx-spm {
	width: 23px;
	min-width: 23px;
	height: 23px;
	line-height: 23px;
	font-weight: normal;
	padding: 0;
	font-size: 17px;
	color: #767b7e;
	vertical-align: top;
	border-radius: 50%;
	background-color: transparent;
}
.bx-filter .bx-filter-param-btn.bx-spm.bx-plus {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAANUlEQVQoz2NgwAQsQMzJQCSwAeKGQa7YFKoAhmOgim3QsAxIcSFUkhC2GaqhgQ4UgNgFmwQAij8OUFmBFssAAAAASUVORK5CIIA=") no-repeat center;
}
.bx-filter .bx-filter-param-btn.bx-spm.bx-minus {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAG0lEQVQYV2NgYGDgBuI4AlgGiBn4gLicAFYGAAFkBwE95V42AAAAAElFTkSuQmCC") no-repeat center;
}
.bx-filter .bx-filter-param-btn.bx-spm:active {
	outline: none !important;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .12);
}
.bx-filter span.bx-spm {
	font-size: 18px;
	/*font-weight:bold;*/

	line-height: 23px;
	display: inline-block;
	height: 23px;
	margin: 0 10px;
	vertical-align: middle;
	color: #000;
}
/*
*	icon
*
*/

.bx-filter-select-popup .bx-filter-select-text-icon,
.bx-filter .bx-filter-select-text-icon {
	line-height: 33px;
	position: relative;
	display: inline-block;
	width: 23px;
	height: 23px;
	margin-top: -4px;
	margin-right: 2px;
	vertical-align: middle;
	border-radius: 2px;
}
.bx-filter-select-popup .bx-filter-btn-color-icon,
.bx-filter .bx-filter-btn-color-icon {
	line-height: 24px;
	/*position:relative;*/
	/*top:4px;*/
	border-radius: 2px;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05);
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0 5px 3px 0;
}
.bx-filter-select-popup .bx-filter-btn-color-icon {
	top: 0 !important;
}
.bx-filter .bx-filter-select-block .bx-filter-btn-color-icon {
	top: -1px !important;
}
.bx-filter-btn-color-icon.all {
	position: relative;
	border: none;
	box-shadow: none
}
.bx-filter-btn-color-icon.all:after,
.bx-filter-btn-color-icon.all:before {
	position: absolute;
	width: 60%;
	height: 60%;
	background: #fff;
	content: " ";
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}
.bx-filter-btn-color-icon.all:after {
	right: 0;
	bottom: 0;
}
.bx-filter-btn-color-icon.all:before {
	top: 0;
	left: 0;
}
.bx-filter .bx-filter-param-label.disabled .bx-filter-btn-color-icon {
	opacity: .2;
}
/*
* 	BIZ
*
*/

.bx-filter .bx-filter-parameter-biz {
	font-size: 14px;
	line-height: 15px;
	display: inline-block;
	margin-right: 10px;
	text-decoration: none;
	color: #1485ce;
	border-bottom: 1px dashed;
}
.bx-filter .bx-filter-parameter-biz:hover {
	text-decoration: none;
	border-bottom: 1px solid;
}
.bx-filter .bx-filter-parameter-biz.bx-active {
	position: relative;
	/*padding-left:20px;*/

	color: #000;
	border-color: transparent;
}
/* SLIDERs */

.bx-filter .bx-filter-input-container input[type=text] {
	height: 25px;
	font-size: 14px;
}

.bx-filter .bx-ui-slider-track-container {
	padding: 20px 20px 40px 20px;
}

.bx-filter .bx-ui-slider-pricebar-vd {
	background: #3a58d2;
	height: 2px;
	border-radius: 1px;
}
.bx-filter .bx-ui-slider-pricebar-vn {
	background: #878787;
	height: 2px;
	border-radius: 1px;
}
.bx-filter .bx-ui-slider-pricebar-v {
	background: #3a58d2;
	height: 2px;
	border-radius: 1px;
}

.bx-filter .bx-ui-slider-range {
	height: 2px;
	z-index: 100;
}

.bx-filter .bx-ui-slider-range .bx-ui-slider-handle {
	background: #fff;
	border-radius: 10px;
	height: 20px;
	width: 20px;
	margin-top: -10px;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
}
.bx-filter .bx-ui-slider-range .bx-ui-slider-handle:focus {
	outline: none;
}

.bx-filter .bx-ui-slider-range .bx-ui-slider-handle.left {
	margin-left: -10px;
}

.bx-filter .bx-ui-slider-range .bx-ui-slider-handle.right {
	margin-right: -10px;
}

/*
*	BTN result and reset 
*
*/

.bx-filter .buttons-row {
	position: absolute;
	width: 100%;
	text-align: center;
}

.btn-reset,
.btn-themes {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 7px 13px 6px 13px;
	border: none;
	width: 100%;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
	border-radius: 3px;
	min-height: 30px;
	border: none;
}
.btn-themes:active, .btn-themes:hover, .btn-themes.bx-active {
	background: #546dd1;
	text-decoration: none;
}.btn-themes:focus, .btn-themes.focus {
	background: #3252d1;
}

.btn-reset {
	background: #fff;
	color: #434343;
	border: 1px solid #dadada !important;
}
.btn-reset:active, .btn-reset:hover, .btn-reset.bx-active {
	background: #dadada;
}
/*
* 	Result Popup
*
*/

.bx-filter .bx-filter-popup-result {
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	z-index: 915;
	display: none;
	line-height: normal;
	margin-top: -7px;
	margin-left: 20px;
	text-align: center;
	padding: 10px 10px;
	white-space: nowrap;
	color: #3f3f3f;
	min-height: 37px;
	line-height: 18px;
	border-style: solid;
	border: 1px solid #C6DCE7;
	width: 165px;
}
/*.bx-filter .bx-filter-popup-result.left {
	border-width: 2px 10px 2px 2px;
	-webkit-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/result_popup_left.png) 4 20 4 4 repeat;
	-moz-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/result_popup_left.png) 4 20 4 4 repeat;
	-o-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/result_popup_left.png) 4 20 4 4 repeat;
	border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/result_popup_left.png) 4 20 4 4 fill repeat;
}*/
.bx-filter .bx-filter-popup-result.left {
	border: none;
	background: #3a58d2;
}
/*.bx-filter .bx-filter-popup-result.right {
	border-width: 2px 2px 2px 10px;
	-webkit-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/result_popup_right.png) 4 4 4 20 repeat;
	-moz-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/result_popup_right.png) 4 4 4 20 repeat;
	-o-border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/result_popup_right.png) 4 4 4 20 repeat;
	border-image: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/images/result_popup_right.png) 4 4 4 20 fill repeat;
}*/
.bx-filter .bx-filter-popup-result.right {
	border: none;
	background: #3a58d2;
}
.bx-filter .bx-filter-popup-result.right:before {
	content: '';
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	margin-left: -10px;
	margin-top: 27px;
	left: 0px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #3a58d2;
	border-bottom: 10px solid transparent;
}

.bx-filter .bx-filter-popup-result.right {
	left: 97%;
}
.bx-filter .bx-filter-popup-result.left {
	right:97%;
}
.bx-filter-horizontal .bx-filter-popup-result{
	display: inline-block;
	position: relative;
	left: auto;
	right: auto;
	bottom: -7px;
}
.bx-filter .bx-filter-popup-result .selected-text {
	margin-top: 10px;
	text-decoration: underline;
	color: #fff;
}
.bx-filter .bx-filter-popup-result a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 7px 13px 6px 13px;
	border: none;
	width: 100%;
	text-decoration: none;
	background: #fff;
	color: #3a58d2;
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
}
.bx-filter .bx-filter-popup-result a:hover {
	background: #eee;
}
.bx-filter .bx-filter-popup-result-close {
	display: none;
}
@media (max-width: 767px) {
	.bx-touch .adaptiv .bx-filter .bx-filter-popup-result {
		font-size: 12px;
		line-height: 14px;
		position: fixed !important;
		z-index: 1001;
		top: auto !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		margin-top: 0;
		margin-left: 0;
		width: auto;
		height: auto;
		padding: 10px;
		border-radius: 2px;
		border: 1px solid #c6dae7;
		background: rgba(255,255,255,.9);
	}
	.bx-touch .adaptiv .bx-filter .bx-filter-popup-result br{display: none;}
	.adaptiv .bx-filter .bx-filter-popup-result .arrow {
		display: none;
	}
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog/catalog/style.css?15548708871817 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/menu/catalog.left.1/style.css?15548708882273 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog.smart.filter/.default/style.css?155487088821912 */
