

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/subscribe.edit/subscribe/style.css?1554870888291*/
.subscription  .uni-input-text {
	max-width: 560px;
	width: 100%;
}
font.notetext {
	display: block;
	padding-bottom: 15px;
}
.field-name {
	font-size: 15px;
	color:#1f1f1f;
	padding-bottom: 15px;
}
input[type="checkbox"] {
	display:none;
}
.subscription .uni-button {
	padding: 11px 25px;
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/subscribe.edit/subscribe/style.css?1554870888291 */
