.banners-list .banners-list-item {
	border-radius: 3px;
    overflow: hidden;
}
.banners-list .img_banner {
	display:block;
	width:100%;
	padding-top:115%;
	//background-position:center;
	background-repeat:no-repeat;
	border-radius: 0;
	border-radius: 3px;
	background-size:contain;
}
.banners-list ul {
	list-style:none;
	margin:0;
	padding:0;
}
.banners-list ul li {
	padding: 8px;
}
.banners-list ul  li .banners-list-item {
	position:relative;
}
.banners-list .name_banner {
	display: block;
	position: absolute;
	background: #fff;
	height: 95px;
	width: 100%;
	bottom: 0;
	left: 0;
	border-radius: 0;
	padding: 4% 5%;
	text-decoration:none;
	outline:none;
	box-sizing: border-box;	
	
}
.banners-list .name_banner .name {
	font-weight:bold;
	font-size:13px;
	color:#363434;
	text-decoration:none;
}
.banners-list .name_banner .preview_text {
	color:#363434;
	font-size:13px;
	display:block;
	padding-top:2%;
}

.banner_block {
    position: absolute;
    left: 0;
    width: 100%;
    background: #f6f6f6;
}
.banner_block_wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
	padding: 30px 8px;
}