

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news.list/faq/style.css?1554870888769*/
/*faqs*/
.faq_block .title {
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 25px;
	color: black;
}
.faq_block .one_faq {
	margin-bottom:25px;
}
.faq_block .title_question_faq {	
	font-size: 13px;
	font-weight: bold;
	color: black;
	margin-right: 10px;
}
.faq_block .question_faq {		
	font-weight: normal;	
	color: black;
	font-size: 13px;
}
.faq_block .arrow_faq {	
	width: 31px;
	height: 16px;	
	background: url(/bitrix/templates/unigarderob_s1/components/bitrix/news.list/faq/images/ugol.png) no-repeat;
	margin-left: 7px;
	margin-top:2px;
}
.faq_block .answer_faq {
	padding: 20px;
	background: #f1f2f5;
	margin: 22px 0;
	position: relative;
	border-radius: 12px;
	position: relative;
	margin:0;
	font-size: 12px;
	color:#636363;
}
.send_question {
	margin-top: 20px;
    padding: 11px 50px !important;
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news.list/faq/style.css?1554870888769 */
