.top_plash {
	background:transparent;
	border:1px solid #ebebec;
	border-radius:5px;
	overflow:hidden;
	height:40px;
	margin-bottom:15px;
}
.top_plash .title_text {	
	font-size:12px;
	color:#444648;
	text-shadow:1px 1px 1px #fff;
	line-height: 40px;
}
.top_plash .value_sort {
	list-style:none;
	margin:0;
	padding:0;
	margin-top:7px;
	margin-left:29px;
}
.top_plash .value_sort li {
	float:left;
}
.top_plash .value_sort li.active {
	background:#444648;
	border-radius:3px;
}
.top_plash .value_sort li.active .arrow_down {
	display: inline-block;	
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #fff;
	position:absolute;
	left:9px;
	top:10px;
}
.top_plash .value_sort li.active .arrow_up {
	display: inline-block;	
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 7px solid #fff;
	position:absolute;
	left:9px;
	top:10px;
	margin-right:5px;
}
.top_plash .value_sort li a {
	display:block;
	color: #444648;
	text-shadow: 1px 1px 1px #fff;
	font-size:12px;
	padding: 5px 10px 5px 24px;
	text-decoration:none;
	position:relative;
}
.top_plash .value_sort li.active a {
	color:#fff;
	text-shadow:none;
	
}

.top_plash .sort_plash {
	padding-left:13px;
	margin-right: 20%;
}