.basket-small-1 {
    display: block;
    overflow: hidden;
}

.basket-small-1.basket-hidden {
    display: none;
}

.basket-small-1 .basket-wrapper {
    display: block;
    margin: -5px;
    font-size: 0px;
    white-space: nowrap;
}

.basket-small-1 .basket-element {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    white-space: nowrap;
    text-decoration: none;
}

.basket-small-1 .basket-element .basket-element-wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-right: 10px;
}

.basket-small-1 .basket-element .basket-icon {
    display: block;
    width: 20px;
    height: 22px;
    background-repeat: no-repeat;
}

.basket-small-1 .basket-element .basket-text {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 18px;
    height: 18px;
    border:  none;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: #3e3a3a;
    background: #ffc605;
}

.basket-small-1 .basket-element .basket-sum {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.basket-small-1 .basket-element.wish-list .basket-icon {
    background-image: url('images/icon.wishlist.png');
    background-position: 0px 0px;
}

.basket-small-1 .basket-element.basket .basket-icon {
    background-image: url('images/icon.basket.png');
    background-position: 0px 0px;
}

.basket-fly-1 {
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 9999;
}

.basket-fly-1 .basket-panel {
    position: absolute;
    width: 60px;
    background: #ebebeb;
    margin-left: -60px;
    overflow: hidden;
    border-radius: 7px 0px 0px 7px;
}

.basket-fly-1 .basket-panel .basket-panel-wrapper {
    display: block;
    overflow: hidden;
    width: 100%;
    font-size: 0px;
}

.basket-fly-1 .basket-panel .basket-delimiter {
    display: block;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background: #e2e2e2;
}

.basket-fly-1 .basket-panel .basket-element {
    padding: 15px 5px;
    text-align: center;
    cursor: pointer;
	position: relative;
}

.basket-fly-1 .basket-panel .basket-element .basket-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: 9px;
    margin-right: 9px;
}

.basket-fly-1 .basket-panel .basket-element .basket-text {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    overflow: hidden;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    right: 9px;
	top: 13px;
    height: 20px;
    border-radius: 50%;
    color: #fff !important;
}

.basket-fly-1 .basket-panel .basket-element.basket .basket-icon {
    background-image: url('images/icon.basket.png');
    background-position: 0px 0px;
}

.basket-fly-1 .basket-panel .basket-element.wish-list .basket-icon {
    background-image: url('images/icon.wishlist.png');
    background-position: 0px 0px;
}

.basket-fly-1 .basket-panel .basket-element.call .basket-icon {
    background-image: url('images/icon.call.png');
    background-position: 0px 0px;
}

.basket-fly-1 .basket-panel .basket-element.compare .basket-icon {
    background-image: url('images/icon.compare.png');
    background-position: 0px 0px;
}

.basket-fly-1 .basket-content {
    display: block;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.basket-fly-1 .basket-content .basket-content-wrapper {
    display: block;
}

.basket-fly-1 .basket-content .basket-sections {
    display: block;
    overflow: hidden;
    width: 0px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section {
    display: none;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    width: 800px;
	min-height: 217px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-header {
    margin: 20px 20px;
    font-size: 16px;
    line-height: 16px;
	text-align: left;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body {
    display: block;
    height: 237px;
    overflow: auto;
}

/* Numeric */
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-numeric {
    display: block;
    font-size: 0px;
    white-space: nowrap;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-numeric .basket-numeric-input {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 12px;
    padding: 7px 0px;
    text-align: center;
    width: 40px;
    border: 1px solid #e2e2e2;
    border-left: none;
    border-right: none;
    background: #ffffff;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-numeric .basket-numeric-button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 0px;
    text-align: center;
    width: 25px;
    border: 1px solid #e2e2e2;
    background: #ffffff;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
        -ms-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
    -webkit-transition-property: background;
       -moz-transition-property: background;
        -ms-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
}
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-numeric .basket-numeric-button:hover {
    background: #e2e2e2;
}
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-numeric .basket-numeric-button:focus {
    outline: none;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-numeric .basket-numeric-button.basket-numeric-button-increase {
    border-radius: 0px 3px 3px 0px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-numeric .basket-numeric-button.basket-numeric-button-decrease {
    border-radius: 3px 0px 0px 3px;
}
/* -Numeric- */

/* MinButtons */
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min {
    display: block;
    overflow: hidden;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min .basket-buttons-min-wrapper {
    display: block;
    overflow: hidden;
    margin: -10px;
    font-size: 0px;
    white-space: nowrap;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min .basket-buttons-min-button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min .basket-buttons-min-button .basket-buttons-min-button-icon {
    display: block;
    background-image: url('images/basket.sprite.png');
    background-repeat: no-repeat;
    background-position:  16px 32px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min .basket-buttons-min-button.basket-buttons-min-button-wishlist .basket-buttons-min-button-icon {
    background-position:  0px 0px;
}
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min .basket-buttons-min-button.basket-buttons-min-button-wishlist .basket-buttons-min-button-icon:hover {
    background-position:  0px -16px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min .basket-buttons-min-button.basket-buttons-min-button-basket .basket-buttons-min-button-icon {
    background-position:  -32px 0px;
}
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min .basket-buttons-min-button.basket-buttons-min-button-basket .basket-buttons-min-button-icon:hover {
    background-position:  -32px -16px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min .basket-buttons-min-button.basket-buttons-min-button-delete .basket-buttons-min-button-icon {
    background-position:  -16px 0px;
}
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body
.basket-buttons-min .basket-buttons-min-button.basket-buttons-min-button-delete .basket-buttons-min-button-icon:hover {
    background-position:  -16px -16px;
}
/* -MinButtons- */

/* Buttons */
.basket-fly-1 .basket-content .basket-sections .basket-section
.basket-button {
    display: inline-block;
    font-size: 12px;
    border: none;
    background: #1a58d7;
    color: #ffffff;
    padding: 8px 20px;
    cursor: pointer;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
        -ms-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
    -webkit-transition-property: border, color, background;
       -moz-transition-property: border, color, background;
        -ms-transition-property: border, color, background;
         -o-transition-property: border, color, background;
            transition-property: border, color, background;
    text-decoration: none;
}

.basket-fly-1 .basket-content .basket-sections .basket-section
.basket-button.basket-button-gray {
    color: #1d1d1d;
    background: #ffffff;
    border:  1px solid #e2e2e2;
    padding: 7px 19px;
}
.basket-fly-1 .basket-content .basket-sections .basket-section
.basket-button.basket-button-gray:hover {
    background: #e2e2e2;
}
/* -Buttons- */

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table {
    width: 100%;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table .basket-row {
    height: 100px;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:  border-box;
}
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table .basket-row:hover {
    background: #f7f7f7;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table .basket-row.basket-row-header {
    height: 36px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:  border-box;
}
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table .basket-row.basket-row-header:hover {
    background: transparent;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table .basket-row .basket-column {
    
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table .basket-row .basket-column .basket-cell {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
}
.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table .basket-row .basket-column .basket-cell.basket-cell-nowrap {
    white-space: nowrap;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table .basket-row .basket-column .basket-cell a {
    text-decoration: none;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-body .basket-table .basket-row.basket-row-header .basket-column .basket-cell {
    font-size: 12px;
    line-height: 12px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-buttons {
    display: block;
    overflow: hidden;
    padding: 20px 20px 10px 20px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-buttons .basket-buttons-wrapper {
    display: block;
    margin: -10px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-buttons .basket-button-wrapper {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-notify {
    display: block;
    padding: 40px 20px;
    overflow: hidden;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-notify .basket-notify-wrapper {
    display: block;
    margin: -10px;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-notify .basket-text {
    display: block;
    text-align: center; 
    padding: 10px;
    font-size : 16px;
    line-height: 24px;
    font-weight: normal;
    white-space: normal;
}

.basket-fly-1 .basket-content .basket-sections .basket-section .basket-notify .basket-element {
    display: block;
    text-align: center; 
    padding: 10px;
    white-space: normal;
}

.compare-hidden {
	display: none;
}
@media all and (max-width: 950px) {
    .compare-hidden {
        display: inline-block;
    }

    .basket-small-1.basket-hidden {
        display: block;
    }
    
    .basket-fly-1 {
        display: none;
    }
}
@media all and (max-width: 400px) {
	.basket-small-1 .basket-element .basket-sum{
		display: none;
	}
}