.services_min_2 {
	
}
.services_min_2  table {
	width:100%;
}
.services_min_2 .one_review {
	padding:30px;
	margin-bottom:18px;
	border:1px solid #dfdfdf;
}
.services_min_2 .name_news {
	font-size:17px;
	text-decoration:none;
	height:22px;
	overflow:hidden;
	display:block;
}
.services_min_2 .preview {
	font-size:13px;
	color:#282828;
	margin-top:25px;
	max-height:54px;
	overflow:hidden;
}
.services_min_2 table td {
	vertical-align:top;
}
.services_min_2 .img {
	width:40%;
	padding-right:8px;
}
.services_min_2 .img img {
	max-width:100%;
	margin-right:8px;
}