.catalog-sections-extend {
    display: block;
}

.catalog-sections-extend-wrapper {
    display: block;
    margin: -12px;
}

.catalog-sections-extend .section {
    display: block;
    padding: 12px;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.catalog-sections-extend .section .section-wrapper {
    display: block;
    position: relative;
    height: 380px;
    border-radius: 8px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow 0.3s;
       -moz-transition: -moz-box-shadow 0.3s;
        -ms-transition: box-shadow 0.3s;
         -o-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
    
}
.catalog-sections-extend .section .section-wrapper:hover {
    -webkit-box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.2);
}

.catalog-sections-extend .section .image {
    display: block;
    font-size: 0px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
        -ms-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.catalog-sections-extend .section .menu {
    position: absolute;
    display: block;
    top: 0px;
    left: auto;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 200px;
    background: #ffffff;
}

.catalog-sections-extend .section .menu .menu-wrapper {
    display: block;
    margin: 5px 30px;
}

.catalog-sections-extend .section .menu .menu-caption {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    white-space: nowrap;
    padding: 15px 0px;
    text-decoration: none;
    overflow: hidden;
    height: 14px;
}

.catalog-sections-extend .section .menu .menu-item {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    white-space: nowrap;
    padding: 15px 0px;
    text-decoration: none;
    overflow: hidden;
    height: 14px;
}

.catalog-sections-extend .section .menu .menu-item.menu-item-all {
    position: absolute;
    bottom: 5px;
    color: #636363;
    padding-bottom: 3px;
    margin-bottom: 15px;
    border-bottom: 1px solid #636363;
    -webkit-transition: color 0.3s;
       -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
         -o-transition: color 0.3s;
            transition: color 0.3s;
}
.catalog-sections-extend .section .menu .menu-item.menu-item-all:hover {
    color: #000;
    border-color: #000;
}

@media all and (max-width: 740px) {
    .adaptiv .catalog-sections-extend .section {
        float: none;
        width: auto;
    }
}