/* ---- PAGINATION BOTTOM ---- */
.bx_pagination_bottom{
	color: #8d8d8d;
	font-size:11px;
}

.bx_pagination_bottom .bx_pagination_section_one{ }
.bx_pagination_bottom .bx_pagination_section_two{
	float: right;
	text-align: right;
}
.bx_pagination_bottom .bx_pg_section{
	display: inline-block;
	height: 30px;
	vertical-align: top;
	line-height: 30px;
}

.bx_pagination_bottom .bx_pagination_select_container{display: inline-block;}
.bx_pagination_bottom .bx_pagination_select_container select{
    position: relative;
    margin: 2px 20px 2px 10px;
    padding: 1px 25px 3px 5px;
    height: 22px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    background: #fff url(images/select_arrow.png) no-repeat right center;
    color: #8d8d8d;
    font-size: 11px;
    line-height: 16px;
    resize: none;
    -webkit-appearance: none;
}

.bx_pagination_bottom .bx_pagination_page{
	white-space: nowrap;
	font-size: 12px;
}
.bx_pagination_bottom .bx_pagination_page ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.bx_pagination_bottom .bx_pagination_page li{
	display: inline-block;
	min-width: 22px;
	color: #282828;
	text-align: center;
	line-height: 22px;
	font-size:13px;
	border:1px solid #e5e5e5;
	background:#fff;
	border-radius:3px;
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
	
}
.bx_pagination_bottom .bx_pagination_page li a{
	display: block;
	min-width: 22px;
	color: #282828;
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	font-size:13px;
}
.bx_pagination_bottom .bx_pagination_page li a:hover{color: #555;}
.bx_pagination_bottom .bx_pagination_page li.bx_active{	
	background: #ffffff; /* Old browsers */	
}

.bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{display: block;}
.bx_pagination_bottom .bx_pg_section.bx_pg_show_col select{margin-right: 5px;}


.bx_pagination_bottom .bx_wsnw{white-space: nowrap;}




/*1*/
@media (min-width:981px){

}
/*2*/
@media (min-width:640px) and (max-width:980px){

}
/*3*/
@media (min-width:480px) and (max-width:639px) {
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container select{margin-right: 10px;}
}
/*4*/
@media (max-width:479px) {
	.adaptiv .bx_pagination_bottom .bx_pagination_section_one{ }
	.adaptiv .bx_pagination_bottom .bx_pagination_section_two{
		float: none;
		text-align: left;
	}
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container{
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		width: 47%;
	}
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container select{
		display: block;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		margin-right: 0 !important;
		width: 90%;
	}
	.adaptiv .bx_pagination_bottom .bx_pg_section{
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		width: 100%;
		text-align: left;
	}
	.adaptiv .bx_pagination_bottom .bx_pagination_page{white-space: normal;}	
	.adaptiv .bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{width: 100%;height: auto;text-align: center;}
	.adaptiv .bx_pagination_bottom .bx_pg_section.bx_pg_show_col{display: none;}
	.adaptiv .bx_pagination_bottom .bx_pg_text{
		display: inline-block;
		width: 50%;
	}
	.adaptiv .bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{display: none;}
}
/*5*/
@media (max-width:320px){
}

	.adaptiv .bx_pagination_bottom .bx_pagination_section_one,
	.adaptiv .bx_pagination_bottom .bx_pagination_section_two,
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container,
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container select,
	.adaptiv .bx_pagination_bottom .bx_pg_section,
	.adaptiv .bx_pagination_bottom .bx_pagination_page,
	.adaptiv .bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num,
	.adaptiv .bx_pagination_bottom .bx_pg_section.bx_pg_show_col,
	.adaptiv .bx_pagination_bottom .bx_pg_text,
	.adaptiv .bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}



/* ---- --END-- PAGINATION ---- */
.bx_pagination_bottom .bx_pagination_page li.text_pag {
	padding: 0 8px;
	font-family:Arial,sans-serif;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
.bx_pg_section {
	float:right;
}