

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news/news/style.css?15548708881378*/
.top_plash {
	background:transparent;
	border:1px solid #ebebec;
	border-radius:5px;
	overflow:hidden;
	height:40px;
	margin-bottom:15px;
}
.top_plash .title_text {	
	font-size:12px;
	color:#444648;
	text-shadow:1px 1px 1px #fff;
	line-height: 40px;
}
.top_plash .value_sort {
	list-style:none;
	margin:0;
	padding:0;
	margin-top:7px;
	margin-left:29px;
}
.top_plash .value_sort li {
	float:left;
}
.top_plash .value_sort li.active {
	background:#444648;
	border-radius:3px;
}
.top_plash .value_sort li.active .arrow_down {
	display: inline-block;	
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #fff;
	position:absolute;
	left:9px;
	top:10px;
}
.top_plash .value_sort li.active .arrow_up {
	display: inline-block;	
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 7px solid #fff;
	position:absolute;
	left:9px;
	top:10px;
	margin-right:5px;
}
.top_plash .value_sort li a {
	display:block;
	color: #444648;
	text-shadow: 1px 1px 1px #fff;
	font-size:12px;
	padding: 5px 10px 5px 24px;
	text-decoration:none;
	position:relative;
}
.top_plash .value_sort li.active a {
	color:#fff;
	text-shadow:none;
	
}

.top_plash .sort_plash {
	padding-left:13px;
	margin-right: 20%;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/system.pagenavigation/arrows/style.css?15548708885883*/
/* ---- PAGINATION BOTTOM ---- */
.bx_pagination_bottom{
	color: #8d8d8d;
	font-size:11px;
}

.bx_pagination_bottom .bx_pagination_section_one{ }
.bx_pagination_bottom .bx_pagination_section_two{
	float: right;
	text-align: right;
}
.bx_pagination_bottom .bx_pg_section{
	display: inline-block;
	height: 30px;
	vertical-align: top;
	line-height: 30px;
}

.bx_pagination_bottom .bx_pagination_select_container{display: inline-block;}
.bx_pagination_bottom .bx_pagination_select_container select{
    position: relative;
    margin: 2px 20px 2px 10px;
    padding: 1px 25px 3px 5px;
    height: 22px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    background: #fff url(/bitrix/templates/unigarderob_s1/components/bitrix/system.pagenavigation/arrows/images/select_arrow.png) no-repeat right center;
    color: #8d8d8d;
    font-size: 11px;
    line-height: 16px;
    resize: none;
    -webkit-appearance: none;
}

.bx_pagination_bottom .bx_pagination_page{
	white-space: nowrap;
	font-size: 12px;
}
.bx_pagination_bottom .bx_pagination_page ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.bx_pagination_bottom .bx_pagination_page li{
	display: inline-block;
	min-width: 22px;
	color: #282828;
	text-align: center;
	line-height: 22px;
	font-size:13px;
	border:1px solid #e5e5e5;
	background:#fff;
	border-radius:3px;
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
	
}
.bx_pagination_bottom .bx_pagination_page li a{
	display: block;
	min-width: 22px;
	color: #282828;
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	font-size:13px;
}
.bx_pagination_bottom .bx_pagination_page li a:hover{color: #555;}
.bx_pagination_bottom .bx_pagination_page li.bx_active{	
	background: #ffffff; /* Old browsers */	
}

.bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{display: block;}
.bx_pagination_bottom .bx_pg_section.bx_pg_show_col select{margin-right: 5px;}


.bx_pagination_bottom .bx_wsnw{white-space: nowrap;}




/*1*/
@media (min-width:981px){

}
/*2*/
@media (min-width:640px) and (max-width:980px){

}
/*3*/
@media (min-width:480px) and (max-width:639px) {
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container select{margin-right: 10px;}
}
/*4*/
@media (max-width:479px) {
	.adaptiv .bx_pagination_bottom .bx_pagination_section_one{ }
	.adaptiv .bx_pagination_bottom .bx_pagination_section_two{
		float: none;
		text-align: left;
	}
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container{
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		width: 47%;
	}
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container select{
		display: block;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		margin-right: 0 !important;
		width: 90%;
	}
	.adaptiv .bx_pagination_bottom .bx_pg_section{
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		width: 100%;
		text-align: left;
	}
	.adaptiv .bx_pagination_bottom .bx_pagination_page{white-space: normal;}	
	.adaptiv .bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num{width: 100%;height: auto;text-align: center;}
	.adaptiv .bx_pagination_bottom .bx_pg_section.bx_pg_show_col{display: none;}
	.adaptiv .bx_pagination_bottom .bx_pg_text{
		display: inline-block;
		width: 50%;
	}
	.adaptiv .bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{display: none;}
}
/*5*/
@media (max-width:320px){
}

	.adaptiv .bx_pagination_bottom .bx_pagination_section_one,
	.adaptiv .bx_pagination_bottom .bx_pagination_section_two,
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container,
	.adaptiv .bx_pagination_bottom .bx_pagination_select_container select,
	.adaptiv .bx_pagination_bottom .bx_pg_section,
	.adaptiv .bx_pagination_bottom .bx_pagination_page,
	.adaptiv .bx_pagination_bottom .bx_pg_section.bx_pg_pagination_num,
	.adaptiv .bx_pagination_bottom .bx_pg_section.bx_pg_show_col,
	.adaptiv .bx_pagination_bottom .bx_pg_text,
	.adaptiv .bx_pagination_bottom .bx_pg_section.pg_pagination_num .bx_pg_text{
		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		    -ms-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
		 		transition: all 0.3s ease;
	}



/* ---- --END-- PAGINATION ---- */
.bx_pagination_bottom .bx_pagination_page li.text_pag {
	padding: 0 8px;
	font-family:Arial,sans-serif;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
.bx_pg_section {
	float:right;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news/news/bitrix/news.list/.default/style.css?15548708881317*/
.one_news {
	width:100%;
	padding:25px 0;
	clear:both;	
	-moz-box-sizing: border-box; 
    box-sizing: border-box; 
	overflow:hidden;
	border-top: 1px solid #eaeaea;
}
.one_news:first-child {
	border-top: none;
}
.one_news a.img_news {
	display:block;
	position:relative;
	width: 150px;
	height: 150px;
	float: left;
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
	overflow: hidden;
	font-size: 0px;
	white-space: nowrap;
	text-align: center;
}
.one_news a.img_news .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.one_news a.img_news img{
	display: inline-block;
	
}
.one_news .body_news {
	display: block;
	margin-left: 170px;
}
.one_news a.name_news {
	font-size: 15px;	
	font-weight: bold;
	text-decoration: none;
	display: block;
}
.one_news .prev_text {
	width:100%;
	overflow:hidden;
	padding-top:14px;
	font-size:13px;
	line-height: 20px;
	max-height:80px;
	color:#2e2e2e;
}
.one_news .period {
	font-size:11px;
	color:#444648;
	display:block;
	width:auto;
	padding:10px 35px 10px 0;
	float:left;	
	overflow:hidden;
	margin-top:17px;
}
.one_news .period p {
	padding:0;
	margin:0;
}
@media (max-width:580px) {
	.adaptiv .one_news a.img_news {
		display:none;
		width:0;
		height:0;
	}
	.adaptiv .one_news .body_news {
		margin-left: 0px;
	}
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news/news/style.css?15548708881378 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/system.pagenavigation/arrows/style.css?15548708885883 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news/news/bitrix/news.list/.default/style.css?15548708881317 */
