.block_popular.standart_block {
	margin-bottom:25px;
}
.block_popular .uni_parent_col {
    margin-top: -8px;
    margin-bottom: -8px;
}
.block_popular .one_categories {
	position:relative;
}
.block_popular .uni_col a.image {
	display:block;
	width:100%;
	padding-top:100%;
	
}
.block_popular .uni_col {
    padding: 0px;
}
.block_popular .uni_col a.image {
    position: relative;
}
.block_popular .uni_col a.image .wrapper {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
}
.block_popular .uni_col a.image .wrapper div {
    width: 100%;
    height: 100%;
    background-size:cover;
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:center;
}
.block_popular .uni_col.uni-33 a.image {
    padding-top: 100%;
}
.block_popular .uni_col.uni-50  a.image {
	padding-top: 50%;
}
.block_popular .uni_col.uni-66  a.image {
    padding-top: 50%;
}
.block_popular .uni_col.uni-75  a.image {
	padding-top: 33.3333333%;
}
.block_popular .uni_col.uni-100  a.image {
    padding-top: 33.3333333%;
}
.block_popular .uni_col .name {
	position: absolute;
	padding: 6px 12px;
	font-weight: bold;	
	text-transform:uppercase;
	font-weight: bold;
	box-sizing:border-box;
	max-width: 65%;
	word-wrap: break-word;
	background:#fff;
	font-size:20px;
	color:#000;
	top:50%;
	left:50%;
	text-align:center;
	bottom:inherit;
}
.block_popular .uni_col .popular_text_wrap {
	position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.block_popular .uni_col .popular_text_wrap .helper {
	display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
}
.block_popular .uni_col .popular_text_wrap .text {
	display: inline-block;
    vertical-align: middle;
	font-weight: bold;	
	text-transform:uppercase;
	font-weight: bold;
	box-sizing:border-box;
	max-width: 65%;
	word-wrap: break-word;
	background:#fff;
	font-size:20px;
	color:#000;
	text-align:center;
}

.block_popular .uni_col .popular_text_wrap .text:after {
	content:"";
	display:block;
	left:0;
	right:0;
	width:100px;
	border-top:1px solid #000;
	margin:auto;
	margin-top: 10px;
}
.block_popular .uni_col .popular_text_wrap .text:before {
	content:"";
	display:block;
	left:0;	
	right:0;	
	width:100px;
	border-bottom:1px solid #000;
	margin:auto;
	margin-bottom: 7px;
}
.block_popular .uni_col .popular_text_wrap .text {
	font-size:25px;
	text-transform:inherit;
	font-weight:normal;
	color:#3e3939;	
}

.block_popular .uni_col .wrapper .wrapper-shadow {
	display: block;
	overflow: hidden;
}

.block_popular .uni_col .wrapper .wrapper-shadow .category-image {
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
		-ms-transition: 0.3s;
		 -o-transition: 0.3s;
			transition: 0.3s;
}
.block_popular .uni_col .wrapper .wrapper-shadow .category-image:hover {
	-webkit-transform: scale(1.2,1.2);
	   -moz-transform: scale(1.2,1.2);
		-ms-transform: scale(1.2,1.2);
		 -o-transform: scale(1.2,1.2);
			transform: scale(1.2,1.2);
}
.block_popular .uni_col .name {
	

}
@media (max-width:1000px) {
	.adaptiv .block_popular .uni_col.uni-50,
	.adaptiv .block_popular .uni_col.uni-66,
	.adaptiv .block_popular .uni_col.uni-75,
	.adaptiv .block_popular .uni_col.uni-100	{
		width:33.33%;
	}
	.adaptiv .block_popular .uni_col.uni-50 a.image,
	.adaptiv .block_popular .uni_col.uni-66  a.image,
	.adaptiv .block_popular .uni_col.uni-75 a.image,
	.adaptiv .block_popular .uni_col.uni-100  a.image	{
		padding-top:100%;
	}
}
@media (max-width: 600px){
	.adaptiv .block_popular .uni_col.uni-50,
	.adaptiv .block_popular .uni_col.uni-66,
	.adaptiv .block_popular .uni_col.uni-75,
	.adaptiv .block_popular .uni_col.uni-100	{
		width:50%;
	}	
}
@media (max-width: 400px){
	.adaptiv .block_popular .uni_col.uni-50,
	.adaptiv .block_popular .uni_col.uni-66,
	.adaptiv .block_popular .uni_col.uni-75,
	.adaptiv .block_popular .uni_col.uni-100	{
		width: 100%;
	}	
}
