/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.basket-small-1 .basket-element.basket .basket-icon {
    background-image: url(/images/cart1.png) !important;
    width: 25px;
    height: 27px;
    background-position: center !important;
    background-size: 33px;
}

.basket-small-1 .basket-element.wish-list .basket-icon {
    background-image: url(/images/favorite1.png) !important;
    background-position: center !important;
    background-size: 38px;
    width: 25px;
    height: 27px;
}

.compare-small-1 .compare-element.compare {
    display: none;
}

.state.available {
    color: #28ad2b !important;
}

.lookbook-picture-wrapper-wrapper .lookbook-information {
    display: none !important;
}

@keyframes cookFade {
    fron {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.cookie-block {
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100%;
    min-height: 80px;
    bottom: 0;
    background: #cea073;
    color: #fff;
    padding: 15px;
    display: none;
    transform: translateY(0);
    transition: all 0.5s;
    align-items: center;
    padding-right: 50px;
    box-sizing: border-box;
    box-shadow: 1px 2px 10px -3px rgba(0, 0, 0, 0.4);
    font-weight: 400;
    font-size: 16px;
}

.cookie-block svg {
    margin-right: 22px;
    width: 27px;
    height: 27px;
    min-width: 27px;
    min-height: 27px;
}

.cookie-close svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.cookie-block.active {
    animation: cookFade 1s ease-in-out;
    display: flex;
}

.cookie-close {
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    cursor: pointer;
}

.cookie-close:hover {
    opacity: 0.6;
}

.footer-top {
    display: flex;
    padding-top: 25px;
    margin-bottom: 35px;
}

.bg_footer .footer-top .contacts a {
    margin: 30px 0px 0;
}

.footer-top .phone {
    margin-left: auto;
}

.bg_footer .footer-bottom .logo-block {
    padding-top: 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-txt {
    padding-top: 25px;
    text-align: center;
    padding-left: 285px;
    line-height: 23px;
}

.form_feedback_under .buttons.buttons--question.clearfix {
    opacity: 1;
}

.header_wrap .call_button {
    max-width: 172px;
    width: 100%;
}

.header_wrap .buttons--question .border_button {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.header_wrap .buttons--question .border_button img {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.header_wrap .call_button .border_button,
.header_wrap .call_button .solid_button {
    margin-bottom: 5px;
}

@media (max-width: 1180px) {
    .bg_footer .footer-top .contacts {
        width: 130px;
        padding-right: 20px;
    }
    .footer-top .bottom_menu_wrap .bottom_menu {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-txt {
        padding-left: 0;
        margin: 0 auto;
    }
}

@media (max-width: 850px) {
    .footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }
    .adaptiv .bg_footer .contacts {
        padding: 0;
        margin-bottom: 15px;
    }
    .footer-top .phone {
        margin: 15px auto 0 auto;
    }
}

/* Subscribe modal */
@keyframes subscr {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.modal-subscribe {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    align-items: center;
    display: none;
    transition: opacity 1s;
    opacity: 1;
}
.modal-subscribe__mask {
    background: rgba(51, 51, 51, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.modal-subscribe.active {
    display: flex;
    animation: subscr 0.5s ease-in-out;
}
.modal-subscribe__content {
    background: #fff;
    width: 580px;
    padding: 25px;
    position: relative;
    z-index: 2;
}
.modal-subscribe__close {
    width: 11px;
    height: 11px;
    background: url(/bitrix/templates/unigarderob_s1/images/close_popup.png)
        no-repeat 0 0;
    opacity: 0.38;
    top: 20px;
    right: 20px;
    margin-left: auto;
    display: block;
    cursor: pointer;
}
.modal-subscribe__close::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 10px;
    height: 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9Iâ€¦IxMyA1IDkgMi4yMTMiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}

.call_button__title {
    text-transform: uppercase;
}

.call_button .buttons {
    display: block;
}

.call_button:hover .buttons {
    display: block;
}

.call_button .border_button {
    height: 30px;
    margin-top: 5px;
}

.call_button img {
    height: 30px;
    margin-right: 5px;
}

.call_button .border_button,
.call_button .solid_button {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.header_wrap_container .right_wrap table.table_wrap .phone_wrap {
    padding-top: 10px;
    padding-bottom: 10px;
}

.call_button {
    padding-top: 4px;
}

.buttons.buttons--question.clearfix {
    opacity: 0;
    transition: 0.5s;
}

.call_button:hover .buttons.buttons--question.clearfix {
    opacity: 1;
}

#bx-soa-delivery .row,
#bx-soa-paysystem .row {
    display: flex;
    flex-wrap: wrap;
}

#bx-soa-delivery .col-6,
#bx-soa-paysystem .col-6 {
    width: calc(50% - 2px);
}

#bx-soa-delivery .bx-soa-pp.row > div,
#bx-soa-paysystem .bx-soa-pp.row > div {
    width: 100%;
}

#bx-soa-delivery .col-6,
#bx-soa-paysystem .col-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

#bx-soa-delivery .bx-soa-pp-company-smalltitle,
#bx-soa-paysystem .bx-soa-pp-company-smalltitle {
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

#bx-soa-order button.btn {
    background-color: #cea073;
    color: #fff;
    border-radius: 3px;
    height: 38px;
    font-size: 14px;
    text-align: center;
    border: none;
    min-width: 150px;
    outline: none;
    margin-right: 5px;
}

#bx-soa-order button.btn:hover {
    background-color: #d3a27d;
}
@media (max-width: 450px) {
    #bx-soa-order button.btn {
        margin-bottom: 5px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    #bx-soa-delivery .col-6,
    #bx-soa-paysystem .col-6 {
        width: 100%;
    }
}

.contact .section .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
