.dotted_line {
	width:100%;
	height:1px;
	border-top:1px dotted #484848;
	clear:both;
}
ul.city_list:before,
ul.city_list:after {
	content:".";
	display:block;
	visibility:hidden;
	clear:both;
}
ul.city_list {
	list-style:none;
	margin:0;
	padding:0;
	font-size:0;
	margin-bottom:20px;
	margin-left:14px;
	margin-right:14px;
}
ul.city_list li {
	list-style:none;
	margin:0;
	padding:0;
	font-size:12px;
	float:left;
	width:14%;
	padding-top:20px;
}
ul.city_list li a {
	color:#282828;
	text-decoration:none;
	border-bottom:1px dotted #282828;
}
ul.city_list li a:hover {
	color:#1d6eb1;
	border-bottom:1px dotted #1d6eb1;
}
@media (max-width:1024px) {
	.adaptiv ul.city_list li {
		width:25%;
	}
}
@media (max-width:768px) {
	.adaptiv ul.city_list li {
		width:20%;
	}
}
@media (max-width:480px) {
	.adaptiv ul.city_list li {
		width:33.33%;
	}
}
@media (max-width:320px) {
	.adaptiv ul.city_list li {
		width:50%;
	}
}