.catalog-section.section-select {
    display: block;
    overflow: hidden;
}

.catalog-section.section-select .catalog-section-wrapper {
    display: block;
    white-space: normal;
    margin: -4px;
}

.catalog-section.section-select .catalog-section-item {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}

.catalog-section.section-select
    .catalog-section-item
    .catalog-section-item-wrapper {
    display: block;
    font-size: 11px;
    line-height: 11px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 14px;
    padding: 9px 12px;
    border: 1px solid transparent;
    -webkit-transition-property: border, color, border-color;
    -moz-transition-property: border, color, border-color;
    -ms-transition-property: border, color, border-color;
    -o-transition-property: border, color, border-color;
    transition-property: border, color, border-color;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.catalog-section.section-select
    .catalog-section-item:hover
    .catalog-section-item-wrapper,
.catalog-section.section-select
    .catalog-section-item.ui-state-active
    .catalog-section-item-wrapper {
    border-color: #f5c700;
    font-weight: bold;
}

.catalog-section.section-select .catalog-section-item:nth-child(3) {
    display: none;
}

.catalog-section-item--banner {
    width: 115px;
    height: 50px;
    padding: 0 !important;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.catalog-section-item--banner img {
    margin-left: 5px;
    width: 100%;
}

.catalog-section-item--banner a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.catalog-section.section-select .catalog-section-wrapper {
    max-width: 245px;
    position: relative;
}
