.item-quick-view {}
.item-quick-view .noimg {
	cursor:default!important;
}
.item-quick-view .row {
	display: block;	
}

.item-quick-view .title {
	font-size: 21px;
	color: #444648;
	font-weight: normal;
	margin-top: 0px;
}

/*Товар дня*/
.item-quick-view .product-of-day {
	position: relative;
	display: block;
	background: #fed000;
	font-size: 0px;
	border-radius: 5px;
	padding: 15px;
}

.item-quick-view .product-of-day .valign {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	height: 100%;
	width: 0px;
}

.item-quick-view .product-of-day .day {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	text-align: center;
	color: #202020;
	font-weight: bold;
}

.item-quick-view .product-of-day .day .number {
	font-size: 20px;
	line-height: 20px;
}

.item-quick-view .product-of-day .day .month {
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}

.item-quick-view .product-of-day .timer > .title,
.item-quick-view .product-of-day > .title {
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: #202020;
	font-size: 20px;
	line-height: 20px;
}

.item-quick-view .product-of-day > .title {
	font-weight: bold;
	margin-left: 30px;
}

.item-quick-view .product-of-day .timer > .title {
	margin-right: 20px;
}

.item-quick-view .product-of-day .timer {
	position: absolute;
	padding: 15px;
	height: 100%;
	top: 0px;
	right: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.item-quick-view .product-of-day .timer .countdown {
	display: inline-block;
	vertical-align: middle;
}

.item-quick-view .product-of-day .timer .countdown .pd_td {
	background: #fff;
	font-size: 16px;
	color: #000;
	padding: 7px;
	border-radius: 3px;
	font-weight: bold;
}

.item-quick-view .product-of-day .timer .countdown .pd_num_separator {
	font-size: 16px;
	color: #000;
	padding: 5px;
	font-weight: bold;
}
.end_slider {
	background: #f8f9fb;
	/* width: 877px; */
	width: 100%;
	margin: 0;
	top: 0;
	float: none;
	padding: 0;
	/* border: 1px solid #ccc; */
	border-top: 1px solid transparent;
	box-shadow: 0 -3px 4px #eeeff1 inset;
	padding-bottom: 90px;
	padding-top: 10px;
}
.item-quick-view  .end_slider .image-slider.image-slider-pic {
	width: 91%;
	float: none;
	margin: 0 auto;
}
/*Слайдер картинок*/
.item-quick-view .image-slider {
	position: relative;
	float: left;
	width: 390px;
	height:390px;	
}
.item-quick-view .end_slider .image-slider{
	height:auto;
}
.item-quick-view .image-slider.image-slider-pic {
	width:100%;
	float:none;
}

/*Главная картинка*/
.item-quick-view .image-slider > .image-box {
	position: relative;
	display: block;
	width: 100%;
	padding-top: 100%;
	text-align: center;
	font-size: 0px;
	white-space: nowrap;
}

.item-quick-view .image-slider > .image-box .wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.item-quick-view .image-slider > .image-box .wrapper .marks {
	position: absolute;
	top: 10px;
	left: 10px;
}

.item-quick-view .image-slider > .image-box .wrapper .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item-quick-view .image-slider > .image-box .wrapper .slider-images,
.item-quick-view .image-slider > .image-box .wrapper .slider-images .image {
	width: 100%;
	height: 100%;
}

.item-quick-view .image-slider > .image-box .wrapper .slider-images .image {
	display: none;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
}

.item-quick-view .image-slider > .image-box .wrapper .slider-images .image.zoom:hover {
	border: 1px solid #e7e7e7;
}

.item-quick-view .image-slider > .image-box .wrapper .slider-images .image.noeffect {
	cursor: default;
}

.item-quick-view .image-slider > .image-box .wrapper .slider-images .image:first-child {
	display: block;
}

.item-quick-view .image-slider > .image-box .wrapper .slider-images img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

/*Список картинок*/
.item-quick-view .image-slider > .list {
	position: relative;
	display: block;
    margin-top: 20px;
}

/*Кнопки списка*/
.item-quick-view .image-slider > .list .buttons {
	position: absolute;
	width: 100%;
	height: 100%;
}

.item-quick-view .image-slider > .list .buttons .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item-quick-view .image-slider > .list .buttons .wrapper {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
}

.item-quick-view .image-slider > .list .buttons .button {
	position:absolute;
}.item-quick-view .image-slider > .list .buttons #left.button {
	left: 0px;
}.item-quick-view .image-slider > .list .buttons #right.button {
	right: 0px;
}

/*Картинки списка*/
.item-quick-view .image-slider > .list .items {
	margin-left: 30px;
	margin-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0px;
}

.item-quick-view .image-slider > .list .image {
	position: relative;
	display: inline-block;
	width: 20%;
	padding-top: 28%;
	white-space: nowrap;
	font-size: 0px;
	text-align: center;
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.item-quick-view .image-slider > .list .image .wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.item-quick-view .image-slider > .list .image .wrapper > div {
	position: relative;
	padding: 4px;
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.item-quick-view .image-slider > .list .image .wrapper > div > div {
	height: 100%;
	padding: 4px;
	border: 3px solid transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition-property: border-color;
	transition: 0.3s;
}
.item-quick-view .image-slider > .list .image.selected .wrapper > div > div,
.item-quick-view .image-slider > .list .image:hover .wrapper > div > div {
	border: 3px solid #1a58d7;
}

.item-quick-view .image-slider > .list .image .wrapper .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item-quick-view .image-slider > .list .image .wrapper img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.item-quick-view .information {
	position: relative;	
}
.item-quick-view.with-menu .information {
    margin-left: 250px;
}
.item-quick-view.with-menu .information.with-menu {
    margin-left: 0px;
}

.item-quick-view .prices {
	width: 100%;
}

.item-quick-view .prices .sku-adaptiv-title {
	display: none;
}

.item-quick-view .prices tr {
	height: 85px;
	border-bottom: 1px solid #e8e8e8;
}

.item-quick-view .prices .header {
	color: #8f8f8f;
	text-align: center;
	height: 50px;
}

.item-quick-view .prices .header td {
	color: inherit;
	text-align: inherit;
}

.item-quick-view .prices .rows {
	color: #636363;
	text-align: center;
}

.item-quick-view .prices .rows td {
	color: inherit;
	text-align: inherit;
}

.item-quick-view .prices .image {
	display: inline-block;
	width: 60px;
	height: 60px;
	overflow: hidden;
	font-size: 0px;
	white-space: nowrap;
}

.item-quick-view .prices .image .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item-quick-view .prices .image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

/*Картинки с меню*/
.item-quick-view.with-menu .image-slider {
    width: 200px;
}
.item-quick-view.with-menu .image-slider > .list .image {
    width: 50%;
    padding-top: 50%;
}

/* Бренд */
.item-quick-view .information .brand {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    width: 90px;
    height: 90px;
    text-align: center;
    white-space: nowrap;
    font-size: 0px;
    z-index: 1;
}

.item-quick-view .information .brand img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

/* Артикуль */
.item-quick-view .information .article {
	position: relative;
	float: left;
	margin-right: 32px;
	font-size: 12px;
	line-height: 18px;
	color: #9f9b9b;
}

/* В наличии/ не в наличии*/
.item-quick-view .prices .state,
.item-quick-view .information .state {
	position: relative;
	float: left;
	font-size: 11px;
	line-height: 18px;
	color: #474747;
}
.item-quick-view .prices .state.available,
.item-quick-view .information .state.available {
	
}
.item-quick-view .prices .state.unavailable,
.item-quick-view .information .state.unavailable {
	
}

.item-quick-view .prices .state {
	display: inline-block;
	float: none;
}

.item-quick-view .prices .state .icon,
.item-quick-view .information .state .icon {
	position: relative;
	display: block;
	float: left;
	margin-top: 4px;
	margin-right: 6px;
	width: 14px;
	height: 10px;
	background: url('images/state.png');
}
.item-quick-view .prices .state.available .icon,
.item-quick-view .information .state.available .icon {
	background-position: top;
}
.item-quick-view .prices .state.unavailable .icon,
.item-quick-view .information .state.unavailable .icon {
	background-position: bottom;
}

/*Цена*/
.item-quick-view .information .price {
	position: relative;
}

.item-quick-view .information .price .current {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
	font-size: 30px;
	line-height: 36px;
	color: #252525;
	font-weight: bold;
}

.item-quick-view .price .old {
    display: inline-block;
    vertical-align: middle;
	font-size: 14px;
	line-height: 21px;
	color: #c93332;
	text-decoration: line-through;
}

/* Сторона заказа */
.item-quick-view .information .order {
	position: relative;
	font-size: 0px;
    overflow: hidden;
}

.item-quick-view .information .order .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item-quick-view .information .order .buy-block {
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
}

/*Контрол количества*/
.item-quick-view .prices .count,
.item-quick-view .information .order .count {
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
}
.item-quick-view .information .order .count {
	height: 38px;
}
.item-quick-view .prices .count {
	height: 34px;
}

.item-quick-view .prices .count input[type=text],
.item-quick-view .information .order .count input[type=text] {
	border: 1px solid #d2d2d2;
	color: #707070;
	font-size: 14px;
    line-height: 14px;
	box-sizing: border-box;
	width: 50px;
	padding: 0px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.item-quick-view .prices .count button,
.item-quick-view .information .order .count button {
	border: 1px solid #d2d2d2;
	font-size: 14px;
    line-height: 14px;
	vertical-align: top;
	width: 35px;
	color: #707070;
	background: #ffffff;
	padding: 0px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.item-quick-view .information .order .count input[type=text] {
	padding: 10px 0px;
    height: 38px;
}
.item-quick-view .prices .count input[type=text] {
	font-size: 12px;
    line-height: 12px;
    padding: 9px 0px;
    height: 34px;
}

.item-quick-view .information .order .count button {
    padding: 11px 0px;
    height: 38px;
}
.item-quick-view .prices .count button {
    font-size: 12px;
    line-height: 12px;
    padding: 10px 0px;
    height: 34px;
}

.item-quick-view .prices .count button:hover,
.item-quick-view .information .order .count button:hover {
	background: #d2d2d2;
}
.item-quick-view .prices .count button:focus,
.item-quick-view .information .order .count button:focus {
	outline: none;
}
.item-quick-view .prices .count button#increase,
.item-quick-view .information .order .count button#increase {
	border-left: none;
	border-radius: 0px 3px 3px 0px;
}
.item-quick-view .prices .count button#decrease,
.item-quick-view .information .order .count button#decrease {
	border-right: none;
	border-radius: 3px 0px 0px 3px;
}
/**Контрол количества**/

/* Кнопка купить в один клик */
.item-quick-view .prices .buy-button-click .button,
.item-quick-view .information .order .buy-button-click .button {
	background: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	border: 1px solid #d2d2d2;
	color: #707070;
}
.item-quick-view .prices .buy-button-click .button:hover,
.item-quick-view .information .order .buy-button-click .button:hover {
	background: #d2d2d2;
}

/* Кнопки в верхней части */
.item-quick-view .information .order {
	display: inline-block;
	vertical-align: middle;
    overflow: hidden;
    margin: -5px;
}

.item-quick-view .information .order .count,
.item-quick-view .information .order .buy-button,
.item-quick-view .information .order .buy-button-click {
	display: inline-block;
	vertical-align: middle;
	height: 38px;
    margin: 5px;
    font-size: 0px;
}

.item-quick-view .information .order .buy-button .button,
.item-quick-view .information .order .buy-button-click .button {
    font-size: 14px;
	line-height: 14px;
	padding: 12px 50px;
    white-space:  nowrap;
}
.item-quick-view .information .order .buy-button-click .button {
    padding-top: 11px;
    padding-bottom: 11px;
}

.item-quick-view .information .order .buy-button .button {
    width: 170px;
    padding-left: 0px;
    padding-right: 0px;
}

.item-quick-view .information .order .min-buttons {
    display: inline-block;
    vertical-align: middle;
}
.item-quick-view .information .order .min-buttons .min-button {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

/* Кнопки в списке SKU */
.item-quick-view .prices .buy-button .button {
    font-size: 12px;
	line-height: 12px;
	padding: 11px 20px;
    white-space: nowrap;
}

.item-quick-view .prices .buy-button-click .button {
    font-size: 12px;
	line-height: 12px;
	padding: 10px 20px;
    white-space: nowrap;
}

.item-quick-view .prices .min-buttons {
    margin: -5px;
}
.item-quick-view .prices .min-buttons .min-button {
    display: inline-block;
    margin: 5px;
}

/* Описание */
.item-quick-view .description,
.item-quick-view .description {
    padding-bottom: 20px;
	color: #8b8b8b;
}

/* Сокращенные характеристики */
.item-quick-view .information .properties {
	color: #707070;
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;	
}



/* Торговые предложения: Свойства */
.item-quick-view .information .offers.properties {
    display: block;
    overflow: hidden;
    padding-bottom: 25px;
}

.item-quick-view .information .offers.properties .properties-wrapper {
    display: block;
    margin: -8px;
    min-width: 14px;
    min-height: 14px;
}

.item-quick-view .information .offers.properties .property {
    display: block;
    margin: 8px;
    overflow: hidden;
}
.item-quick-view .information .offers.properties .property::before {
    display: none;
}

.item-quick-view .information .offers.properties .property .property-name {
    display: block;
    float: left;
    margin-right: 14px;
    font-size: 12px;
    color: #9f9b9b;
}

.item-quick-view .information .offers.properties .values {
    display: block;
    overflow: hidden;
}

.item-quick-view .information .offers.properties .values .values-wrapper {
    display: block;
    margin: -4px;
    font-size: 0px;
    min-width: 14px;
    min-height: 14px;
}

.item-quick-view .information .offers.properties .property .values .value {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px;
} .item-quick-view .information .offers.properties .property .values .value.hidden {
    display: none;
}

.item-quick-view .information .offers.properties .property.text .property-name {
    height: 42px;
    line-height: 42px;
}

.item-quick-view .information .offers.properties .property.text .values {
    padding: 6px;
}

.item-quick-view .information .offers.properties .property.text .values .value {
    padding: 9px;
    font-size: 10px;
    line-height: 10px;
    border-radius: 3px;
    border:  1px solid transparent;
    min-width: 30px;
    text-align: center;
    color: #443b3b;
}.item-quick-view .information .offers.properties .property.text .values .value.enabled {
    border-color: #e8e8e8;
    background: #e8e8e8; 
}.item-quick-view .information .offers.properties .property.text .values .value.disabled {
    border-color: #e8e8e8;
    background: #e8e8e8; 
    color: #c8c8c8;   
}
.item-quick-view .information .offers.properties .property.text .values .value.selected,
.item-quick-view .information .offers.properties .property.text .values .value.enabled:hover {
    background: #fff;   
    border-color: #e6eff8;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

.item-quick-view .information .offers.properties .property.picture .property-name {
    height: 24px;
    line-height: 24px;
}

.item-quick-view .information .offers.properties .property.picture .values .value {
    position: relative;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #f1f1f1;
}.item-quick-view .information .offers.properties .property.picture .values .value.disabled {
    display: none;
}

.item-quick-view .information .offers.properties .property.picture .values .value .value-image {
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    overflow: hidden;
}.item-quick-view .information .offers.properties .property.picture .values .value.selected .value-image {
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.item-quick-view .information .offers.properties .property.picture .values .value .value-image img {
    display: block;
    width: 100%;
    height: 100%;
}

.item-quick-view .information .offers.properties .property.picture .values .value .sprite {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('images/sku.properties.pictures.sprite.png') no-repeat;
    background-position: 24px 24px;
}

.item-quick-view .information .offers.properties .property.picture .values .value.selected .sprite {
    background-position: 0px 0px;
}

/* Все характеристики */
.item-quick-view .item_description .name_prop {
	color:#9f9b9b;
	font-size:12px;
	padding-right:35px;
}
.item-quick-view .item_description td {
	padding: 5px 0;
}
.item-quick-view .item_description .value_prop {
	color:#535050;
	font-size:12px;
} 
/*Табличное SKU с меню*/
.item-quick-view.with-menu .prices,
.item-quick-view.with-menu .prices tbody,
.item-quick-view.with-menu .prices tr,
.item-quick-view.with-menu .prices td {
	display: block;
	height: auto;
	width: auto !important;
	text-align: center !important;
	overflow: hidden;
	border: none;
}
.item-quick-view.with-menu .prices tr.header {
	display: none;
}
.item-quick-view.with-menu .prices tbody {
	margin: -9px;
}

.item-quick-view.with-menu .prices .sku-adaptiv-title {
	display: inline;
}

.item-quick-view.with-menu .prices tr {
	padding: 9px;
	float: left;
	width: 25% !important;
    height: 370px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.item-quick-view.with-menu .prices td.price {
    font-size: 28px;
    color: #494949;
}

.item-quick-view.with-menu .prices td > .buy,
.item-quick-view.with-menu .prices td > .buy .buy,
.item-quick-view.with-menu .prices td > .buy .one-click-buy {
    width: 100% !important;
    margin: 0px !important;
}

.item-quick-view.with-menu .prices td > div {
	padding-top: 5px;
	padding-bottom: 5px;
}


/*Документы*/
.item-quick-view .documents {
	display: block;
	overflow: hidden;
}

.item-quick-view .documents .document {
	display: inline-block;
	overflow: hidden;
	text-decoration: none;
}

.item-quick-view .documents .document .image {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background: url("images/file.png");
}

.item-quick-view .documents .document .information {
	display: block;
	margin-left: 55px;
}

.item-quick-view .documents .document .information .name {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 3px;
	text-decoration: underline;
}

.item-quick-view .documents .document .information .size {
	font-size: 12px;
	line-height: 16px;
	color: #9d9d9d;
	text-decoration: none;
}

.item-quick-view .standart_block {
    margin: 0px;
}
/*quick_view*/
.item-quick-view {
	background:#fff;
	width:934px;
	font-size:12px;
}
.item-quick-view .header_block,
.item-quick-view .footer_block {
    display: table;
	padding: 10px 23px;
	position: fixed;
	background: #fff;
	width: 888px;
	z-index: 500;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
}
.item-quick-view .header_block-wrapper,
.item-quick-view .footer_block-wrapper {
    display: table-row;
}
.item-quick-view .header_block .name {
    display: table-cell;
    vertical-align: middle;
	color:#192239;
	font-size:14px;
	font-weight:500;
	width: 100%;
}
.item-quick-view .footer_block .change_size {
    padding-top: 9px;
	font-size:12px;
	font-weight:bold;
	color:#443b3b;
	float:left;	
    cursor: pointer;
}
.item-quick-view .footer_block .button {
	float: right;
	width:135px;
	text-align:center;	
}
.item-quick-view .footer_block {
	bottom: 0px;
}
.item-quick-view .price.minimal {
	display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    white-space: nowrap;
	color:#192239;
	font-size:18px;
	font-weight:500;
	padding-right:40px;
}
.item-quick-view .order {
	display: table-cell;
    vertical-align: middle;
    white-space:  nowrap;
    padding-right: 20px;
}
.item-quick-view .removeFromBasket,
.item-quick-view .addToBasket {
	height:39px;
	line-height:39px;
	width:135px;
	text-align:center;
	padding:0;
}
.item-quick-view .min-buttons-qv {
	display: inline-block;
    vertical-align: middle;
	margin-right:45px;
}
.item-quick-view .min-buttons-qv .min-button{
	float:left;
	margin-left:14px;
}
.item-quick-view .brand {
    display: block;
	height: 45px;
    width: 100px;
}
.item-quick-view .brand-qv {
    display: table-cell;
    vertical-align: middle;
	text-decoration: none;
    padding-right: 20px;
}
.item-quick-view .row-w {
	background:#f8f9fb;
	border-bottom:1px solid #e8e8e8;
	padding:24px 40px;
	padding-top: 125px;
}
.item-quick-view .close_popup-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}
.item-quick-view .close_popup {
	position: relative;
    display: block;
	cursor: pointer;
	z-index: 700;
	top: 0px !important;
	right: 0px !important;
}