.catalog-sections-list {
	position: relative;
	display: block;
	background: transparent;
	white-space: nowrap;
	margin-top: -9px;
	margin-bottom: -9px;
}

.catalog-sections-list .element {
	position: relative;
	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
}

.catalog-sections-list .element .wrapper {
	position: relative;
	display: block;
	border: 1px solid #ebebeb;
	text-decoration: none;
}.catalog-sections-list .element .wrapper:focus {
	outline: none;
}

.catalog-sections-list .element .image {
	position: relative;
	width: 100%;
	padding-top: 100%;
}

.catalog-sections-list .element .image > div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: bold;
    font-size: 0px;
    white-space: nowrap;
    text-align: center;
}

.catalog-sections-list .element .image > div .valign {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
}

.catalog-sections-list .element .image > div img {
	position: relative;
    display: inline-block;
    vertical-align: middle;
	border: none;
    max-width: 100%;
	max-height: 100%;
}

.catalog-sections-list .element .text {
	display: block;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.catalog-sections-list .element .text .text-wrapper {
	font-size: 13px;
	line-height: 19px;
	color: #333;
	font-weight: bold;
	text-align: center;
	white-space: normal;
	height: 38px;
	overflow: hidden;
}