.uni-labels-1 {
    display: block;
}

.uni-labels-1 .uni-labels-wrapper {
    display: block;
}

.uni-labels-1 .tabs {
    display: block;
    overflow: hidden;   
}

.uni-labels-1 .tabs .tabs-wrapper {
    display: block;
    font-size: 0px;
    white-space: normal;
    margin: -4px;
    min-width: 8px;
    min-height: 8px;
    padding: 0px;
    text-align: center;
}

.uni-labels-1 .tabs .tab {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}

.uni-labels-1 .tabs .tab .tab-wrapper {
    display: block;
    font-size: 11px;
    line-height: 11px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 14px;
    padding: 9px 18px;
    border: 1px solid transparent;
    -webkit-transition-property: border, color, border-color;
       -moz-transition-property: border, color, border-color;
        -ms-transition-property: border, color, border-color;
         -o-transition-property: border, color, border-color;
            transition-property: border, color, border-color;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
        -ms-transition: 0.3s;
         -o-transition: 0.3s;
            transition: 0.3s;
}

.uni-labels-1 .tabs .tab:hover .tab-wrapper,
.uni-labels-1 .tabs .tab.ui-state-active .tab-wrapper {
    border-color: #f5c700;
}