.services-section.extend > .description {
	display: block;
	white-space: normal;
	margin-top: 10px;
}

.services-section.extend > .description.only {
	margin-top: 0px;
}

.services-section.extend .element {
	display: block;
	white-space: nowrap;
	border: 1px solid #e9e9e9;
	border-top: none;
	overflow: hidden;
	cursor: pointer;
}

.services-section.extend div:first-child .element {
	border-top: 1px solid #e9e9e9;
}

.services-section.extend .element .image {
	position: relative;
	display: block;
	float: left;
	vertical-align: top;
	width: 130px;
	height: 130px;
	margin: 30px;
	text-align: center;
	font-size: 0px;
	overflow: hidden;
}

.services-section.extend .element .image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.services-section.extend .element .content {
	position: relative;
	display: block;
	text-align: left;
	margin-left: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 30px;
	overflow: hidden;
}

.services-section.extend .element .content .name {
	color: inherit;
	display: block;
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	overflow: hidden;
	height: 24px;
	font-weight: bold;
	color: #000;
	white-space: normal;
}

.services-section.extend .element:hover .content .name {
	text-decoration: underline;
}

.services-section.extend .element .content .description {
	color: #000;
	font-size: 14px;
	line-height: 18px;
	height: 36px;
	margin-top: 20px;
	overflow: hidden;
}

.services-section.extend .element .content .button {
	padding: 10px 36px;
	font-size: 14px;
	margin-top: 16px;
	cursor: pointer;
}

.services-section.extend .description {
	display: block;
	white-space: normal;
}

@media all and (max-width: 600px) {
	.adaptiv .services-section.extend .element .image {
		width: 60px;
		height: 60px;
	}
	
	.adaptiv .services-section.extend .element .content {
		margin-left: 120px;
		margin-right: 20px;
	}
}