.reviews-box .button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background: #2d7ef7;
	color: #fff;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	padding: 10px 36px;
	margin-bottom: 40px;
	cursor: pointer;
}.reviews-box .button:hover {
	background: #4a8ff7;
}

.reviews-box {
	position: relative;
}

.reviews-box .reviews {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.reviews-box .reviews .review {
	display: block;
	width: 100%;
	white-space: nowrap;
	border-top: 1px solid #e8e8e8;
}

.reviews-box .reviews .review:nth-child(2) {
	border-top: none;
}

.reviews-box .reviews .review .info {
	display: block;
	float: left;
	margin-left: 60px;
	width: 160px;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
}

.reviews-box .reviews .review .info .date {
	font-size: 12px;
	color: #8d8d8d;
	margin-top: 40px
}

.reviews-box .reviews .review .info .name {
	font-size: 14px;
	font-weight: bold;
}

.reviews-box .reviews .review .description {
	display: block;
	margin-left: 265px;
	font-size: 12px;
	white-space: normal;
	padding-top: 40px;
	padding-bottom: 40px;
}

.reviews-box .reviews .form {
	position: relative;
	margin-top: 60px;
	display: none;
}

.reviews-box .reviews .form .row {
	position: relative;
	display: block;
	overflow: hidden;
	margin-left: 60px;
	padding-right: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.reviews-box .reviews .form .row .label {
	float: left;
	display: block;
	width: 205px;
	font-size: 14px;
	color: #000;
	text-align: left;
	font-weight: bold;
}

.reviews-box .reviews .form .row .label .needed {
	color: #ff0000;
}

.reviews-box .reviews .form .row .control {
	position: relative;
	display: block;
	margin-left: 225px;
	width: 50%;
	text-align: left;
}

.reviews-box .reviews .form .row .control .control-text {
	font-size: 14px;
	width: 100%;
	resize: none;
	border: 1px solid #e0e0e0;
	background: #f4f4f4;
	border-radius: 3px;
	padding: 5px 10px;
	box-sizing: border-box;
}

.reviews-box .reviews .form .row .control .control-text.error {
	border: 1px solid #ff0a0a;
}

@media all and (max-width: 600px) {
	.reviews-box .reviews .review .info {
		margin-left: 40px;
		width: 100px;
		margin-right: 35px;
		overflow: hidden;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.reviews-box .reviews .review .info .date {
		white-space: normal;
	}

	.reviews-box .reviews .review .info .name {
		white-space: normal;
	}
	
	.reviews-box .reviews .review .description {
		padding-right: 185px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.reviews-box .reviews .form .row {
		display: block;
		width: 100%;
		margin-left: 30px;
		padding-right: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.reviews-box .reviews .form .row .label {
		width: 145px;
	}
	
	.reviews-box .reviews .form .row .control {
		width: 100%;
		padding-right: 155px;
	}
}

@media all and (max-width: 480px) {
	.reviews-box .reviews .review .info {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 0px;
	}
	
	.reviews-box .reviews .review .info .date {
		white-space: normal;
		margin-top: 5px;
	}

	.reviews-box .reviews .review .info .name {
		white-space: normal;
	}
	
	.reviews-box .reviews .review .description {
		display: block;
		padding: 0px;
		margin: 0px;
		margin-bottom: 10px;
	}
	
	.reviews-box .reviews .form {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.reviews-box .reviews .form .row {
		display: block;
		width: 100%;
		margin-left: 0px;
		padding-right: 0px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	.reviews-box .reviews .form .row .label {
		width: 100px;
		margin-right: 0px;
	}
	
	.reviews-box .reviews .form .row .control {
		width: 100%;
		padding-right: 90px;
	}
}