

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news.list/staffs/style.css?15548708881671*/
.stuffs .tabs
{
	display: block;
	white-space: nowrap;
	padding-left: 0px;
	margin-bottom: 30px;
	font-size: 0px;
	white-space: normal !important;
	text-align: justify;
	width: 100%;
}
.stuffs .tabs .justifire
{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 0px;
}

.stuffs .section {
	display: block;
}

.stuffs .section .stuff {
	margin-bottom: 40px;
}

.stuffs .section .stuff .image {
	position: relative;
	width: 100%;
	padding-top: 64%;
	font-size: 0px;
	overflow: hidden;
}

.stuffs .section .stuff .image .wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.stuffs .section .stuff .image .wrapper .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0px;
	overflow: hidden;
}

.stuffs .section .stuff .image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.stuffs .section .stuff .information {
	display: block;
	padding-top: 8px;
}

.stuffs .section .stuff .information .name,
.stuffs .section .stuff .information .post {
	padding: 2px 0px;
	font-size: 14px;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
	color: #3e3e3e;
}

.stuffs .section .stuff .information .post {
    font-size: 12px;
    line-height: 16px;
    height: 32px;
}

.stuffs .section .stuff .information .contacts {
	padding-top: 10px;
	border-top: 1px solid #e9e9e9;
	margin-top: 10px;
}

.stuffs .section .stuff .information .contacts .email,
.stuffs .section .stuff .information .contacts .phone {
	padding: 4px 0px;
	font-size: 12px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
	color: #3e3e3e;
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news.list/staffs/style.css?15548708881671 */
