.paginator {
    display: block;
}

.paginator .static {
    position: relative;
    display: block;
    font-size:  0px;
    text-align: center;
}

.paginator .static .buttons {
    display: inline-block;
    font-size: 0px;
}

.paginator .static .buttons .button {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 6px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
}

.paginator .static .buttons .button.ui-state-active {
    
}

.paginator .static .buttons .uni-slider-button-left {
    position: absolute;
    display: block;
    top: -4px;
    left: 0px;
}
.paginator .static .buttons .uni-slider-button-right {
    position: absolute;
    display: block;
    top: -4px;
    right: 0px;
}