@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GothaProReg.otf); 
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/GothaProLig.otf); 
}
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/GothaProMed.otf) ; 
}
input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
html {-webkit-text-size-adjust:none; height: 100%;}
body {
	
	position: relative;
	margin:0;
	padding:0;	
	color:#282828;
	font-family: 'Gotham Pro', 'PT Sans','Ubuntu', Verdana, Arial, sans-serif;
	outline:none;
	min-width: 1162px;
	min-height: 100%;
	padding-bottom: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body.adaptiv {
    min-width: 320px;
}
.svg_fill_solid {
	fill:#1a58d7;
}
/*buttons and inputs*/
.solid_button,
.solid_element {
	background:#1a58d7;
	color: #fff;
	font-family: 'Ubuntu', 'Noto Sans', Verdana, Arial, sans-serif;
}
.solid_button.ui-state-active,
.solid_button.ui-state-current,
.solid_button:focus,
.solid_button:hover {
	background:#546dd1;
	color:#fff;
}
.border_button {
	border:1px solid #e2e2e2;
	background:#fff;
	color:#a7a7a7;
	cursor:pointer;
}
.border_button:hover {
	background:#e2e2e2;
}
.solid_input {
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px 0 19px;
	height: 38px;
	border: none;
	border-radius: 3px;
	background: #e9e9e9;
	box-shadow: none;
	font-weight: normal;
	font-size: 14px;
	float: none;
	margin-bottom: 25px;
}
/*end buttons*/
.new_price,
.old_price,
.title_f {
	font-family: 'Ubuntu', 'PT Sans',sans-serif;
}
.title_product {
	font-family: 'PT Sans',sans-serif;
}
.sl_header1,
.sl_header2,
.sl_header3  {
	font-family: 'Ubuntu',sans-serif;
}
a img { border:none;}
a,
.hover_link :hover{
	text-decoration:underline;
	color:#1a58d7;
	cursor:pointer;
}
a:hover,
.open_call:hover {
	color:#636363;
}
.open_call {
	cursor: pointer;
}
h3 {
	
}
/*float class*/
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}

/*TOP-PANEL*/
.top_panel {
	width:100%;
	background:#f7f7f9;
}
.top_panel_wrap {
	margin:0 auto;
	max-width:1162px;	
	padding-left:10px;
	padding-right:10px;
	line-height:40px;
}

.top_panel .search_wrap {
	float: left;
	padding-top: 7px;
}

.top_panel .basket_wrap {
	margin-left: 20px;
    white-space: nowrap;
}

.top_panel .phone_block {
	display: block;
	white-space: nowrap;
}

.top_panel .phone_block  .phone  {
	display: inline-block;
	vertical-align: baseline;
	font-size:14px;
	color:#656565;
	margin-right:20px;
}
.top_panel .phone_block  .call_button {
	display: inline-block;
	vertical-align: baseline;
	font-size:12px;
}

.top_panel .top_personal { 
	margin-left: 25px;
	font-size: 12px;
}

@media all and (max-width: 920px) {
	.adaptiv .top_panel .phone_block {
		float: none !important;
	}
	
	.adaptiv .top_panel .search_wrap {
		float: none;
		padding-bottom:20px;
		width: 100% !important;
	}
	
	.adaptiv .top_panel .phone_block  {
		float: none;
	}
	
	.adaptiv .top_panel .basket_wrap {
		float: none;
		margin-left: 0px;
	}
	
	.adaptiv .top_panel .top_personal {
		float: none;
		margin-left: 0px;
	}
	
	.adaptiv .top_panel .top_panel_wrap {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width:390px){
	.adaptiv .top_panel_wrap{
		padding:0;
	}
}
/*TOP-PANEL END*/
/* ---- HEADER ---- */
.header_wrap {
	position:relative;
	z-index:20;
}
.header_wrap .header_wrap_information {
    
}
.header_wrap .phone {
	font-size: 18px;
   font-weight: bold;
}
 .phone span a{
text-decoration-line: none;
}
.header_wrap .call_button { }
.header_wrap .top.menu-top-catalog {
    display: none;
}
.workarea_wrap {
	position:relative;
	z-index:10;
}
.header_wrap_container {
	margin:0 auto;
    width: 100%;
	padding: 0;
	border: 0;
	border-spacing: 0;
	max-width:1162px;
	position:relative;
}
.header_wrap_container .logo_wrap {
	width:auto;
	width: 17%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.header_wrap_container .logo_wrap img {
	max-width: 100%;
}
.header_wrap_container .search_wrap {
    padding-left: 20px;
}
.header_wrap_container .right_wrap {
    width: 73%;
}
.header_wrap_container .right_wrap table.table_wrap {
    float: right;
    width: 100%;
	padding: 0;
	border: 0;
	border-spacing: 0;
}
.header_wrap_container .right_wrap table.table_wrap .menu_wrap {
    position: static;
    display: block;
    padding-left: 20px;
    margin: 0px;
}
.header_wrap_container .right_wrap table.table_wrap .phone_wrap {
    white-space: nowrap;
	padding-left: 20px;
	text-align: right;
}
.header_wrap_container .right_wrap table.table_wrap .basket_wrap.fly {
	padding: 0;
}
.header_wrap_container .right_wrap table.table_wrap .basket_wrap {
    white-space: nowrap;
	padding-left: 20px;
    overflow: hidden;
	text-align: -webkit-right;
	text-align: right;
}

.header_wrap_container .right_wrap table.table_wrap .basket_wrap .basket_wrap_wrap {
    display: block;
    margin: -5px;
}

.top_panel .top_panel_wrap .b_compare,
.top_panel .top_panel_wrap .b_basket {
	line-height: normal;
}

.b_compare,
.b_basket {
	display: inline-block;
	vertical-align: middle;
    padding: 5px;
}

@media all and (max-width: 1150px) {
    .adaptiv .top_panel_wrap .bg_top_menu {
        display: none;
    }
    .adaptiv .header_wrap .menu-header-1 {
        display: none;
    }
    .adaptiv .header_wrap .top_level_catalog {
        display: none;
    }
    .adaptiv .header_wrap .top {
        display: block !important;
    }
}

@media all and (max-width: 950px) {
	.header_wrap_container .right_wrap table.table_wrap .basket_wrap.fly {
		padding-left: 20px;
	}
}

@media all and (max-width: 920px) {
	.adaptiv .header_wrap .header_wrap_information {
        padding: 10px 20px;
    }
}

@media all and (max-width: 825px) {
    .adaptiv .header_wrap_container .right_wrap table.table_wrap {
        width: auto;
    }
}

@media all and (max-width: 800px) {
    /*.adaptiv .header_wrap_container {
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .adaptiv .header_wrap_container .search_wrap {
        padding-left: 0px;
    }
	.adaptiv .header_wrap_container .right_wrap table.table_wrap .basket_wrap {
		padding-left: 0px;
	}
    .adaptiv .header_wrap_container tbody {
        display: block;
    }
    .adaptiv .header_wrap_container tbody tr {
		display: block;
	}
	.adaptiv .header_wrap_container .right_wrap tbody tr {
		text-align: right;
	}*/
	.adaptiv .header_wrap_container tbody tr td {
        display: none;
		padding-top: 5px;
		padding-bottom: 5px;
    }
	.adaptiv .header_wrap_container tbody tr .right_wrap td:last-child {
		display:inline-block;
	}
    .adaptiv .header_wrap_container .logo_wrap {
        display: table-cell;
		width: auto;
    }
    .adaptiv .header_wrap_container .right_wrap {
        display: table-cell;
        width: auto;
    }
	.top_panel .phone_block {
		display: block !important;
	}
    /*.adaptiv .header_wrap_container .right_wrap table.table_wrap {
        float: none;
        display: block;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .adaptiv_left_wrap {
        display: block;
        float: left;
		margin-top: 5px;
        margin-bottom: 5px;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .phone_wrap {
        text-align: left;
		padding-left: 0px;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .basket_wrap.fly {
        width: 300px;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .adaptiv_right_wrap {
        display: block;
        float: right;
		margin-top: 5px;
        margin-bottom: 5px;
    }*/
}

@media all and (max-width: 510px) {
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .adaptiv_right_wrap {
        float: none;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .adaptiv_left_wrap {
        float: none;
    }
    .adaptiv .header_wrap_container .right_wrap table.table_wrap .call_button {
        text-align: left;
    }
}

.worakarea_wrap_container {
	margin:0 auto;	
	max-width:1162px;
	padding:0 9px;
	min-height:600px;
}
.header_grey {
	font-size: 18px;
	color: #1b2a39;	
	font-weight: bold;
	font-family: 'Gotham Pro','Noto Sans','PT Sans',sans-serif;
	margin-top:0;
	margin-bottom: 19px;
}
.standart_block {
	margin-bottom:30px;
}
/*@media (max-width:980px) {
	.adaptiv .header_wrap_container .logo_wrap {
		width:30%;
		margin-top: 10px;
	}
}
@media (max-width:640px) {
	.adaptiv .header_wrap_container .logo_wrap {
		width: 35%;
	}
}*/
@media (max-width:1024px) {
	.adaptiv .workarea_wrap {
		min-height:400px;
	}
}
.workarea_wrap h1 {
	padding-bottom:0;
	font-size:27px;
	color:#444648;	
	font-weight:normal;
}
.workarea_wrap h1 a {
	color:#000;
	text-decoration:none;
}
.bx_title_section {
	margin-top:0;
	padding-top:0;
	vertical-align:middle;
	font-size:26px;
}
.footer_wrap_container {
	margin:0 auto;
	padding-top:20px;
	padding-bottom:40px;
	max-width:980px;
}
/* ---- INC SOCIAL HEADER ---- */
.bx_inc_social_footer h4{
	text-align: left;
	font-weight: normal;
	font-size:26px;
}
.social_buttons {margin-top: 0px}
.social_buttons ul{
	margin: 0;
	padding: 0;
	list-style:none;
}
.social_buttons ul li{
	display: inline-block;
	width: 30px;
	height: 29px;
	list-style:none;
	margin-left:25px;
}
.social_buttons ul li a{
	display: block;
	width: 30px;
	height: 29px;
	background: url(images/social_buttons.png) no-repeat;	
}
.social_buttons ul li.fb a{ background-position: 0 0;}
.social_buttons ul li.tw a { background-position:-112px 0;}
.social_buttons ul li.vk a{ background-position:-170px 0;}
.social_buttons ul li.in a{ background-position:-57px 0;}
.social_buttons ul li.fb a:hover { background-position: 0 -31px;}
.social_buttons ul li.tw a:hover { background-position: -112px -31px;}
.social_buttons ul li.vk a:hover { background-position: -170px -31px;}
.social_buttons ul li.in a:hover { background-position: -57px -31px;}
/* ---- INC SOCIAL HEADER END---- */
/*HEADER_LOGO*/
span.code {
	font-size:17px;
}
table.header_table td.logo {
	width:50%;
}
table.header_table td.logo_wrap {	
	padding-left:12px;
	max-height:60px;
}
table.header_table td.logo_wrap img {
	max-height:60px;
}
@media (max-width:1200px){
	.adaptiv table.header_table td.logo {
		width:40%;
	}
	.adaptiv table.header_table td.address {
		width:20%;
	}
	.adaptiv table.header_table td.phone {
		width:20%;
	}
}
@media (max-width:920px){
	.adaptiv table.header_table td.logo {
		width: 30%;
	}
	.adaptiv table.header_table td.address {
		width:25%;

	}
	.adaptiv table.header_table td.phone {
		width:25%;
	}
}
@media (max-width:740px){
	.adaptiv table.header_table td.logo {
		display:block;
		float:left;
		width:30%;
		margin-top: 5px;
		margin-bottom: 5px;		
		
	}
	.adaptiv table.header_table td.socnet {
		display:none;
	}
	.adaptiv table.header_table td.address {	
		display:block;
		float:left;
		width:30%;
		margin-left:20px;	
		margin-left: 10px;	
		margin-top:2%;
	}
	.adaptiv table.header_table td.phone {		
		display:block;
		float:right;
		width:35%;
		margin-right:10px;
		margin-bottom:5px;
		text-align:right;
	}
	.adaptiv table.header_table {
		max-height: 60px;
	}
}
@media (max-width:600px) {
	.adaptiv table.header_table td.address {
		display:none;
	}
	.adaptiv table.header_table td.phone {
		width:50%;
		font-size: 18px;
	}
	.adaptiv span.code {
		font-size:14px;
	}	
}
@media (max-width:550px) {	
	/*.adaptiv .header_wrap_container .logo_wrap {
		width:100%;
		margin-bottom:10px;
		margin-top: 10px;
	}*/
	.adaptiv .top_panel .phone_block .phone {
		margin-right: 6px;
	}
}
/*TOP_SLIDER*/
.slider{
	position: relative;
	overflow: hidden;
	margin-top: 40px;
	width:100%;
}
.slider .slider_container{
	position:absolute;
	top:0px;
	padding:0px;
}
.slider .slider_container  .slider_item{
	overflow:hidden;
	float:left;
}
.slider .slider_container  .slider_item img{
	
}
/*INDEX_HEADER*/
.section_header{	
	text-transform:uppercase;
	font-size:30px;
	color:#cf9f33;
	width:100%;
	text-align:center;
	background:url(images/header_line.jpg) repeat-x center;
	margin-bottom:35px;
	margin-top: 26px;
}
.section_header div{
	padding:0 11px;
	display:inline-block;
	background:white;
}
/*///////////*/
.text_block{
	font-size:12px;	
	color:#686868;
}
/*footer*/
.bg_footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background:#35363a;
   color: #e3e3e3;	
	margin-top:60px;
}
.bg_footer .contacts a{
	display: block;
   margin: 54px 0px 0;
}
.bg_footer .contacts {
	width:20%;
}
.bg_footer .footer{
    position: relative;
	max-width:1162px;
	margin:0 auto;
    overflow:  hidden;
    padding: 13px 20px;
}
.bg_footer .footer .table_footer {
	width:100%;
}
.bg_footer .contacts {
	color: inherit;
}
.bg_footer .contacts .one_phone {
	font-size:13px;	
	color: inherit;
}
.bg_footer .contacts .text_phone {
	font-size:13px;
	color: inherit;
	padding-left:2px;	
}
.bg_footer .phone-block {
    text-align: right;
}
.bg_footer .phone-block .phone {
	font-size:19px;
	color: inherit;
}
.bg_footer .phone-block .call_button {
    font-size:13px;	
}
.bg_footer .logo-block {
    padding-top: 25px;
}
.table_footer .contacts {
	width:32%;
	padding-left:13px;
}
.table_footer .footer_menu {
	width:100%;
	overflow:hidden;
}
@media (max-width:650px){
    .adaptiv .bg_footer .contacts {
        float: none;
    }
    
    .adaptiv .bg_footer .menu {
        float: none;
    }
    
    .adaptiv .bg_footer .phone-block {
        float: none;
        text-align: left;
    }
}
/*END_FOOTER*/
/*BX_POPUP_WINDOW*/
.popup-window	{
	border:0;
	border-radius:0;
	box-shadow:0;
	font-size:0;
}
.popup-window-close-icon,
.uni-popup .close_popup {
	width: 11px;
	height: 11px;
	background:url(images/close_popup.png) no-repeat 0 0;
	opacity:0.38;
}
.popup-window-close-icon:hover,
.uni-popup .close_popup:hover  {
	background:url(images/close_popup.png) no-repeat 0 0;
	opacity:1;
}
.popup-window-top-row,
.popup-window-left-column,
.popup-window-right-column {
	display:none;
}
.popup-window-content {
	margin: 0;
	background: #fff;
	border-radius: 7px;
}
.popup-window,
.popup-window-content-row .popup-window-center-column {
	background: #fff;
}
/*END BX_POPUP_WINDOW*/
.bx_left_catalog {
	float:left;
	width: 18.7%;
}
.bx_content_right {
	width: 80%;
	float: right;
	clear: right;
}
@media (max-width:959px){
	.adaptiv .bx_left_catalog {
		display:none;
	}
	.adaptiv .bx_content_right {
		width:100%;
		float:none;
	}
}
ul.top_personal_menu {
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	position:relative;
	top:1px;
}
ul.top_personal_menu li {
	float:left;
	display:block;
	list-style:none;
	border:1px solid #fff;
	border-bottom:0;
}
ul.top_personal_menu li.active {
	border:1px solid #bebebe;
	border-bottom:1px solid #fff;
}
ul.top_personal_menu li a {
	display:block;
	font-size:14px;
	padding:14px 17px;
	color:#5a5a5a;
	font-family:'Babas',Arial,sans-serif;
	text-decoration:none;
}
.personal_body {
	border:1px solid #bebebe;
	width:100%;
	padding:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
@media (max-width:600px){
	.adaptiv ul.top_personal_menu li a {
		padding:12px 10px;
	}
}
@media (max-width:480px){
	.adaptiv ul.top_personal_menu li a {
		padding:12px 4px;
		font-size:12px;
	}
}
.bx_page {
	font-size:14px;
}
@media (max-width:800px) {
	.adaptiv .left_col_index {
		display:none;
	}
	.adaptiv .right_col,
	.adaptiv .right_col_index	{
		width:100%;
	}
	.adaptiv .left_col {
		width:100%;
		margin-bottom:30px;
	}
	.adaptiv .left_col .services-sections-list.menu {
		display: none;
	}
}
/*contacts*/

@media (max-width:768px) {
	.adaptiv .cnt_contacts {
		width:100%;
	}
	.adaptiv .cnt_map {
		width:100%;
		margin-top:15px;
	}
}
/*block see*/
.one_see .img_see {
	width: 58px;
	height:58px;
	display:block;
	float: left;
	text-align: center;
}
.one_see {
	clear:both;
	margin-bottom: 15px;
	overflow:hidden;
}
.one_see .right_see {
	float: right;
	width: 60%;
}

/*To cart*/
.min-button.to-cart div {
	background-image: url('images/to_cart.png');
}

/*Catalog button*/
.catalog-button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 7px 13px 6px 13px;
	text-decoration: none;
	background: #3a58d2;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}.catalog-button:hover {
	background: #546dd1;
	text-decoration: none;
	color: #fff;
}.catalog-button:focus {
	background: #3252d1;
	color: #fff;
	outline: none;
	text-decoration: none;
}

/*Hover shadow*/
.hover_shadow {
	transition-property: box-shadow;
	transition: 0.2s;
}
.hover_shadow:hover {
	box-shadow: 0px 10px 18px rgba(0,0,0,0.15);
}
/*flexel*/
.nbs-flexisel-container {
    position:relative;
    /*max-width:98%;*/
	margin:0 auto;
	overflow:hidden;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
	overflow:hidden;    
	/*width:97%;*/
	margin:0 auto;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:100px;
    max-height:45px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left {
	position: absolute;
	top: -50px !important;
	left:auto;
	right: 36px;
}
.nbs-flexisel-nav-right {
	position: absolute;
	top: -50px !important;
	right: 8px;
}

.error404 {
	max-width:563px;
	margin:0 auto;
	font-family:"Ubuntu",sans-serif;
	text-align:center;
}
.error404 .img {
	color: #fff;
	text-align: center;
	font-size: 50px;
	width: 145px;
	height: 145px;
	line-height: 145px;
	margin: 0 auto;
	border-radius: 145px;
	font-weight: bold;
	font-family: "Ubuntu";
}
.error404 .header_text {
	text-align:center;
	font-size:30px;
	font-weight:bold;
	font-family:"Ubuntu",sans-serif;
	color:#111111;
	padding:30px 0;
}
.error404 .text {
	font-size:14px;
	margin-bottom:30px;
}
.error404 .solid_button,
.error404 .border_button {
	text-decoration:none;
	font-size:16px;
	text-align:center;
	width:263px;
	height:35px;
	line-height:35px;
	border-radius:6px;
}
@media (max-width:700px) {
	.error404 .solid_button,
	.error404 .border_button {
		width:100%;
		margin-bottom:10px;
	}
}
.button_up {
	width: 40px;
	height: 40px;
	position: fixed;
	display:none;
	bottom: 30px;
	right: 30px;
	border-radius: 5px;
	z-index: 50;
	cursor: pointer;	
	opacity:0.9;
}
.button_up:hover {
	opacity:1;
}
.button_up i {
	width: 16px;
	height: 9px;
	margin:15px auto;
	background: url(images/sprite_to_up.png) no-repeat bottom;
	display: block;
}
.bg_footer .copyright {
	background: #2d2f34;
	color:#bac0cc;
	font-size:12px;
}
.bg_footer .copyright .copy_wrap {
	max-width: 1162px;
	margin: 0 auto;
}
.bg_footer .copyright .copy_wrap .copy,.bg_footer .copyright .copy_wrap .address,.bg_footer .copyright .copy_wrap .email {
	float: left;
	margin-right: 80px;
	padding-top: 22px;
	padding-bottom:22px;
}
.footer span.open_call { 
	font-size:12px;
	text-decoration:none;
	border-bottom:1px dashed;
	color: #e3e3e3;
	cursor: pointer;
}
.footer span.open_call:hover {
	color:#fff;
	border-bottom:1px dashed #fff;
}
.about-company {
	position:relative;
	padding-bottom:50px;
}
body .footer .hover_link:hover {
	color: #A4A6BB !important;
}
@media (max-width:1200px) {
	.copy_wrap {
		padding:0 8px;
	}
}
@media (max-width:800px) {
	.bg_footer .copyright .copy_wrap .copy, .bg_footer .copyright .copy_wrap .address, .bg_footer .copyright .copy_wrap .email {
		padding:10px 0;
	}
}

/* spinner */
.spinner {
  width: 70px;
	text-align: center;
	position: absolute;
	z-index: 11000;
	bottom: 0;
	top: 75px;
	top: 316px;
	margin: auto;
	right: 0;
	left: 0;
	bottom: 0;
	display:none;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.consent-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.consent-body {
    padding: 15px;
}
/*popup*/
.bx_popup_close {
	display: none;
}
.popup-window-overlay {
	width: 100% !important;
}