.uni_popular,
.uni_popular.with-slider,
.uni_popular.with-title {
    display: block;
    position: relative;
    height: auto;
    padding: 0px;
    margin: 0px;
    width: auto;
    overflow: visible;
}

.uni_popular .buttons {
    display: block;
    position: absolute;
    right: 0px;
    top: -30px;
    height: 24px;
    overflow: hidden;
    margin-bottom: 10px;
}

.uni_popular.with-title .buttons {
    top: 0px;
}

.uni_popular .buttons .buttons-wrapper {
    margin: -4px;
    min-width:  8px;
    min-height: 8px;
    font-size: 0px;
}

.uni_popular .buttons .button {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
}

.uni_popular .indents {
    display: block;
    position: relative;
    margin: -8px;
}

.uni_popular .indents .slider {
    display: block;
    font-size: 0px;
    white-space: normal;
    padding: 0px;
    margin: 0px;
}

.uni_popular.with-slider .indents .slider {
    white-space: nowrap;
}

.uni_popular .indents .slider .element {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
}

.uni_popular .indents .slider .element .element-wrapper {
    display: block;
    padding: 20px 20px;
    position: relative;
    border: 1px solid transparent;
}

.uni_popular .indents .slider .element .element-wrapper:hover {
    border-color: #e8e8e8;
}

.uni_popular .indents .slider .element .element-wrapper .marks {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-right: 46px;        
}

.uni_popular .indents .slider .element .min-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
    z-index: 1;
}

.uni_popular .indents .slider .element .min-buttons .min-buttons-wrapper {
    display: block;
    margin: -5px;
}

.uni_popular .indents .slider .element .min-buttons .min-button {
    display: block;
    padding: 5px;
}

.uni_popular .indents .slider .element .image {
    display: block;
    position: relative;
    padding-top: 100%;
}

.uni_popular .indents .slider .element .image .image-wrapper {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.uni_popular .indents .slider .element .information {
    display: block;
    height: 78px;
    margin: 0px;
}

.uni_popular .indents .slider .element .information .name {
    display: block;
    font-size: 12px;
    color: #263a36;
    line-height: 16px;
    height: 32px;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
}

.uni_popular .indents .slider .element .information .category {
    display: block;
    font-size: 11px;
    color: #b4b4b4;
    line-height: 15px;
    text-decoration: none;
    height: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}
.uni_popular .indents .slider .element .information .category:hover {
    color: #444648;
}

.uni_popular .indents .slider .element .information .price {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    overflow: hidden;
}

.uni_popular .listener {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.uni_popular .listener .listener-wrapper {
    display: inline-block;
    text-align: left;
    min-width: 10px;
    min-height: 10px;
    margin: -5px;
    font-size: 0px;
}

.uni_popular .listener .listener-wrapper .button {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    background: #e1e1e1;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    cursor: pointer;
}
.uni_popular .listener .listener-wrapper .button.state-active,
.uni_popular .listener .listener-wrapper .button:hover {
    background: #222943;
}
.uni_popular .indents .slider .element .element-wrapper .uni-button-quickview {
	display:none;
}
.uni_popular .indents .slider .element .element-wrapper:hover .uni-button-quickview {
	display:block;
}