.tt-list {
	width:100%;
	padding-bottom:50px;
	padding-top:30px;
}
.tt-list ul {
	list-style:none;
	margin:0;
	padding:0;
    overflow: hidden;
}
.tt-list.big ul {
	height: 116px;
}
.tt-list.big .img_banner {
	display: block;
   float: left;
   margin-top: 21px;
}
.tt-list.big .r_col {
	display: block;
    margin-left: 64px;
    margin-top: 45px;
}
.tt-list li {
    margin-bottom: 25px;
    list-style:none;
    white-space: nowrap;
    overflow: hidden;
}
.tt-list.big li {
	height: 116px;
}
.tt-list .img_banner {
	width:64px;
	height:64px;
	background-repeat:no-repeat;
	background-position:center;
	margin:0 auto;
}
.tt-list .name {
	text-transform:uppercase;
	font-size:14px;
    line-height: 19px;
	font-weight:normal;
	text-align:center;
	margin-top: 5px;
    height: 38px;
    overflow: hidden;
	white-space: normal;
	color: #414346;
}
.tt-list .description {
	margin-top:0px;
	font-size:13px;
    text-align: justify;
    white-space: normal;
    height: 72px;
    overflow: hidden;
}
@media (max-width: 800px) {
	.tt-list.big ul {
		height: auto;
	}
	.tt-list.big .img_banner {
		float: none;
		margin-top: 0;
	}
	.tt-list.big .r_col {
		margin-left: 0;
		margin-top: 0;
	}
}
@media (max-width: 400px) {
	.adaptiv .tt-list .uni-25 {
		width: 50%;
	}
}