

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news.list/popular_category/style.css?15548708883919*/
.block_popular.standart_block {
	margin-bottom:25px;
}
.block_popular .uni_parent_col {
    margin-top: -8px;
    margin-bottom: -8px;
}
.block_popular .one_categories {
	position:relative;
}
.block_popular .uni_col a.image {
	display:block;
	width:100%;
	padding-top:100%;
	
}
.block_popular .uni_col {
    padding: 0px;
}
.block_popular .uni_col a.image {
    position: relative;
}
.block_popular .uni_col a.image .wrapper {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
}
.block_popular .uni_col a.image .wrapper div {
    width: 100%;
    height: 100%;
    background-size:cover;
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:center;
}
.block_popular .uni_col.uni-33 a.image {
    padding-top: 100%;
}
.block_popular .uni_col.uni-50  a.image {
	padding-top: 50%;
}
.block_popular .uni_col.uni-66  a.image {
    padding-top: 50%;
}
.block_popular .uni_col.uni-75  a.image {
	padding-top: 33.3333333%;
}
.block_popular .uni_col.uni-100  a.image {
    padding-top: 33.3333333%;
}
.block_popular .uni_col .name {
	position: absolute;
	padding: 6px 12px;
	font-weight: bold;	
	text-transform:uppercase;
	font-weight: bold;
	box-sizing:border-box;
	max-width: 65%;
	word-wrap: break-word;
	background:#fff;
	font-size:20px;
	color:#000;
	top:50%;
	left:50%;
	text-align:center;
	bottom:inherit;
}
.block_popular .uni_col .popular_text_wrap {
	position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.block_popular .uni_col .popular_text_wrap .helper {
	display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
}
.block_popular .uni_col .popular_text_wrap .text {
	display: inline-block;
    vertical-align: middle;
	font-weight: bold;	
	text-transform:uppercase;
	font-weight: bold;
	box-sizing:border-box;
	max-width: 65%;
	word-wrap: break-word;
	background:#fff;
	font-size:20px;
	color:#000;
	text-align:center;
}

.block_popular .uni_col .popular_text_wrap .text:after {
	content:"";
	display:block;
	left:0;
	right:0;
	width:100px;
	border-top:1px solid #000;
	margin:auto;
	margin-top: 10px;
}
.block_popular .uni_col .popular_text_wrap .text:before {
	content:"";
	display:block;
	left:0;	
	right:0;	
	width:100px;
	border-bottom:1px solid #000;
	margin:auto;
	margin-bottom: 7px;
}
.block_popular .uni_col .popular_text_wrap .text {
	font-size:25px;
	text-transform:inherit;
	font-weight:normal;
	color:#3e3939;	
}

.block_popular .uni_col .wrapper .wrapper-shadow {
	display: block;
	overflow: hidden;
}

.block_popular .uni_col .wrapper .wrapper-shadow .category-image {
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
		-ms-transition: 0.3s;
		 -o-transition: 0.3s;
			transition: 0.3s;
}
.block_popular .uni_col .wrapper .wrapper-shadow .category-image:hover {
	-webkit-transform: scale(1.2,1.2);
	   -moz-transform: scale(1.2,1.2);
		-ms-transform: scale(1.2,1.2);
		 -o-transform: scale(1.2,1.2);
			transform: scale(1.2,1.2);
}
.block_popular .uni_col .name {
	

}
@media (max-width:1000px) {
	.adaptiv .block_popular .uni_col.uni-50,
	.adaptiv .block_popular .uni_col.uni-66,
	.adaptiv .block_popular .uni_col.uni-75,
	.adaptiv .block_popular .uni_col.uni-100	{
		width:33.33%;
	}
	.adaptiv .block_popular .uni_col.uni-50 a.image,
	.adaptiv .block_popular .uni_col.uni-66  a.image,
	.adaptiv .block_popular .uni_col.uni-75 a.image,
	.adaptiv .block_popular .uni_col.uni-100  a.image	{
		padding-top:100%;
	}
}
@media (max-width: 600px){
	.adaptiv .block_popular .uni_col.uni-50,
	.adaptiv .block_popular .uni_col.uni-66,
	.adaptiv .block_popular .uni_col.uni-75,
	.adaptiv .block_popular .uni_col.uni-100	{
		width:50%;
	}	
}
@media (max-width: 400px){
	.adaptiv .block_popular .uni_col.uni-50,
	.adaptiv .block_popular .uni_col.uni-66,
	.adaptiv .block_popular .uni_col.uni-75,
	.adaptiv .block_popular .uni_col.uni-100	{
		width: 100%;
	}	
}

/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news.list/tizers/style.css?15548708881264*/
.tt-list {
	width:100%;
	padding-bottom:50px;
	padding-top:30px;
}
.tt-list ul {
	list-style:none;
	margin:0;
	padding:0;
    overflow: hidden;
}
.tt-list.big ul {
	height: 116px;
}
.tt-list.big .img_banner {
	display: block;
   float: left;
   margin-top: 21px;
}
.tt-list.big .r_col {
	display: block;
    margin-left: 64px;
    margin-top: 45px;
}
.tt-list li {
    margin-bottom: 25px;
    list-style:none;
    white-space: nowrap;
    overflow: hidden;
}
.tt-list.big li {
	height: 116px;
}
.tt-list .img_banner {
	width:64px;
	height:64px;
	background-repeat:no-repeat;
	background-position:center;
	margin:0 auto;
}
.tt-list .name {
	text-transform:uppercase;
	font-size:14px;
    line-height: 19px;
	font-weight:normal;
	text-align:center;
	margin-top: 5px;
    height: 38px;
    overflow: hidden;
	white-space: normal;
	color: #414346;
}
.tt-list .description {
	margin-top:0px;
	font-size:13px;
    text-align: justify;
    white-space: normal;
    height: 72px;
    overflow: hidden;
}
@media (max-width: 800px) {
	.tt-list.big ul {
		height: auto;
	}
	.tt-list.big .img_banner {
		float: none;
		margin-top: 0;
	}
	.tt-list.big .r_col {
		margin-left: 0;
		margin-top: 0;
	}
}
@media (max-width: 400px) {
	.adaptiv .tt-list .uni-25 {
		width: 50%;
	}
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news.list/four_banners/style.css?15548708881144*/
.banners-list .banners-list-item {
	border-radius: 3px;
    overflow: hidden;
}
.banners-list .img_banner {
	display:block;
	width:100%;
	padding-top:115%;
	//background-position:center;
	background-repeat:no-repeat;
	border-radius: 0;
	border-radius: 3px;
	background-size:contain;
}
.banners-list ul {
	list-style:none;
	margin:0;
	padding:0;
}
.banners-list ul li {
	padding: 8px;
}
.banners-list ul  li .banners-list-item {
	position:relative;
}
.banners-list .name_banner {
	display: block;
	position: absolute;
	background: #fff;
	height: 95px;
	width: 100%;
	bottom: 0;
	left: 0;
	border-radius: 0;
	padding: 4% 5%;
	text-decoration:none;
	outline:none;
	box-sizing: border-box;	
	
}
.banners-list .name_banner .name {
	font-weight:bold;
	font-size:13px;
	color:#363434;
	text-decoration:none;
}
.banners-list .name_banner .preview_text {
	color:#363434;
	font-size:13px;
	display:block;
	padding-top:2%;
}

.banner_block {
    position: absolute;
    left: 0;
    width: 100%;
    background: #f6f6f6;
}
.banner_block_wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
	padding: 30px 8px;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/intec/tabslabel/uni.labels.2/style.css?15548708871340*/
.uni-labels-2 {
    display: block;
}

.uni-labels-2 .uni-labels-wrapper {
    display: block;
}

.uni-labels-2 .tabs {
    display: block;
    overflow: hidden;   
}

.uni-labels-2 .tabs .tabs-wrapper {
    display: block;
    font-size: 0px;
    white-space: normal;
    margin: -5px -15px;
    min-width: 30px;
    min-height: 30px;
    padding: 0px;
    text-align: left;
}
.uni-labels-2 .tabs .tabs-wrapper a{
    color:#636363;
}

.uni-labels-2 .tabs .tab {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 15px;
}

.uni-labels-2 .tabs .tab .tab-wrapper {
    display: block;
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.uni-labels-2 .tabs .buttons-space {
    float: right;
    width: 65px;
    height: 24px;
}

.uni-labels-2 .tabs .tab:hover .tab-wrapper,
.uni-labels-2 .tabs .tab.ui-state-active .tab-wrapper {
    border-bottom: 2px solid #000000;
    
}

.uni-labels-2 .uni_popular .indents .slider .element .element-wrapper {
	background: #fff;
}

.labels_block {
    position: absolute;
    left: 0;
    width: 100%;
    background: #f6f6f6;
}
.labels_block_wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
	padding: 30px 8px 0px 8px;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog.top/uni_popular/style.css?15548708884260*/
.uni_popular,
.uni_popular.with-slider,
.uni_popular.with-title {
    display: block;
    position: relative;
    height: auto;
    padding: 0px;
    margin: 0px;
    width: auto;
    overflow: visible;
}

.uni_popular .buttons {
    display: block;
    position: absolute;
    right: 0px;
    top: -30px;
    height: 24px;
    overflow: hidden;
    margin-bottom: 10px;
}

.uni_popular.with-title .buttons {
    top: 0px;
}

.uni_popular .buttons .buttons-wrapper {
    margin: -4px;
    min-width:  8px;
    min-height: 8px;
    font-size: 0px;
}

.uni_popular .buttons .button {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
}

.uni_popular .indents {
    display: block;
    position: relative;
    margin: -8px;
}

.uni_popular .indents .slider {
    display: block;
    font-size: 0px;
    white-space: normal;
    padding: 0px;
    margin: 0px;
}

.uni_popular.with-slider .indents .slider {
    white-space: nowrap;
}

.uni_popular .indents .slider .element {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
}

.uni_popular .indents .slider .element .element-wrapper {
    display: block;
    padding: 20px 20px;
    position: relative;
    border: 1px solid transparent;
}

.uni_popular .indents .slider .element .element-wrapper:hover {
    border-color: #e8e8e8;
}

.uni_popular .indents .slider .element .element-wrapper .marks {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-right: 46px;        
}

.uni_popular .indents .slider .element .min-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
    z-index: 1;
}

.uni_popular .indents .slider .element .min-buttons .min-buttons-wrapper {
    display: block;
    margin: -5px;
}

.uni_popular .indents .slider .element .min-buttons .min-button {
    display: block;
    padding: 5px;
}

.uni_popular .indents .slider .element .image {
    display: block;
    position: relative;
    padding-top: 100%;
}

.uni_popular .indents .slider .element .image .image-wrapper {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.uni_popular .indents .slider .element .information {
    display: block;
    height: 78px;
    margin: 0px;
}

.uni_popular .indents .slider .element .information .name {
    display: block;
    font-size: 12px;
    color: #263a36;
    line-height: 16px;
    height: 32px;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
}

.uni_popular .indents .slider .element .information .category {
    display: block;
    font-size: 11px;
    color: #b4b4b4;
    line-height: 15px;
    text-decoration: none;
    height: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}
.uni_popular .indents .slider .element .information .category:hover {
    color: #444648;
}

.uni_popular .indents .slider .element .information .price {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    overflow: hidden;
}

.uni_popular .listener {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.uni_popular .listener .listener-wrapper {
    display: inline-block;
    text-align: left;
    min-width: 10px;
    min-height: 10px;
    margin: -5px;
    font-size: 0px;
}

.uni_popular .listener .listener-wrapper .button {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    background: #e1e1e1;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    cursor: pointer;
}
.uni_popular .listener .listener-wrapper .button.state-active,
.uni_popular .listener .listener-wrapper .button:hover {
    background: #222943;
}
.uni_popular .indents .slider .element .element-wrapper .uni-button-quickview {
	display:none;
}
.uni_popular .indents .slider .element .element-wrapper:hover .uni-button-quickview {
	display:block;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news.list/lookbook1/style.css?15548708881134*/
.uni-lookboks-2{
	position: relative;
	padding-bottom: 45px;
}

.uni-labels-2 {
    display: block;
}

.uni-labels-2 .uni-labels-wrapper {
    display: block;
}

.uni-labels-2 .tabs {
    display: block;
    overflow: hidden;   
}

.uni-labels-2 .tabs .tabs-wrapper {
    display: block;
    font-size: 0px;
    white-space: normal;
    margin: -5px -15px;
    min-width: 30px;
    min-height: 30px;
    padding: 0px;
    text-align: left;
}

.uni-labels-2 .tabs .tab {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 15px;
}

.uni-labels-2 .tabs .tab .tab-wrapper {
    display: block;
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.uni-labels-2 .tabs .buttons-space {
    float: right;
    width: 65px;
    height: 24px;
}

.uni-labels-2 .tabs .tab:hover .tab-wrapper,
.uni-labels-2 .tabs .tab.ui-state-active .tab-wrapper {
    border-bottom: 2px solid #000000;
    
}

.tabs .header_grey {
	margin-top: 0;
	margin-bottom: 0;
}

.lookbook .uni-slider-button-small {
    background: none;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog.top/uni_lookbook/style.css?15548708885790*/
.uni_lookbook,
.uni_lookbook.with-slider,
.uni_lookbook.with-title {
    display: block;
    position: relative;
    height: auto;
    padding: 0px;
    margin: 0px;
    width: auto;
    overflow: visible;
}

.uni_lookbook .buttons {
    display: block;
    position: absolute;
    right: 0px;
    top: -30px;
    height: 24px;
    overflow: hidden;
    margin-bottom: 10px;
}

.uni_lookbook.with-title .buttons {
    top: 0px;
}

.uni_lookbook .buttons .buttons-wrapper {
    margin: -4px;
    min-width:  8px;
    min-height: 8px;
    font-size: 0px;
}

.uni_lookbook .buttons .button {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
}

.uni_lookbook .indents {
    display: block;
    position: relative;
    margin: -8px;
}

.uni_lookbook .indents .slider {
    display: block;
    font-size: 0px;
    white-space: normal;
    padding: 0px;
    margin: 0px;
}

.uni_lookbook.with-slider .indents .slider {
    white-space: nowrap;
}

.uni_lookbook .indents .slider .element {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
}

.uni_lookbook .indents .slider .element .element-wrapper {
    display: block;
    padding: 0;
    position: relative;
    border: 1px solid transparent;
}

.uni_lookbook .indents .slider .element .element-wrapper:hover {
    border-color: #e8e8e8;
}

.uni_lookbook .indents .slider .element .element-wrapper .marks {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-right: 46px;        
}

.uni_lookbook .indents .slider .element .min-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
    z-index: 1;
}

.uni_lookbook .indents .slider .element .min-buttons .min-buttons-wrapper {
    display: block;
    margin: -5px;
}

.uni_lookbook .indents .slider .element .min-buttons .min-button {
    display: block;
    padding: 5px;
}

.uni_lookbook .indents .slider .element .image {
    display: block;
    position: relative;
    //padding-top: 100%;
}

.uni_lookbook .indents .slider .element .image .image-wrapper {
    display: block;
    //position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    //height: 100%;
}

.uni_lookbook .indents .slider .element .information {
    display: block;
    height: 78px;
    margin: 0px;
}

.uni_lookbook .indents .slider .element .information .name {
    display: block;
    font-size: 12px;
    color: #263a36;
    line-height: 16px;
    height: 32px;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
}

.uni_lookbook .indents .slider .element .information .category {
    display: block;
    font-size: 11px;
    color: #b4b4b4;
    line-height: 15px;
    text-decoration: none;
    height: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}
.uni_lookbook .indents .slider .element .information .category:hover {
    color: #444648;
}

.uni_lookbook .indents .slider .element .information .price {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    overflow: hidden;
}

.uni_lookbook .listener {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.uni_lookbook .listener .listener-wrapper {
    display: inline-block;
    text-align: left;
    min-width: 10px;
    min-height: 10px;
    margin: -5px;
    font-size: 0px;
}

.uni_lookbook .listener .listener-wrapper .button {
    display: none;
    vertical-align: middle;
    margin: 5px;
    background: #e1e1e1;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    cursor: pointer;
}
.uni_lookbook .listener .listener-wrapper .button.state-active,
.uni_lookbook .listener .listener-wrapper .button:hover {
    background: #222943;
}
.uni_lookbook .indents .slider .element .element-wrapper .uni-button-quickview {
	display:none;
}
.uni_lookbook .indents .slider .element .element-wrapper:hover .uni-button-quickview {
	display:block;
}

.uni_lookbook .uni-slider-button-small {
    background: none;
}

.uni_lookbook .uni-button-quickview {
    width: 100%;
	max-width:100%;
    text-align: center;
    height: 35px;
    background: rgba(231,231,231,0.83);
    border: none;
    border-radius: 0;
    color: #616161;
    font-size: 12px;
    line-height: 35px;
    margin: auto;
    position: absolute;
    top: auto;
	left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.uni_lookbook .uni-button-quickview:hover {
	background: rgba(197,197,197,0.8);
}
	
.uni_lookbook .hover_shadow:hover {
    box-shadow: 0px 12px 20px rgba(0,0,0,0.15);
}

.uni_lookbook .uni-button-quickview i {
    display: inline-block;
    width: 20%;
	float: right;
	margin-left: auto;
	margin-right: 0;
    height: 100%;
    vertical-align: middle;
    margin-right: 0;
    background: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.top/uni_lookbook/images/loop.png) no-repeat center;
	background-color: rgba(231,231,231,0.8);
}

.uni_lookbook .image:hover .loop i {
	margin: auto;
    position: absolute;
    top: 0;
	left: 0;
    right: 0;
    bottom: 0;
	width: 45px;
	height: 45px;
	background: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.top/uni_lookbook/images/loop.png) no-repeat center;
	background-color: rgba(231,231,231,0.75);
}

.uni_lookbook .uni-button-quickview i:hover {
	background-color: rgba(231,231,231,1);
}

.uni_lookbook .model-name {
	display: inline-block;
	width: 80%;
	padding-left: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news.list/reviews/style.css?15548708882348*/
.reviews {
	position: relative;
    padding-bottom: 40px;
}
.reviews .review .img_review {
	display:block;
	width:115px;
	height:115px;
	border-radius:50%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	margin:0 auto;
	position:relative;
	text-decoration: none;
	z-index:50;
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
  	-o-filter: grayscale(100%);
  	filter: url(/bitrix/templates/unigarderob_s1/components/bitrix/news.list/reviews/desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
	filter: grayscale(100%);
}
.reviews  .uni_col:hover .img_review{
	-webkit-filter: initial;
    -moz-filter: initial;
    -ms-filter: initial;
    -o-filter: initial;
    filter: initial;
    filter: initial;
    -webkit-filter: initial;
    filter: initial;
}
.reviews .review .name_news  {
	font-size:13px;
	text-decoration:none;
	margin-bottom: 21px;
	display:block;
}
.reviews .review .preview {
	text-align: left;
	height: 72px;
	overflow: hidden;
	margin-top:7px;
	display:block;
}
.reviews .wrap_review {
	padding:0 20px 16px; 
	display:block;
}
.reviews .review_text  {
	display: block;
	text-decoration: none;
	padding-top: 55px;
	margin-top: -45px;
	background: #fff;
}
.reviews .review_text .delimiter {
	border-bottom: 1px solid #bdbdbd; 
	width:20%;
}
.reviews .name_review {
	text-align:center;
	color:#515151;
	font-size:14px;
	line-height:27px;
	display:block;
}
.reviews .staff_review {
	font-size:14px;
	color:#bdbdbd;
	text-align:center;
	display:block;
}
.reviews .preview {
	font-size:13px;
	color:#606060;
}
.reviews  .uni_col.uni-33 {
	display: block;
	margin-bottom: 15px;
	text-decoration: none;
}
.review_text .read_more {
	display: block;
	border-top:1px solid #e4e4e4;
	text-decoration: none;
	text-align:center;
	padding:10px 15px;	
}.review_text .read_more:hover {
	color: #636363 !important;
}
.reviews .see_all {
	position:absolute;
	right:0;
	bottom:0;
	display:block;
	padding: 8px 17px;
	border:1px solid #eaeaea;
	border-radius:3px;
	background:#fff;
}
.reviews .see_all a {
	text-decoration:none;
	color:#1c1c1c;
	font-size:12px;
}
.reviews_block {
    position: absolute;
    left: 0;
    width: 100%;
    background: #f6f6f6;
}
.reviews_block_wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
	padding: 30px 8px 0px 8px;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog.section/slider_lider_brand/style.css?15548708884049*/
.elastislide-list ul li {
	vertical-align:top;
	max-width:182px;	
	position:relative;
	margin-right:16px;
}
.elastislide-carousel ul li a img{
	border:0;
	
}
.elastislide-list{
	width: 100%;
}
.elastislide-list a.img_brand {
	max-width:86px;
	height:120px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	display:block;
	margin:0 auto;
	line-height: 120px;
}
.elastislide-list .img_brand {
	-webkit-filter: initial;
	-moz-filter: initial;
	-ms-filter: initial;
	-o-filter: initial;
    filter: initial;	
}
.elastislide-list .img_brand img {
	display:table-cell;
	vertical-align:middle;
	position: relative;
  	display: inline-block;
  	vertical-align: middle;
  	border: none;
  	max-width: 100%;
  	max-height: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
  	-o-filter: grayscale(100%);
  	filter: url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.section/slider_lider_brand/desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
	filter: grayscale(100%);
}
.elastislide-list .img_brand img:hover {
    -webkit-filter: initial;
    -moz-filter: initial;
    -ms-filter: initial;
    -o-filter: initial;
    filter: initial;
    filter: initial;
    -webkit-filter: initial;
    filter: initial;
}
.elastislide-list .one_product .name_product {
	text-align:center;
	width:100%;	
}
.elastislide-list .one_product .name_product a {
	display: block;
	font-family: Arial,sans-serif;
	color: #2e2e2e;
	font-weight: bold;
	font-size: 12px;
	white-space: normal;
	height: 32px;
	text-decoration: none;
}
.elastislide-list .one_product .name_product a:hover{
	text-decoration:underline;
}
.elastislide-list {
	box-shadow:none;
}
.elastislide-list nav span.elastislide-next {
	background:url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.section/slider_lider_brand/images/prev_next.png) no-repeat top right;
	width:8px;
	height:25px;
	
}
.elastislide-list nav span.elastislide-next:hover {	
}
.elastislide-list nav span.elastislide-prev {
	background:url(/bitrix/templates/unigarderob_s1/components/bitrix/catalog.section/slider_lider_brand/images/prev_next.png) no-repeat top left;
	width:8px;
	height:25px;
	opacity:0.8;
}
.elastislide-list nav span.elastislide-prev:hover {
	opacity:1;
}
.elastislide-list .price_block {
	height:55px;
}
.elastislide-list .price_block .new_price {
	font-family:'Babas',Arial,sans-serif;
	color:#2e2e2e;
	font-size:17px;
	text-align:center;
}
.elastislide-list .price_block .old_price {
	color:#c39326;
	font-size:15px;
	font-family:'Babas',Arial,sans-serif;
	text-align:center;
	text-decoration:line-through;
}
.elastislide-list li.one_product:hover .quick_view {
	visibility:visible;
}
.elastislide-list a.quick_view {
	margin-top:18px;
	visibility:hidden;
	width:123px;
	height:25px;
	background:#424242;
	text-align:center;
	color:#fff;
	font-size:11px;
	font-family:'Babas',Arial,sans-serif;
	line-height:25px;
	text-decoration:none;
	margin:0 auto;
	display:block;
	border-radius:2px;
}
.bx_brand .carouselbrand .nbs-flexisel-container {
    position:relative;
    max-width:98%;
	margin:0 auto;
	overflow:hidden;
}
.bx_brand .carouselbrand .nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.bx_brand .carouselbrand .nbs-flexisel-inner {
	overflow:hidden;    
	width:97%;
	margin:0 auto;
}

.bx_brand .carouselbrand .nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
}
.bx_brand .carouselbrand .nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:100px;
    max-height:45px;
}
/*** Navigation ***/

.bx_brand .nbs-flexisel-nav-left,
.bx_brand .nbs-flexisel-nav-right {
    position: absolute;
    z-index: 100;
	top: 50px !important;
}

.bx_brand .nbs-flexisel-nav-left {
	left: 0px;
}

.bx_brand .nbs-flexisel-nav-right {
	right: 0px;
}
@media screen and (max-width:960px) {
	.elastislide-list a.quick_view {
		display:none;
	}
}
.bx_brand{
	padding-bottom:5px;
	padding-top:5px;
	margin-top: 30px;
}
.one_brand {
	opacity:0.8;	
}
.one_brand:hover {
	opacity:1;	
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news.list/news_on_main_picture/style.css?15548708881022*/
.main_news_pictures {
	position:relative;
	padding-bottom:40px;
}
.all_news {
	text-decoration:none;
	font-size:12px;
}
.main_news_pictures .left_col {
	width:20% !important;
}
.main_news_pictures .news-item {
	margin-bottom:20px;
}
.main_news_pictures .left_col .img_review {
	width: 100%;
	padding-top: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.main_news_pictures .name_news {
	text-decoration:none;
	font-size:14px;
	display:block;	
	color:#1b2a39;
	margin-bottom:5px;
}
.main_news_pictures .preview {
	font-size:13px;
	color:#282828
}
.main_news_pictures .right_col {
	float:right;
	width:75% !important;
	padding-left:5%;
}
.main_news_pictures  .news-date-time {
	color:#949494;
	font-size:10px;
	margin-top:5px;
}
.main_news_pictures .see_all {
	position:absolute;
	right:0;
	bottom:0;
	display:block;
	padding: 8px 17px;
	border:1px solid #eaeaea;
	border-radius:3px;
}
.main_news_pictures .see_all a {
	text-decoration:none;
	color:#1c1c1c;
	font-size:12px;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/subscribe.form/main_page/style.css?15548708881292*/
.subscribe-form.main_page {
	max-width:556px;
	margin:0 auto;
}
.subscribe-form.main_page .title {
	text-transform:uppercase;
	font-size:18px;
	max-width:280px;
	margin: 0 auto;
	text-align:center;
	line-height: 30px;
	font-weight:200;
}
.subscribe-form.main_page .s_block {
	margin-top:15px;
	background: #f0f2f3;
	border-radius: 50px;
}
.subscribe-form.main_page .email {
	display: block;
	float: left;
	width: 70%;
	padding: 0 20px;
	max-width: 370px;
	height: 45px;
	background: #f0f2f3;
	font-size: 11px;
	color: #777777;
	border-radius: 50px;
	border: 0;
	box-sizing: border-box;
}
.subscribe-form.main_page .solid_button.submit {
	border:0;	
	height:45px;
	line-height:45px;
	text-align:center;
	float:right;
	width:29%;
	border-radius:50px;
	text-transform:uppercase;
	color:#fff;
	font-family: 'Gotham Pro';
	font-size:11px;
	letter-spacing:1.5px;
	box-sizing: border-box;
}
.subscribe_block {
    position: absolute;
    left: 0;
    width: 100%;
    background: #f6f6f6;
}
.subscribe_block_wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
	padding: 30px 8px;
}
@media all and (max-width:650px) {
	.subscribe-form.main_page .solid_button.submit { 
		font-size: 9px;
	}
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news.list/popular_category/style.css?15548708883919 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news.list/tizers/style.css?15548708881264 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news.list/four_banners/style.css?15548708881144 */
/* /bitrix/templates/unigarderob_s1/components/intec/tabslabel/uni.labels.2/style.css?15548708871340 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog.top/uni_popular/style.css?15548708884260 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news.list/lookbook1/style.css?15548708881134 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog.top/uni_lookbook/style.css?15548708885790 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news.list/reviews/style.css?15548708882348 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog.section/slider_lider_brand/style.css?15548708884049 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news.list/news_on_main_picture/style.css?15548708881022 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/subscribe.form/main_page/style.css?15548708881292 */
