

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news/contacts/bitrix/news.detail/.default/style.css?1554870888966*/
.contact {}

.contact .section {
	overflow: hidden;
	display: block;
}

.contact .section.section-left {
	float: left;
	width: 400px;
}

.contact .section.section-right {
	display: block;
	margin-left: 450px;
}

.contact .section .field .title {
	color: #262626;
	font-size: 16px;
	font-weight: bold;
}

.contact .section .field .text {
	font-size: 14px;
}

.contact .section .description {
	float: right;
	max-width: 900px;
}

.contact .section .map {
	float: right;
	width: 100%;
}

.contact .section .bx-yandex-map,
.contact .section yamaps {
	width: 100% !important;
}

.contact .section .images {
	display: block;
	margin-top: 9px;
	margin-bottom: 9px;
}

.contact .section .images .image img {
	width: 100%;
	padding-top: 9px;
	padding-bottom: 9px;
}

@media all and (max-width: 850px) {
	.adaptiv .contact .section.section-left {
		width: auto;
		float: none;
	}
	
	.adaptiv .contact .section.section-right {
		margin-left: 0px;
        margin-top: 50px;
	}
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news/contacts/bitrix/news.list/.default/style.css?15548708881595*/
.contacts-title {
	display: block;
	font-size: 24px;
	font-weight: bold;
}

.contacts {
	overflow: hidden;
}

.contacts .section {
	display: block;
}

.contacts .section .map {
	position: relative;
	display: block;
	margin-top: 30px;
	overflow: hidden;
	margin-left: 30px;
	margin-right: 30px;
}

.contacts .section .map .bx-yandex-map,
.contacts .section .map yamaps {
	width: 100% !important;
}

.contacts .section .element {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
    text-decoration: none;
}

.contacts .section .element .image {
	display: block;
	float: left;
	width: 110px;
	height: 110px;
	font-size: 0px;
}

.contacts .section .element .image .valign {
	display: inline-block;
	vertical-align: middle;
	width: 0px;
	height: 100%;
}

.contacts .section .element .image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.contacts .section .element .information {
	margin-left: 130px;
}

.contacts .section .element .information .address {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	height: 72px;
}
.contacts .section .element .information .phone,
.contacts .section .element .information .email {
	font-size: 14px;
	line-height: 18px;
	color: #6e6e6e;
}

.contacts .section .element .information .phone {
	margin-bottom: 4px;
}

.contacts .section .element .information .email {
	text-decoration: underline;
}

@media all and (max-width: 1150px) {
	.adaptiv .contacts .section .element {
		width: 50%;
	}
}

@media all and (max-width: 750px) {
	.adaptiv .contacts .section .element {
		width: 100%;
	}
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news/contacts/bitrix/news.detail/.default/style.css?1554870888966 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news/contacts/bitrix/news.list/.default/style.css?15548708881595 */
