.main_news_pictures {
	position:relative;
	padding-bottom:40px;
}
.all_news {
	text-decoration:none;
	font-size:12px;
}
.main_news_pictures .left_col {
	width:20% !important;
}
.main_news_pictures .news-item {
	margin-bottom:20px;
}
.main_news_pictures .left_col .img_review {
	width: 100%;
	padding-top: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.main_news_pictures .name_news {
	text-decoration:none;
	font-size:14px;
	display:block;	
	color:#1b2a39;
	margin-bottom:5px;
}
.main_news_pictures .preview {
	font-size:13px;
	color:#282828
}
.main_news_pictures .right_col {
	float:right;
	width:75% !important;
	padding-left:5%;
}
.main_news_pictures  .news-date-time {
	color:#949494;
	font-size:10px;
	margin-top:5px;
}
.main_news_pictures .see_all {
	position:absolute;
	right:0;
	bottom:0;
	display:block;
	padding: 8px 17px;
	border:1px solid #eaeaea;
	border-radius:3px;
}
.main_news_pictures .see_all a {
	text-decoration:none;
	color:#1c1c1c;
	font-size:12px;
}