.search-small {
    position: relative;
    display: block;
    max-width: 300px;
}
.top_panel .search-small {
    background: rgb(249, 249, 249);	
}
.top_panel .search-small .input-text {
	height:28px;
}
.search-small form {
    display: block;
}

.search-small .input-text {
    display: block;
    width: 100%;
    line-height: 28px;
    height: 34px; 
    font-family: 'Gotham Pro';
    font-size: 11px;
    border-radius: 3px;
}

.search-small .input-button {
    position: absolute;
    top: 0px;
    left: auto;
    right: 0px;
    bottom: auto;
    width: 30px;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0px;
}

.search-small .input-button.button-search {
    background: url('images/search_icon_header.png') no-repeat left center;
}