.subscribe-form.main_page {
	max-width:556px;
	margin:0 auto;
}
.subscribe-form.main_page .title {
	text-transform:uppercase;
	font-size:18px;
	max-width:280px;
	margin: 0 auto;
	text-align:center;
	line-height: 30px;
	font-weight:200;
}
.subscribe-form.main_page .s_block {
	margin-top:15px;
	background: #f0f2f3;
	border-radius: 50px;
}
.subscribe-form.main_page .email {
	display: block;
	float: left;
	width: 70%;
	padding: 0 20px;
	max-width: 370px;
	height: 45px;
	background: #f0f2f3;
	font-size: 11px;
	color: #777777;
	border-radius: 50px;
	border: 0;
	box-sizing: border-box;
}
.subscribe-form.main_page .solid_button.submit {
	border:0;	
	height:45px;
	line-height:45px;
	text-align:center;
	float:right;
	width:29%;
	border-radius:50px;
	text-transform:uppercase;
	color:#fff;
	font-family: 'Gotham Pro';
	font-size:11px;
	letter-spacing:1.5px;
	box-sizing: border-box;
}
.subscribe_block {
    position: absolute;
    left: 0;
    width: 100%;
    background: #f6f6f6;
}
.subscribe_block_wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
	padding: 30px 8px;
}
@media all and (max-width:650px) {
	.subscribe-form.main_page .solid_button.submit { 
		font-size: 9px;
	}
}