

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog/catalog/style.css?15548708871817*/
.catalog-section-menu.catalog-section-menu-all {
    display: none;
}
.catalog-section-menu.catalog-section-menu-current {
    display: block;
}

@media all and (max-width: 1150px) {
    .adaptiv .catalog-section-menu.catalog-section-menu-all {
        display: block;
    }
    .adaptiv .catalog-section-menu.catalog-section-menu-current {
        display: none;
    }
}

.uni-filter, .uni-menu{
	position: relative;
	display: none;
	vertical-align: middle;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	padding: 13px 11px 12px 11px;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background-color, border-color;
	-moz-transition: background-color, border-color;
	-ms-transition: background-color, border-color;
	-o-transition: background-color, border-color;
	transition: background-color, border-color;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	color: #434343;
	border: 1px solid #dadada !important;
}
.uni-filter:hover, .uni-menu:hover{
	background: #dadada;
}
@media all and (min-width: 800px) {
	.uni-btn-show {
		display: none;
	}
	.uni-btn-hide {
		display: none !important;
	}
}
@media all and (max-width: 800px) {
	.menu_catalog_hide {
		margin-bottom: 30px;
	}
	.filter_catalog_hide {
		margin-bottom: 80px;
	}
	.uni-btn-show{
		display: block;
	}
	.adaptiv .menu-catalog-left-1 {
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #dadada;
		border-radius: 3px;
	}
	.adaptiv .menu-catalog-left-1 .menu-catalog-left-1-item:first-child{
		border-top: 0px solid #e8e8e8;
	} 
	.adaptiv .menu-catalog-left-1 .menu-catalog-left-1-item{
		border-top: 1px solid #e8e8e8;
	}
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog.element/.default/style.css?156397031125794*/
.item {}

.item .row {
	display: block;
	overflow: hidden;
}

.item .title {
	font-size: 18px;
    color: #1b2a39;
    font-weight: bold;
    font-family: 'Noto Sans','PT Sans',sans-serif;
    margin-top: 0;
    margin-bottom: 19px;
}

/*Товар дня*/
.item .product-of-day {
	position: relative;
	display: block;
	background: #fed000;
	font-size: 0px;
	border-radius: 5px;
	padding: 15px;
}

.item .product-of-day .valign {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	height: 100%;
	width: 0px;
}

.item .product-of-day .day {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	text-align: center;
	color: #202020;
	font-weight: bold;
}

.item .product-of-day .day .number {
	font-size: 20px;
	line-height: 20px;
}

.item .product-of-day .day .month {
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}

.item .product-of-day .timer > .title,
.item .product-of-day > .title {
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: #202020;
	font-size: 20px;
	line-height: 20px;
}

.item .product-of-day > .title {
	font-weight: bold;
	margin-left: 30px;
}

.item .product-of-day .timer > .title {
	margin-right: 20px;
}

.item .product-of-day .timer {
	position: absolute;
	padding: 15px;
	height: 100%;
	top: 0px;
	right: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.item .product-of-day .timer .countdown {
	display: inline-block;
	vertical-align: middle;
}

.item .product-of-day .timer .countdown .pd_td {
	background: #fff;
	font-size: 16px;
	color: #000;
	padding: 7px;
	border-radius: 3px;
	font-weight: bold;
}

.item .product-of-day .timer .countdown .pd_num_separator {
	font-size: 16px;
	color: #000;
	padding: 5px;
	font-weight: bold;
}

/*Слайдер картинок*/
.item .image-slider {
	position: relative;
	float: left;
	width: 450px;
}

/*Главная картинка*/
.item .image-slider > .image-box {
	position: relative;
	display: block;
	width: 100%;
	padding-top: 100%;
	text-align: center;
	font-size: 0px;
	white-space: nowrap;
}

.item .image-slider > .image-box .wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.item .image-slider > .image-box .wrapper .marks {
	position: absolute;
	top: 10px;
	left: 10px;
}

.item .image-slider > .image-box .wrapper .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item .image-slider > .image-box .wrapper .slider-images,
.item .image-slider > .image-box .wrapper .slider-images .image {
	width: 100%;
	height: 100%;
}

.item .image-slider > .image-box .wrapper .slider-images .image {
	display: none;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
}

.item .image-slider > .image-box .wrapper .slider-images .image.zoom:hover {
	border: 1px solid #e7e7e7;
}

.item .image-slider > .image-box .wrapper .slider-images .image.noeffect {
	cursor: default;
}

.item .image-slider > .image-box .wrapper .slider-images .image:first-child {
	display: block;
}

.item .image-slider > .image-box .wrapper .slider-images img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

/*Список картинок*/
.item .image-slider > .list {
	position: relative;
	display: block;
    margin-top: 20px;
}

/*Кнопки списка*/
.item .image-slider > .list .buttons {
	position: absolute;
	width: 100%;
	height: 100%;
}

.item .image-slider > .list .buttons .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item .image-slider > .list .buttons .wrapper {
	display: inline-block;
	vertical-align: middle;
	height: 24px;
}

.item .image-slider > .list .buttons .button {
	position:absolute;
}.item .image-slider > .list .buttons #left.button {
	left: 0px;
}.item .image-slider > .list .buttons #right.button {
	right: 0px;
}

/*Картинки списка*/
.item .image-slider > .list .items {
	margin-left: 30px;
	margin-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0px;
}

.item .image-slider > .list .image {
	position: relative;
	display: inline-block;
	width: 25%;
	padding-top: 25%;
	white-space: nowrap;
	font-size: 0px;
	text-align: center;
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.item .image-slider > .list .image .wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.item .image-slider > .list .image .wrapper > div {
	position: relative;
	padding: 4px;
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.item .image-slider > .list .image .wrapper > div > div {
	height: 100%;
	padding: 4px;
	border: 3px solid transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition-property: border-color;
	transition: 0.3s;
}
.item .image-slider > .list .image.selected .wrapper > div > div,
.item .image-slider > .list .image:hover .wrapper > div > div {
	border: 3px solid #1a58d7;
}

.item .image-slider > .list .image .wrapper .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item .image-slider > .list .image .wrapper img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.item .information {
	position: relative;
	margin-left: 500px;
}
.item.with-menu .information {
    margin-left: 400px;
}
.item.with-menu .information.with-menu {
    margin-left: 0px;
}

/* Размеры */
.item .information .table-sizes {
    display: block;
    background: #f8f8f8;
    //white-space: nowrap;
    padding: 20px;
    border-radius: 4px;
    font-size: 0px;
    text-align: left;
}

.item .information .table-sizes .table-sizes-notify {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 17px;
    color: #acafb6;
    white-space: normal;
}

.item .information .table-sizes .table-sizes-selector {
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    font-size: 40px;
    line-height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    color: #000;
}

.item .information .table-sizes .table-sizes-button {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.item .information .table-sizes .table-sizes-button {
    display: inline-block;
    vertical-align: middle;
}

.item .prices {
	width: 100%;
}

.item .prices .sku-adaptiv-title {
	display: none;
}

.item .prices tr {
	height: 85px;
	border-bottom: 1px solid #e8e8e8;
}

.item .prices .header {
	color: #8f8f8f;
	text-align: center;
	height: 50px;
}

.item .prices .header td {
	color: inherit;
	text-align: inherit;
}

.item .prices .rows {
	color: #636363;
	text-align: center;
}

.item .prices .rows td {
	color: inherit;
	text-align: inherit;
}

.item .prices .image {
	display: inline-block;
	width: 60px;
	height: 60px;
	overflow: hidden;
	font-size: 0px;
	white-space: nowrap;
}

.item .prices .image .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item .prices .image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

/*Картинки с меню*/
.item.with-menu .image-slider {
    width: 350px;
}
.item.with-menu .image-slider > .list .image {
    width: 33.33%;
    padding-top: 33.33%;
}

/* Бренд */
.item .information .brand {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    width: 90px;
    height: 90px;
    text-align: center;
    white-space: nowrap;
    font-size: 0px;
    z-index: 1;
}

.item .information .brand img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

/* Артикуль */
.item .information .article {
	position: relative;
	float: left;
	margin-right: 32px;
	font-size: 14px;
	line-height: 18px;
	color: #a7a7a7;
}

/* В наличии/ не в наличии*/
.item .prices .state,
.item .information .state {
	position: relative;
	float: left;
	font-size: 11px;
	line-height: 18px;
	color: #474747;
}
.item .prices .state.available,
.item .information .state.available {

}
.item .prices .state.unavailable,
.item .information .state.unavailable {

}

.item .prices .state {
	display: inline-block;
	float: none;
}

.item .prices .state .icon,
.item .information .state .icon {
	position: relative;
	display: none;
	float: left;
	margin-top: 4px;
	margin-right: 6px;
	width: 14px;
	height: 10px;
	//background: url('/bitrix/templates/unigarderob_s1/components/bitrix/catalog.element/.default/images/state.png');
}
.item .prices .state.available .icon,
.item .information .state.available .icon {
	background-position: top;
}
.item .prices .state.unavailable .icon,
.item .information .state.unavailable .icon {
	background-position: bottom;
}

/*Цена*/
.item .information .price {
	position: relative;
}

.item .information .price .current {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
	font-size: 30px;
	line-height: 36px;
	color: #252525;
	font-weight: bold;
}

.item .information .price .old {
    display: inline-block;
    vertical-align: middle;
	font-size: 16px;
	line-height: 36px;
	color: #c93332;
	text-decoration: line-through;
}

/* Сторона заказа */
.item .information .order {
	position: relative;
	font-size: 0px;
    overflow: hidden;
}

.item .information .order .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.item .information .order .buy-block {
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
}

/*Контрол количества*/
.item .prices .count,
.item .information .order .count {
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
}
.item .information .order .count {
	height: 38px;
}
.item .prices .count {
	height: 34px;
}

.item .prices .count input[type=text],
.item .information .order .count input[type=text] {
	border: 1px solid #f4f4f4;
    background: #f4f4f4;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
	color: #36353a;
	font-size: 14px;
    line-height: 14px;
	box-sizing: border-box;
	width: 50px;
	padding: 0px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-transition: background-color, border-color;
    -moz-transition: background-color, border-color;
    -ms-transition: background-color, border-color;
    -o-transition: background-color, border-color;
    transition: background-color, border-color;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.item .prices .count button,
.item .information .order .count button {
	border: 1px solid #f4f4f4;
    background: #f4f4f4;
    border-radius: 3px;
	font-size: 14px;
    line-height: 14px;
	vertical-align: top;
	width: 35px;
	color: #36353a;
	padding: 0px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.item .information .order .count input[type=text] {
	padding: 10px 0px;
    height: 38px;
}
.item .prices .count input[type=text] {
	font-size: 12px;
    line-height: 12px;
    padding: 9px 0px;
    height: 34px;
}

.item .information .order .count button {
    padding: 11px 0px;
    height: 38px;
}
.item .prices .count button {
    font-size: 12px;
    line-height: 12px;
    padding: 10px 0px;
    height: 34px;
}

.item .prices .count button:hover,
.item .information .order .count button:hover {
	background: #e4e4e4;
    border-color: #e4e4e4;
}
.item .prices .count button:focus,
.item .information .order .count button:focus {
	outline: none;
}

.item .prices .count input[type=text]:hover,
.item .prices .count input[type=text]:focus,
.item .information .order .count input[type=text]:hover,
.item .information .order .count input[type=text]:focus {
    background: #e4e4e4;
    border-color: #e4e4e4;
}
/**Контрол количества**/

/* Кнопка купить в один клик */
.item .prices .buy-button-click .button,
.item .information .order .buy-button-click .button {
	background: #f4f4f4;
	padding-top: 12px;
	padding-bottom: 12px;
	border: 1px solid #f4f4f4;
	color: #000;
}
.item .prices .buy-button-click .button:hover,
.item .information .order .buy-button-click .button:hover {
	background: #e4e4e4;
    border-color: #e4e4e4;
}

/* Кнопки в верхней части */
.item .information .order {
	display: inline-block;
	vertical-align: middle;
    overflow: hidden;
    margin: -5px;
}

.item .information .order .count,
.item .information .order .buy-button,
.item .information .order .buy-button-click {
	display: inline-block;
	vertical-align: middle;
	height: 38px;
    margin: 5px;
    font-size: 0px;
}

.item .information .order .buy-button .button,
.item .information .order .buy-button-click .button {
    font-size: 14px;
	line-height: 14px;
	padding: 12px 50px;
    white-space:  nowrap;
}
.item .information .order .buy-button-click .button {
    padding-top: 11px;
    padding-bottom: 11px;
}

.item .information .order .buy-button .button {
    width: 170px;
    padding-left: 0px;
    padding-right: 0px;
}

.item .information .order .min-buttons {
    display: inline-block;
    vertical-align: middle;
}
.item .information .order .min-buttons .min-button {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

/* Кнопки в списке SKU */
.item .prices .buy-button .button {
    font-size: 12px;
	line-height: 12px;
	padding: 11px 20px;
    white-space: nowrap;
}

.item .prices .buy-button-click .button {
    font-size: 12px;
	line-height: 12px;
	padding: 10px 20px;
    white-space: nowrap;
}

.item .prices .min-buttons {
    margin: -5px;
}
.item .prices .min-buttons .min-button {
    display: inline-block;
    margin: 5px;
}

/* Описание */
.item .description,
.item .description {
	color: #8b8b8b;
}
.item .description table {
	margin-top: 20px;
}
.item .description table tr td,
.item .description table tr td,
.item .description table tr th,
.item .description table tr th {
	padding: 5px 0;
}
.item .description table tr th,
.item .description table tr th {
	padding-right: 15px;
}

/* Сокращенные характеристики */
.item .information .properties {
	color: #707070;
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
}

.item .information .properties .property:before {
	content: '';
	position: absolute;
	display: block;
	background: #1a58d7;
	width: 3px;
	height: 3px;
	border-radius: 1.5px;
	left: 0px;
	top: 9px;
}

.item .information .properties .property {
	position: relative;
	float: left;
	width: 50%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	margin-top: 7px;
	margin-bottom: 7px;
	padding-left: 10px;
}

.item .information .properties .all-properties {
	float: left;
	width: 100%;
	margin-top: 8px;
	text-decoration: underline;
	cursor: pointer;
	list-style: none;
	padding-left: 10px;
}

/* Торговые предложения: Свойства */
.item .information .offers.properties {
    display: block;
    overflow: hidden;
    padding-bottom: 25px;
}

.item .information .offers.properties .properties-wrapper {
    display: block;
    margin: -8px;
    min-width: 14px;
    min-height: 14px;
}

.item .information .offers.properties .property {
    display: block;
    margin: 8px;
	width: auto;
    float: none;
}
.item .information .offers.properties .property::before {
    display: none;
}

.item .information .offers.properties .property .property-name {
    display: block;
    float: left;
    margin-right: 14px;
    font-size: 12px;
    color: #d0d0d0;
}

.item .information .offers.properties .values {
    display: block;
    overflow: hidden;
}

.item .information .offers.properties .values .values-wrapper {
    display: block;
    margin: -4px;
    font-size: 0px;
    min-width: 14px;
    min-height: 14px;
}

.item .information .offers.properties .property .values .value {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px;
}.item .information .offers.properties .property .values .value.hidden {
    display: none;
}

.item .information .offers.properties .property.text .property-name {
    /* height: 34px;
	line-height: 34px; */
	font: 30px;
	line-height: 30;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.item .information .offers.properties .property.text .values .value {
    padding: 9px;
    font-size: 10px;
    line-height: 10px;
    border-radius: 3px;
    border:  1px solid transparent;
    min-width: 30px;
    text-align: center;
    color: #b2b2b2;
}.item .information .offers.properties .property.text .values .value:hover {
    border-color: #f1f1f1;
}.item .information .offers.properties .property.text .values .value.disabled {
    border-color: #fcfcfc;
    background: #fcfcfc;
}.item .information .offers.properties .property.text .values .value.selected {
    color: #fff;
    background: #b2b2b2;
    border-color: #b2b2b2;
}

.item .information .offers.properties .property.picture .property-name {
    height: 24px;
    line-height: 24px;
}

.item .information .offers.properties .property.picture .values .value {
    position: relative;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #f1f1f1;
}.item .information .offers.properties .property.picture .values .value.disabled {
    display: none;
}

.item .information .offers.properties .property.picture .values .value .value-image {
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    overflow: hidden;
}.item .information .offers.properties .property.picture .values .value.selected .value-image {
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.item .information .offers.properties .property.picture .values .value .value-image img {
    display: block;
    width: 100%;
    height: 100%;
}

.item .information .offers.properties .property.picture .values .value .sprite {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/bitrix/templates/unigarderob_s1/components/bitrix/catalog.element/.default/images/sku.properties.pictures.sprite.png') no-repeat;
    background-position: 24px 24px;
}

.item .information .offers.properties .property.picture .values .value.selected .sprite {
    background-position: 0px 0px;
}

/* Все характеристики */
.item .item_description > .properties,
.item > .properties {
	position: relative;
	color: #707070;
}

.item .item_description > .properties .property:before,
.item > .properties .property:before {
	content: '';
	position: absolute;
	display: block;
	background: #1a58d7;
	width: 3px;
	height: 3px;
	border-radius: 1.5px;
	left: 0px;
	top: 9px;
}

.item .item_description > .properties .property,
.item > .properties .property {
	position: relative;
	float: left;
	width: 50%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	margin-top: 7px;
	margin-bottom: 7px;
	padding-left: 10px;
}

.item .item_description > .properties .property .name,
.item .item_description > .properties .property .value,
.item > .properties .property .name,
.item > .properties .property .value {
	float: left;
	width: 50%;
	overflow: hidden;
}

/*Табличное SKU с меню*/
.item.with-menu .prices,
.item.with-menu .prices tbody,
.item.with-menu .prices tr,
.item.with-menu .prices td {
	display: block;
	height: auto;
	width: auto !important;
	text-align: center !important;
	overflow: hidden;
	border: none;
}
.item.with-menu .prices tr.header {
	display: none;
}
.item.with-menu .prices tbody {
	margin: -9px;
}

.item.with-menu .prices .sku-adaptiv-title {
	display: inline;
}

.item.with-menu .prices tr {
	padding: 9px;
	float: left;
	width: 25% !important;
    height: 370px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.item.with-menu .prices td.price {
    font-size: 28px;
    color: #494949;
}

.item.with-menu .prices td > .buy,
.item.with-menu .prices td > .buy .buy,
.item.with-menu .prices td > .buy .one-click-buy {
    width: 100% !important;
    margin: 0px !important;
}

.item.with-menu .prices td > div {
	padding-top: 5px;
	padding-bottom: 5px;
}
/**Табличное SKU с меню**/

@media all and (max-width: 1150px) {
	.adaptiv .item .image-slider {
		width: 300px;
	}

	.adaptiv .item .information {
		margin-left: 350px;
	}

	.adaptiv .item .information .price {
		float: none;
	}

	.adaptiv .item .information .order {
		margin-top: 20px;
		float: none;
	}

	.adaptiv .item .image-slider > .list .image {
		width: 50%;
		padding-top: 50%;
	}
}

/*Документы*/
.item .documents {
	display: block;
	overflow: hidden;
}

.item .documents .document {
	display: inline-block;
	overflow: hidden;
	text-decoration: none;
}

.item .documents .document .image {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background: url("/bitrix/templates/unigarderob_s1/components/bitrix/catalog.element/.default/images/file.png");
}

.item .documents .document .information {
	display: block;
	margin-left: 55px;
}

.item .documents .document .information .name {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 3px;
	text-decoration: underline;
}

.item .documents .document .information .size {
	font-size: 12px;
	line-height: 16px;
	color: #9d9d9d;
	text-decoration: none;
}
/**Документы**/

@media all and (max-width: 1080px) {
	/*Адаптивность таблицы SKU*/
	.adaptiv .item .prices,
	.adaptiv .item .prices tbody,
	.adaptiv .item .prices tr,
	.adaptiv .item .prices td {
		display: block;
		height: auto;
		width: auto !important;
		text-align: center !important;
		overflow: hidden;
		border: none;
	}
	.adaptiv .item .prices tr.header {
		display: none;
	}
	.adaptiv .item .prices tbody {
		margin: -9px;
	}

	.adaptiv .item .prices .sku-adaptiv-title {
		display: inline;
	}

	.adaptiv .item .prices tr {
		padding: 9px;
		float: left;
		width: 25% !important;
        height: 370px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

    .adaptiv .item .prices td.price {
        font-size: 28px;
        color: #494949;
    }

    .adaptiv .item .prices td > .buy,
    .adaptiv .item .prices td > .buy .buy,
    .adaptiv .item .prices td > .buy .one-click-buy {
        width: 100% !important;
        margin: 0px !important;
    }

	.adaptiv .item .prices td > div {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	/**Адаптивность таблицы SKU**/
}

@media all and (max-width: 950px) {
	.adaptiv .item .image-slider {
		width: 200px;
	}

	.adaptiv .item .information {
		margin-left: 250px;
	}

	.adaptiv .item .prices tr,
    .adaptiv .item.with-menu .prices tr {
		width: 33.33% !important;
	}
}

@media all and (max-width: 800px) {
	.adaptiv .item .item_description > .properties .property,
	.adaptiv .item > .properties .property {
		width: 100%;
	}
}

@media all and (max-width: 750px) {
	.adaptiv .item .image-slider {
		float: none;
		width: 400px;
		margin: 0 auto;
	}

	.adaptiv .item .information,
    .adaptiv .item.with-menu .information,
    .adaptiv .item.with-menu .information.with-menu {
		margin-left: 0px;
		padding-top: 20px;
	}

	.adaptiv .item .information .order > .uni-indents-horizontal,
	.adaptiv .item .information .order .buy-block > .uni-indents-horizontal {
		display: none;
	}

	.adaptiv .item .information .order .buy-block {
		display: block;
	}

	.adaptiv .item .information .order > .count,
	.adaptiv .item .information .order > .buy,
	.adaptiv .item .information .order > .min-buttons,
	.adaptiv .item .information .order .buy-block > .count,
	.adaptiv .item .information .order .buy-block > .buy,
	.adaptiv .item .information .order .buy-block > .min-buttons	{
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
	}

	.adaptiv .item .offers {
		margin-left: 0px;
		margin-top: 20px;
	}

	.adaptiv .item > .row {
		margin-left: 10px;
		margin-right: 10px;
	}

	.adaptiv .item .information .properties .property {
		width: 100%;
	}

	.adaptiv .item .information .price {
		float: none;
	}

	.adaptiv .item .information .order {
		margin-top: 20px;
		float: none;
		height: auto;
	}

	.adaptiv .item .image-slider > .list .image {
		width: 25%;
		padding-top: 25%;
	}

	.adaptiv .item .prices tr,
    .adaptiv .item.with-menu .prices tr {
		width: 50% !important;
	}
}

@media all and (max-width: 650px) {
	.adaptiv .item .information .price {
		float: none;
	}
}

@media all and (max-width: 500px) {
	.adaptiv .item .prices tr,
    .adaptiv .item.with-menu .prices tr {
		width: 100% !important;
	}
}
@media all and (max-width: 480px) {
	.adaptiv .item .information .table-sizes .table-sizes-notify {
		max-width: 135px;
	}
	.adaptiv .item .information .table-sizes .table-sizes-button {
		margin: 5px;
	}
}

@media all and (max-width: 420px) {
	.adaptiv .item .image-slider {
		float: none;
		width: 100%;
		margin: 0px;
	}

	.adaptiv .item .image-slider > .list .image {
		width: 50%;
		padding-top: 50%;
	}

	.adaptiv .item .information .article,
	.adaptiv .item .information .state {
		float: none;
		margin: 0px;
		padding-top: 10px;
	}
	.adaptiv .item .information .table-sizes {
		text-align: center;
	}
	.adaptiv .item .information .table-sizes .table-sizes-selector {
		display: none;
	}
	.adaptiv .item .information .table-sizes .table-sizes-notify {
		display: none;
	}
}

.item .standart_block {
    margin: 0px;
}
/*quick_view*/
.quick_view {
	background:#fff;
	max-width:933px;
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog/catalog/style.css?15548708871817 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog.element/.default/style.css?156397031125794 */
