.compare-small-fly  {
    display: block;
    overflow: hidden;
}

.compare-small-fly  .compare-wrapper {
	padding: 15px 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.compare-small-fly  .compare-element {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}

.compare-small-fly  .compare-element .compare-element-wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.compare-small-fly  .compare-element .compare-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: 9px;
    margin-right: 9px;
}

.compare-small-fly  .compare-element .compare-text {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    overflow: hidden;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    right: -3px;
    top: 0px;
    height: 20px;
    border-radius: 50%;
    color: #fff !important;
}

.compare-small-fly  .compare-element .compare-sum {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.compare-small-fly  .compare-element.compare .compare-icon {
    background-image: url('images/icon.compare.png');
    background-position: 0px 0px;
}