.catalog-section-menu.catalog-section-menu-all {
    display: none;
}
.catalog-section-menu.catalog-section-menu-current {
    display: block;
}

@media all and (max-width: 1150px) {
    .adaptiv .catalog-section-menu.catalog-section-menu-all {
        display: block;
    }
    .adaptiv .catalog-section-menu.catalog-section-menu-current {
        display: none;
    }
}

.uni-filter, .uni-menu{
	position: relative;
	display: none;
	vertical-align: middle;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	padding: 13px 11px 12px 11px;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background-color, border-color;
	-moz-transition: background-color, border-color;
	-ms-transition: background-color, border-color;
	-o-transition: background-color, border-color;
	transition: background-color, border-color;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	color: #434343;
	border: 1px solid #dadada !important;
}
.uni-filter:hover, .uni-menu:hover{
	background: #dadada;
}
@media all and (min-width: 800px) {
	.uni-btn-show {
		display: none;
	}
	.uni-btn-hide {
		display: none !important;
	}
}
@media all and (max-width: 800px) {
	.menu_catalog_hide {
		margin-bottom: 30px;
	}
	.filter_catalog_hide {
		margin-bottom: 80px;
	}
	.uni-btn-show{
		display: block;
	}
	.adaptiv .menu-catalog-left-1 {
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #dadada;
		border-radius: 3px;
	}
	.adaptiv .menu-catalog-left-1 .menu-catalog-left-1-item:first-child{
		border-top: 0px solid #e8e8e8;
	} 
	.adaptiv .menu-catalog-left-1 .menu-catalog-left-1-item{
		border-top: 1px solid #e8e8e8;
	}
}