

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/news/lookbook/bitrix/catalog.section/.default/style.css?15548708882291*/
.lookbook-pictures {
    display: block;
}

.lookbook-pictures .lookbook-pictures-wrapper {
    display: block;
    margin: -8px;
}

.lookbook-pictures .lookbook-picture {
    display: block;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
}
.lookbook-pictures .lookbook-picture .lookbook-picture-wrapper {
    display: block;
    position: relative;
    padding-top: 113%;
}

.lookbook-pictures .lookbook-picture .lookbook-picture-wrapper .lookbook-picture-wrapper-wrapper {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.lookbook-pictures .lookbook-picture .lookbook-information {
    display: none;
    position: absolute;
    background: rgba(197, 197, 197, 0.8);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: auto;
}

.lookbook-pictures .lookbook-picture .lookbook-information .lookbook-name {
    display: block;
    margin-right: 43px;
}

.lookbook-pictures .lookbook-picture .lookbook-information .lookbook-name .lookbook-name-wrapper {
    color: #616161;
    margin: 10px 5px;
    overflow: hidden;
}

.lookbook-pictures .lookbook-picture .lookbook-information .lookbook-icon {
    display: block;
    position: absolute;
    font-size: 0px;
    line-height: 0px;
    text-align: center;
    width: 43px;
    top: 0px;
    left: auto;
    right: 0px;
    bottom: 0px;
    background: #e6e6e6;
}

.lookbook-pictures .lookbook-picture .lookbook-information .lookbook-icon .lookbook-icon-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url('/bitrix/templates/unigarderob_s1/components/bitrix/news/lookbook/bitrix/catalog.section/.default/images/loop.png') no-repeat;
}

.lookbook-pictures .lookbook-picture-wrapper:hover .lookbook-information {
    display: block;
}

.lookbook-pictures .lookbook-picture .lookbook-picture-image {
    display: block;
    width: 100%;
    height: 100%;
}

.lookbook-pictures .lookbook-picture .lookbook-picture-image .lookbook-picture-image-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/news/lookbook/bitrix/catalog.section/.default/style.css?15548708882291 */
