

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog.compare.list/fly/style.css?15548708881411*/
.compare-small-fly  {
    display: block;
    overflow: hidden;
}

.compare-small-fly  .compare-wrapper {
	padding: 15px 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.compare-small-fly  .compare-element {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}

.compare-small-fly  .compare-element .compare-element-wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.compare-small-fly  .compare-element .compare-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: 9px;
    margin-right: 9px;
}

.compare-small-fly  .compare-element .compare-text {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    overflow: hidden;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    right: -3px;
    top: 0px;
    height: 20px;
    border-radius: 50%;
    color: #fff !important;
}

.compare-small-fly  .compare-element .compare-sum {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.compare-small-fly  .compare-element.compare .compare-icon {
    background-image: url('/bitrix/templates/unigarderob_s1/components/bitrix/catalog.compare.list/fly/images/icon.compare.png');
    background-position: 0px 0px;
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/form.result.new/shop/style.css?15548708882912*/
.form_feedback {
	max-width: 300px;
}
.form_feedback .header_grey {
	margin-bottom: 18px
}
.form_feedback_under {
	padding: 27px;
	font-size: 14px;
}
.form_feedback .header_grey {
	font-size: 21px;
	padding-top: 0px;
	padding-bottom:5px;
	color: #1d1d1d;
	font-weight: bold;
	margin-top: 0px;
	text-align: left;
}
.form_feedback .controls label{
	font-size: 14px;
	color: #1d1d1d;
	line-height: 24px;
	font-weight: normal;
}
.form_feedback .controls .input input,.form_feedback .controls .input textarea,.form_feedback .controls .captcha_form .input input{
	width: 100%;	
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px!important;	
	height: 38px;
	border: none;
	border-radius: 3px;
	background: #e9e9e9;
	box-shadow: none;
	font-weight: normal;
	font-size: 14px;
	float:none;
}
.form_feedback .controls .input input.inputfile{
	width: 100%;	
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 7px 10px!important;	
	height: 38px;
	border: none;
	border-radius: 3px;
	background: #e9e9e9;
	box-shadow: none;
	font-weight: normal;
	font-size: 14px;
	float:none;
}
.form_feedback .controls .input input.nofill,
.form_feedback .controls .input textarea.nofill,
.form_feedback .controls .captcha_form .input input.nofill{
	border:1px solid red;
}

.form_feedback .controls .input textarea{
	height: 135px;
}
.form_feedback .control .starrequired{
	color:#940939;
}
.form_feedback .controls {
	margin-top: 16px;
	text-align: left;
}
.form_feedback .controls .captcha_form .input img {
	width:100%;
	max-height: 50px;
	display: inline-block;
	vertical-align: middle;	
	text-align:right;
	margin-top: 5px;
}
.form_feedback .controls .input input.inputfile {
	border:0;
	box-shadow:none;
}
.form_feedback .buttons {
	margin-top:30px;
}
.form_feedback .solid_button {
	display: block;	
	height: 38px;
	font-size: 14px;
	color: #fff;
	line-height: 36px;
	border-radius: 3px;	
	border:0;
	float:right;
	width: 48%;
	text-align:center;
}

.form_feedback .close_button {
	height: 36px;
	border-radius: 3px;
	float:left;
	line-height:36px;
	width: 48%;
	text-align:center;
}
.form_feedback .errors {
	color:red;
	font-size:12px;
}
.form_feedback .text {
	font-size:11px;
	margin-top:5px;
}

/*соглашение*/
.consent {
	margin-top: 15px;
}
.consent a {
	text-decoration: none;
}
.consent label {
	font-size: 11px;
	color: #585858;
	cursor: pointer;
	font-weight: normal;
	margin-top: 5px;
}
.consent label:hover {color: #8e8e8e;}
.consent label, .consent input {
	display: inline-block;
	vertical-align: middle;
}

/*popup close*/
/*.popup-window-close-icon, .uni-popup .close_popup {
	right: 40px !important;
    top: 45px !important;
}*/
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog.compare.list/fly/style.css?15548708881411 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/form.result.new/shop/style.css?15548708882912 */
