body .i_menu .show_all span {
  color: #216b52;
}
body .i_menu .show_all span:hover {
  color: #247756;
}
body .uni-tabs .tabs .tab.current,
body .uni-tabs .tabs .tab.ui-state-hover,
body .uni-tabs .tabs .tab:hover,
body .uni-tabs .tabs .tab.ui-state-active,
body .top_custom_menu li.active a,
body .top_custom_menu li:hover a {
  border-color: #216b52;
}
body .svg_fill_solid {
  fill: #216b52;
}
body .hover_link:hover {
  color: #216b52 !important;
}
body a,
body .open_call,
body .bx_vertical_menu_advanced .bx_hma_one_lvl.current>a,
body table.top_menu td.current span.arrow {
  color: #216b52;
}
body .item .image-slider > .list .image.selected .wrapper > div > div,
body .item .image-slider > .list .image:hover .wrapper > div > div {
  border-color: #216b52;
}
body .uni-slider-button-small:hover,
body .uni-slider-button:hover {
  background: #216b52;
}
body .item .item_description > .properties .property:before,
body .item > .properties .property:before,
body .item .information .properties .property:before,
body .top .bg_top_menu .min_menu,
body .catalog_menu.solid {
  background: #216b52;
}
body .solid_text {
  color: #216b52 !important;
}
body .solid_button,
body .solid_element,
body .catalog-button,
body .login_page .rememberme .USER_REMEMBER:before {
  background-color: #216b52 !important;
}
body .min-button div.remove {
  background-color: #216b52 !important;
}
table.top_menu .child.submenu,
body .i_menu,
body .child.cat_menu,
body .child.submenu {
  border-color: #216b52 !important;
}
body .solid_button:hover,
body .catalog-button:hover {
  background-color: #247756 !important;
}
body .solid_button.light_button:hover {
  background-color: #59cca5 !important;
  box-shadow: 0 6px 8px #f5fcfa;
}
body .buy_added,
body .buy_added:hover {
  background-color: #1d5041;
}
body .services-sections-list.menu .element:hover,
body .services-sections-list.menu .element.selected {
  color: #216b52;
}
body .differences_table .properties .property {
  color: #216b52;
  border-color: #216b52;
}
body .differences_table .properties .property:hover {
  background-color: #216b52;
}
body .under_catalog_menu .menu_item_l1.more .child.cat_menu a:hover {
  color: #216b52;
}
body .offers .offer .items .item.selected,
body .offers .offer .items .item:hover,
body .offers .offer .items .item:focus {
  color: #216b52;
  border-color: #216b52;
}
body .bx-filter .bx-filter-popup-result.right:before {
  border-right-color: #216b52 !important;
}
body .bx-filter .bx-filter-popup-result a,
.under_catalog_menu .menu_item_l1 .submenu a:hover {
  color: #216b52 !important;
}
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-parameters-box-title div.bx-filter-parameters-box-hint,
.bx-filter .bx-filter-parameters-box:hover .bx-filter-parameters-box-title div.bx-filter-parameters-box-hint,
.bx-filter .bx-filter-parameters-box:focus .bx-filter-parameters-box-title div.bx-filter-parameters-box-hint {
  color: #216b52 !important;
}
body .bx_ordercart_itemtitle a {
  color: #216b52 !important;
}
body .uni-button-checkbox input:checked + .selector:before,
body .uni-button-radio input:checked + .selector:before {
  background: #216b52 !important;
}
.catalog-section.list .product .information .offers.properties .property.text .values .value.selected {
  color: #fff;
  background: #216b52 !important;
  border-color: #216b52 !important;
}
.uni-labels-2 .tabs .tab {
  color: #216b52 !important;
}
.uni-labels-2 .tabs .tab:hover .tab-wrapper,
.uni-labels-2 .tabs .tab.ui-state-active .tab-wrapper {
  border-color: #216b52 !important;
}
