

/* Start:/bitrix/templates/unigarderob_s1/components/intec/reviews/reviews/style.css?15548708872813*/
.reviews-box .button {
	font-size: 14px;
	padding: 13px 20px;
}

.reviews-box {
	position: relative;
}

.reviews-box .reviews {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.reviews-box .reviews .review {
	display: block;
	width: 100%;
	white-space: nowrap;
	border-top: 1px solid #e8e8e8;
}

.reviews-box .reviews .review:nth-child(2) {
	border-top: none;
}

.reviews-box .reviews .review .info {
	display: block;
	float: left;
	margin-left: 60px;
	width: 160px;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
}

.reviews-box .reviews .review .info .date {
	font-size: 12px;
	color: #8d8d8d;
	margin-top: 40px
}

.reviews-box .reviews .review .info .name {
	font-size: 14px;
	font-weight: bold;
}

.reviews-box .reviews .review .description {
	display: block;
	margin-left: 265px;
	font-size: 12px;
	white-space: normal;
	padding-top: 40px;
	padding-bottom: 40px;
}

.reviews-box .reviews .form {
	position: relative;
	display: none;
	overflow: hidden;
}

.reviews-box .reviews .form .row {
	position: relative;
	display: block;
    width: 100%;
	overflow: hidden;
	margin: 0px;
}

.reviews-box .reviews .form  .label {
	display: block;
	/*float: left;*/
	width: 40px;
	line-height: 35px;
	padding: 0px;
	font-size: 12px;
	color: #000;
	text-align: left;
	font-weight: normal;
}

.reviews-box .reviews .form .label .needed {
	color: #f00;
}

.reviews-box .reviews .form .control {
	position: relative;
	display: block;
	/*margin-left: 60px;*/
	text-align: left;
}

.reviews-box .reviews .form .row .control textarea,
.reviews-box .reviews .form .row .control input {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
}

.reviews-box .reviews .form .row .control textarea.ui-state-error,
.reviews-box .reviews .form .row .control input.ui-state-error {
	border: 1px solid #d55b4b;
}

.reviews-box #message {
    display: none;
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    height: 0px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon_btn_feedback{
	background: url(/bitrix/templates/unigarderob_s1/components/intec/reviews/reviews/images/icon_btn_feedback.png) no-repeat;
	display: inline-block;
	width:13px;
	height:13px;
	margin-right: 10px;
}

@media all and (max-width: 600px) {
	.reviews-box .reviews .review .info {
		margin-left: 0px;
		float: none;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	
	.reviews-box .reviews .review .info .date {
		margin-top: 10px;
	}
	
	.reviews-box .reviews .review .description {
		margin-left: 0px;
		padding-top: 10px;
	}
    
    .reviews-box .reviews .form .row {
        width: auto;
    }
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog.section/slider/style.css?15548708882372*/
.uni-product-slider {
    display: block;
    position: relative;
}

.uni-product-slider .header_grey {
    display: block;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    margin-bottom: 19px;
}

.uni-product-slider .buttons {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
}

.uni-product-slider .buttons .button {
    display: block;
    position: absolute;
    right: 0px;
}

.uni-product-slider .buttons .button.button-left {
    right: 28px;
}

.uni-product-slider .indents-wrapper {
    display: block;
    overflow: hidden;
}

.uni-product-slider .indents {
    display: block;
    margin-left: -8px;
    margin-right: -8px;
}

.uni-product-slider .slider {
    display: block;
    position: relative;
    white-space: nowrap;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 16px;
}

.uni-product-slider .slider .element {
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    padding-right: 8px;
    white-space: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.uni-product-slider .slider .element .wrapper {
    display: block;
    position: relative;
    padding: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
}

.uni-product-slider .slider .element .wrapper .image {
    display: block;
    position: relative;
    float: left;
    width: 33%;
    padding-top: 33%;
}

.uni-product-slider .slider .element .wrapper .image .uni-image {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.uni-product-slider .slider .element .wrapper .information {
    display: block;
    overflow: hidden;
    margin-left: 36%;
}

.uni-product-slider .slider .element .wrapper .information .name {
    display: block;
    height: 34px;
    text-decoration: none;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 5px;
    overflow: hidden;
}

.uni-product-slider .slider .element .wrapper .information .price {
    font-size: 18px;
    height: 25px;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/intec/reviews/reviews/style.css?15548708872813 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog.section/slider/style.css?15548708882372 */
