.differences_table {
	position:relative;
	padding-right: 5px;
	overflow-x: auto;
}

.differences_table table {
	width: 100%;
	margin-bottom: 80px;
}
.differences_table .left_arrow, 
.differences_table .right_arrow {
	position:absolute;
	width:13px;
	height:18px;
	background:url(images/arr_slider.png);
	background-repeat:no-repeat;
	cursor:pointer;
	z-index:20;
	top:164px;
}
.differences_table .left_arrow {
	background-position:right top;
	left:-20px;
	margin-left: 20%;
}
.differences_table .left_arrow:hover {
	background-position:right bottom;
}
.differences_table .right_arrow {
	background-position:left top;
	right:0;
	margin-right: -10px;
}
.differences_table .right_arrow:hover {
	background-position:left bottom;
}
.differences_table .hovered:hover {
	background:#e8e8e8;
}
.differences_table tr {
	border-bottom: 1px solid #d8d8d8;
}
.differences_table tr:first-child {
	border-bottom: none;
}
.differences_table td.prop_name {
	position: relative;
	text-align: left;
	padding: 7px 20px 7px 14px;
	color: #363636;
	font-size:14px;
	font-weight: bold;
}
.differences_table td.prop_name .close {
	font-size: 0;
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	top: 12px;
	right: 12px;
	background: url(images/delete.png) no-repeat top;
	z-index:10;
	cursor: pointer;
}
.differences_table  .prop_item {
	font-size:14px;
	color: #b3b3b3;
	font-weight: bold;
}
.differences_table .item_td {
	width: 20%;
}
.differences_table .item_td .marks {
	position: absolute;
	left: 10px;
	top: 10px;
}
.differences_table .item_td.empty {
	border-top: none;
	border-left: none;
	border-right: none;
}

.differences_table .table_item {
	position: relative;
}
.differences_table .image {
	position: relative;
	display: block;
	text-align:center;
	vertical-align:middle;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 170px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0px;
}
.differences_table .valign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0px;
}

.differences_table .properties .property {
	display: none;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 6px 10px;
	border: 1px solid #3a58d2;
	color: #3a58d2;
	cursor: pointer;
	transition-property: color, background;
	border-radius: 3px;
	transition: 0.3s;
}.differences_table .properties .property:hover {
	background: #3a58d2;
	color: #fff;
}

.differences_table .table_item {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 10px;
	border: 1px solid #dbdbdb;
}
.differences_table a.desc_name {
	font-size: 15px;
	line-height: 19px;
	height: 40px;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	text-decoration: none;
	display:block;
}

.differences_table .price {
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom:5px;
}
.differences_table .price .old-price span {
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	text-decoration: line-through;
	color: #3b3b43;
}
.differences_table .price .discount-price span {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #3b3b43;
}
.differences_table .remove_item a {
	font-size: 0;
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	top: 12px;
	right: 12px;
	background: url(images/delete.png) no-repeat top;
	z-index:10;
	cursor: pointer;
}
.differences_table .table_item {
	position:relative;
}
.differences_table .preview {
	width: 20%;
}

.differences_table .buy {
	position: static;
	display: block;
	right: auto;
	left: auto;
	bottom: auto;
	margin: 5px auto;
	padding: 4px 8px;
	width: 75px;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
@media all and (max-width: 550px) {
	.differences_table .item_td {
		display: table-cell !important;
	}
	.differences_table  .prop_item {
		display: table-cell !important;
	}
	.differences_table .left_arrow {
		display: none;
	}
	.differences_table .right_arrow {
		display: none;
	}
}