.menu-catalog-left-1 {
    display: block;
    overflow: hidden;
}

.menu-catalog-left-1 .menu-catalog-left-1-wrapper {
    margin: -10px;
}

.menu-catalog-left-1 .menu-catalog-left-1-item {
    display: block;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-catalog-left-1
    .menu-catalog-left-1-subitem
    .menu-catalog-left-1-subitem-wrapper,
.menu-catalog-left-1
    .menu-catalog-left-1-item
    .menu-catalog-left-1-item-wrapper {
    display: block;
    font-size: 0px;
    text-decoration: none;
}

.menu-catalog-left-1
    .menu-catalog-left-1-subitem
    .menu-catalog-left-1-subitem-wrapper
    .menu-catalog-left-1-text,
.menu-catalog-left-1
    .menu-catalog-left-1-item
    .menu-catalog-left-1-item-wrapper
    .menu-catalog-left-1-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 13px;
    color: inherit;
    margin-right: 5px;
}

.menu-catalog-left-1
    .menu-catalog-left-1-subitem
    .menu-catalog-left-1-subitem-wrapper
    .menu-catalog-left-1-count,
.menu-catalog-left-1
    .menu-catalog-left-1-item
    .menu-catalog-left-1-item-wrapper
    .menu-catalog-left-1-count {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 13px;
    color: #c7c7c7;
}

.menu-catalog-left-1
    .menu-catalog-left-1-subitem.ui-state-active
    > .menu-catalog-left-1-subitem-wrapper
    .menu-catalog-left-1-text,
.menu-catalog-left-1
    .menu-catalog-left-1-item.ui-state-active
    > .menu-catalog-left-1-item-wrapper
    .menu-catalog-left-1-text {
    font-weight: bold;
}

.menu-catalog-left-1 .menu-catalog-left-1-item .menu-catalog-left-1-submenu {
    display: none;
    padding-left: 20px;
    padding-top: 10px;
}

.menu-catalog-left-1
    .menu-catalog-left-1-item.ui-state-active
    > .menu-catalog-left-1-submenu {
    display: block;
}
.menu-catalog-left-1
    .menu-catalog-left-1-item
    .menu-catalog-left-1-submenu
    .menu-catalog-left-1-subitem.ui-state-active
    > .menu-catalog-left-1-submenu {
    display: block;
}

.menu-catalog-left-1
    .menu-catalog-left-1-item
    .menu-catalog-left-1-submenu
    .menu-catalog-left-1-subitem {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu_catalog_hide .menu-catalog-left-1-count {
    display: none !important;
}
