.theme_switcher {
	top: 50px;
	left: -365px;
	width:364px;
	position: fixed;	
	z-index: 1000;	
	border-top:1px solid #e8e8e8;
	font-family:Ubuntu,"Pt Sans",sans-serif;
}
.theme_switcher * {
	box-sizing:initial;
}
.theme_switcher .panel_switcher {
	right: -51px;
    top: -1px;
    position: absolute;
    width: 51px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    float: right;
    border-top: 1px solid #e8e8e8;
}
.theme_switcher .panel_switcher .settings_icon {
	width:100%;
	height:50px;
	position:relative;
	background:#fff;
	cursor:pointer;
	background: #dddddd;
}
.theme_switcher .settings_title {
	line-height: 20px;
	padding: 15px 30px;
	background: #dddddd;
	color: #6b6b6b;
	font-size: 16px;
	font-weight: bold;
	font-family: calibri, arial;
}
.theme_switcher .panel_switcher .settings_icon i {
	display:block;	
	background: url('images/settings_icon.png') no-repeat center;
	width: 30px;
	height: 30px;
	margin:auto;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition:all 500ms;   
	-moz-transition:all 500ms;
	-o-transition:all 500ms;
	transition:all 500ms;
}.theme_switcher .panel_switcher .settings_icon i:hover{
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.theme_switcher .panel_switcher .panel_icons {
	padding:0;
	margin:0;
	list-style:none;
	border-right:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
}
.theme_switcher .panel_switcher .panel_icons  li {
	height:50px;
	width:100%;
	border-top:1px solid #e8e8e8;
	text-align:center;
	color:#6a6a6a;
	text-decoration:none;
	font-size:12px;
	position:relative;
	background:#d2d2d2;
}
.theme_switcher .panel_switcher .panel_icons  li:hover,
.theme_switcher .panel_switcher .panel_icons  li.active {
	background:#fff;
	cursor:pointer;
}
.theme_switcher .panel_switcher .panel_icons .icons {
	display:block;
	margin:0 auto;
	margin-bottom:9px;
	margin-top:18px;
}
.theme_switcher .panel_switcher .panel_icons .color_icon {
	margin-top:11px;
	background: url('images/color_icon.png') no-repeat center;
	width: 30px;
	height: 30px;
	margin-top: 5px;
}
.theme_switcher .panel_switcher .panel_icons .catalog_icon {
	background: url('images/catalog_icon.png') no-repeat center;
	width: 30px;
	height: 30px;
	margin-top:5px;
}
.theme_switcher .panel_switcher .panel_icons .basic_icon {
	background: url('images/media_icon.png') no-repeat center;
	width: 30px;
	height: 30px;
	margin-top: 5px;
}
.theme_switcher .panel_switcher .panel_icons .structure_icon {
	background: url('images/sprite.png') no-repeat -4px -216px;
	width: 30px;
	height: 23px;
	margin-top: 14px;
}
.theme_switcher .set_over{
	min-height: 287px;
	float: left;
	width: 363px;
	overflow-y: auto;
	max-height: 500px;
	background: #fff;
}
.theme_switcher .settings_tabs {
	width: 363px;
	background: #fff;
	border-right: 1px solid #e8e8e8;
}
.theme_switcher .panel_switcher .panel_icons .title {
	position:absolute;
	bottom:2px;
	width:100%;
	text-align:center;
}
.theme_switcher .change_tab_body {	
	display:none;
}
.theme_switcher .submit_form {
	padding:14px 38px;
	background:#fff;	
	padding: 14px 38px;
	background: #fff;
	width: 287px;
	border-bottom: 1px solid #e8e8e8;
   border-right: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;	
}
.theme_switcher .submit_form .solid_button {
    border-radius: 6px;
    border: 0;
    padding: 7px 13px;
    color: #fff;
    text-align: center;    
}
.theme_switcher .change_tab_body .header {
	font-size: 19px;
	font-weight: bold;
	color: #4c4c4c;
	padding-left: 38px;
	padding: 14px 38px;
	background: #fff;
	font-family: Ubuntu,sans-serif;
	padding-bottom: 0px;
}
.theme_switcher .change_tab {
	display: none;
}
.theme_switcher .one_group {
	padding:16px 38px;
	border-bottom: 1px solid rgba(232, 232, 232, 0.51);
}
.theme_switcher .one_group .header2 {
	font-size:13px;
	color:#262626;
	font-family: Ubuntu,sans-serif;
}
.theme_switcher .one_group .header2 .text {
	float:left;
	width:80%;
}
.theme_switcher .s_tooltip {
	float:right;
	width: 26px;
	height: 26px;
	border:1px solid #e8e8e8;
	background:#f8f8f8;
	text-align:center;
	position:relative;
	border-radius:6px;
	cursor:pointer;
	margin-top: -5px;
}
.theme_switcher  .hover_shadow:hover{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
}
.theme_switcher .s_tooltip b {
	font-size: 16px;
	font-weight:normal;
	line-height: 29px;
}
.body_tooltip {
	background: #fff;
	width: 280px;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	z-index: 3000;
	font-size: 12px;
	text-align: left;
	position: absolute;
}
.body_tooltip div {
	position:relative;
	padding: 10px;
	z-index:10000;
}
.body_tooltip div:before {
	left: -12px;
	border: solid transparent 11px;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-left: none;
	border-right-color: #cbcbcb;
	top: 14px;
}
.body_tooltip div:after {
	content: "";
	top: 29px;
	right: 100%;
	height: 0;
	width: 0;
	border: solid transparent 11px;
	position: absolute;
	border-left: none;
	border-right-color: #fff;
	margin-top: -15px;
} 
.theme_switcher .tooltip:hover .body_tooltip {
	display:block;
	
}
.theme_switcher .one_group .select_color {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	margin-top:16px;
}
.theme_switcher .one_group .select_color  li {
	width:24px;
	height:24px;
	margin-right:8px;
	float:left;
	border:5px solid #e5e5e5;
	cursor:pointer;
	margin-bottom:11px;
	box-sizing:content-box;
	border-radius: 17px;
}
.theme_switcher .one_group .select_color  li.current_theme{
	border: 1px solid rgb(0, 137, 229);
	padding: 4px;
	background: #E5E5E5;
}
.theme_switcher .one_group .select_color  li div {
	width:100%;
	height:100%;
	border-radius: 29px;
}
.theme_switcher .one_group .select_color  li .sp-replacer.sp-light {
	background: none;
	padding: 0;
	margin: 0;
	border: 0;
	line-height:0;
	vertical-align:top;
}
.theme_switcher .one_group .select_color  li .sp-replacer.sp-light .sp-preview {
	background: none;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align:top;
	line-height:0;
}
.theme_switcher .one_group .select_color  li .sp-replacer.sp-light .sp-preview .sp-preview-inner {
	position:relative;
}
.theme_switcher .one_group .select_color  li .sp-replacer.sp-light .sp-preview .sp-preview-inner:after {
	background: url('images/sprite.png') no-repeat -1px -330px;
	width: 16px;
	height: 13px;
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin: auto;
	content: "";
}
.theme_switcher .checkbox {
	display: block;
	float: left;
	color: #262626;
	font-size: 13px;
	padding-left: 22px;
	position: relative;
	margin-top: 12px;
	cursor: pointer;
	margin-right: 15px;
	font-weight: normal;	
}
.theme_switcher .group_body input[type="radio"]{
    display: none;
}
.theme_switcher .group_body input[type="radio"] + label:before {
	content:"";
	display: block;
	position: absolute;
	border: 1px solid #ccc;
	/* background: #c6c6c6; */
	width: 11px;
	height: 11px;
	border-radius: 10px;
	left: 1px;
	top: 4px;
	box-sizing: initial;
}
.theme_switcher .group_body input[type="radio"]:checked + label:after {
	content:"";
	width: 7px;
	height: 7px;
	background: #888888;
	display: block;
	left: 4px;
	border-radius: 12px;
	position: absolute;
	top: 7px;
	box-sizing: initial;
}
.theme_switcher .checkbox i {
    display: block;
    position: absolute;
    border: 1px solid #ccc;
    /* background: #c6c6c6; */
    width: 11px;
    height: 11px;
    /* border-radius: 10px; */
    left: 1px;
    top: 4px;
}
.theme_switcher .checkbox.checked b {
    width: 7px;
    height: 7px;
    background: #888888;
    display: block;
    left: 4px;
    /* border-radius: 12px; */
    position: absolute;
    top: 7px;
}
.theme_switcher .select2 {
	margin-top:12px;	
	outline:none;	
	margin-bottom: 5px;
	width: 100%!important;	
}
.theme_switcher .select2-container--default .select2-selection--single {
	background:#f8f8f8;
	border:1px solid #e4e4e4;
	font-size:13px;
	color:#262626;	
	outline:none;	
}
.theme_switcher  .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 30px;
}
.theme_switcher  .select2-container .select2-selection--single {
	height: 30px;
}
.theme_switcher  .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 30px;
}
.switch_loader_overlay {
	background:rgba(0,0,0,0.7);
	position:fixed;
	z-index:10000;
	bottom:0;
	top:0;
	left:0;
	right:0;
	display:none;	
}
.sp-container button {
	border: 0;
    border-radius: 6px;
    height: 26px;
    padding: 0 15px;
}
.sp-container {
	background-color: #f5f5f5;
	border: solid 1px #E8E8E8;
	padding: 0;
	border-radius: 1px;
}
/* spinner */
.spinner {
  width: 70px;
	text-align: center;
	position: absolute;
	z-index: 11000;
	bottom: 0;
	top: 75px;
	top: 316px;
	margin: auto;
	right: 0;
	left: 0;
	bottom: 0;
	display:none;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@media (max-width:450px) {
	.theme_switcher {
		display:none !important;
	}
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}