.uni-labels-2 {
    display: block;
}

.uni-labels-2 .uni-labels-wrapper {
    display: block;
}

.uni-labels-2 .tabs {
    display: block;
    overflow: hidden;   
}

.uni-labels-2 .tabs .tabs-wrapper {
    display: block;
    font-size: 0px;
    white-space: normal;
    margin: -5px -15px;
    min-width: 30px;
    min-height: 30px;
    padding: 0px;
    text-align: left;
}
.uni-labels-2 .tabs .tabs-wrapper a{
    color:#636363;
}

.uni-labels-2 .tabs .tab {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 15px;
}

.uni-labels-2 .tabs .tab .tab-wrapper {
    display: block;
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.uni-labels-2 .tabs .buttons-space {
    float: right;
    width: 65px;
    height: 24px;
}

.uni-labels-2 .tabs .tab:hover .tab-wrapper,
.uni-labels-2 .tabs .tab.ui-state-active .tab-wrapper {
    border-bottom: 2px solid #000000;
    
}

.uni-labels-2 .uni_popular .indents .slider .element .element-wrapper {
	background: #fff;
}

.labels_block {
    position: absolute;
    left: 0;
    width: 100%;
    background: #f6f6f6;
}
.labels_block_wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
	padding: 30px 8px 0px 8px;
}