.garderob-table-sizes {
    display: block;
    width: 600px;
    background: #ffffff;
    padding: 20px;
    padding-top: 20px;
}

.garderob-table-sizes .garderob-table-sizes-title {
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 20px;
}

.garderob-table-sizes .garderob-table-sizes-wrapper {
    display: block;
    position: relative;
}

.garderob-table-sizes .garderob-table-sizes-table {
    width: 100%;
}

.garderob-table-sizes .garderob-table-sizes-table .garderob-table-sizes-row {
    
}
.garderob-table-sizes .garderob-table-sizes-table .garderob-table-sizes-row.garderob-table-sizes-row-even {
    background: #f1f1f1;
}

.garderob-table-sizes .garderob-table-sizes-table .garderob-table-sizes-row .garderob-table-sizes-column {
    padding-top: 7px;
    padding-bottom: 7px;
}

.garderob-table-sizes .garderob-table-sizes-table .garderob-table-sizes-row .garderob-table-sizes-column .garderob-table-sizes-cell {
    color: #292929;
    font-size: 11px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
@media all and (max-width: 680px) {
	.adaptiv .garderob-table-sizes {
		display: block;
		max-width: 260px;
		background: #ffffff;
		padding: 20px;
		padding-top: 20px;
	}
	.adaptiv .garderob-table-sizes .garderob-table-sizes-wrapper {
		overflow-x: scroll;
	}
}