

/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog/catalog/style.css?15548708871817*/
.catalog-section-menu.catalog-section-menu-all {
    display: none;
}
.catalog-section-menu.catalog-section-menu-current {
    display: block;
}

@media all and (max-width: 1150px) {
    .adaptiv .catalog-section-menu.catalog-section-menu-all {
        display: block;
    }
    .adaptiv .catalog-section-menu.catalog-section-menu-current {
        display: none;
    }
}

.uni-filter, .uni-menu{
	position: relative;
	display: none;
	vertical-align: middle;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	padding: 13px 11px 12px 11px;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background-color, border-color;
	-moz-transition: background-color, border-color;
	-ms-transition: background-color, border-color;
	-o-transition: background-color, border-color;
	transition: background-color, border-color;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	color: #434343;
	border: 1px solid #dadada !important;
}
.uni-filter:hover, .uni-menu:hover{
	background: #dadada;
}
@media all and (min-width: 800px) {
	.uni-btn-show {
		display: none;
	}
	.uni-btn-hide {
		display: none !important;
	}
}
@media all and (max-width: 800px) {
	.menu_catalog_hide {
		margin-bottom: 30px;
	}
	.filter_catalog_hide {
		margin-bottom: 80px;
	}
	.uni-btn-show{
		display: block;
	}
	.adaptiv .menu-catalog-left-1 {
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #dadada;
		border-radius: 3px;
	}
	.adaptiv .menu-catalog-left-1 .menu-catalog-left-1-item:first-child{
		border-top: 0px solid #e8e8e8;
	} 
	.adaptiv .menu-catalog-left-1 .menu-catalog-left-1-item{
		border-top: 1px solid #e8e8e8;
	}
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog/catalog/bitrix/catalog.section.list/extend/style.css?15548708872909*/
.catalog-sections-extend {
    display: block;
}

.catalog-sections-extend-wrapper {
    display: block;
    margin: -12px;
}

.catalog-sections-extend .section {
    display: block;
    padding: 12px;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.catalog-sections-extend .section .section-wrapper {
    display: block;
    position: relative;
    height: 380px;
    border-radius: 8px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow 0.3s;
       -moz-transition: -moz-box-shadow 0.3s;
        -ms-transition: box-shadow 0.3s;
         -o-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
    
}
.catalog-sections-extend .section .section-wrapper:hover {
    -webkit-box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 7px 30px 0px rgba(0,0,0,0.2);
}

.catalog-sections-extend .section .image {
    display: block;
    font-size: 0px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
        -ms-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.catalog-sections-extend .section .menu {
    position: absolute;
    display: block;
    top: 0px;
    left: auto;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 200px;
    background: #ffffff;
}

.catalog-sections-extend .section .menu .menu-wrapper {
    display: block;
    margin: 5px 30px;
}

.catalog-sections-extend .section .menu .menu-caption {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    white-space: nowrap;
    padding: 15px 0px;
    text-decoration: none;
    overflow: hidden;
    height: 14px;
}

.catalog-sections-extend .section .menu .menu-item {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    white-space: nowrap;
    padding: 15px 0px;
    text-decoration: none;
    overflow: hidden;
    height: 14px;
}

.catalog-sections-extend .section .menu .menu-item.menu-item-all {
    position: absolute;
    bottom: 5px;
    color: #636363;
    padding-bottom: 3px;
    margin-bottom: 15px;
    border-bottom: 1px solid #636363;
    -webkit-transition: color 0.3s;
       -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
         -o-transition: color 0.3s;
            transition: color 0.3s;
}
.catalog-sections-extend .section .menu .menu-item.menu-item-all:hover {
    color: #000;
    border-color: #000;
}

@media all and (max-width: 740px) {
    .adaptiv .catalog-sections-extend .section {
        float: none;
        width: auto;
    }
}
/* End */


/* Start:/bitrix/templates/unigarderob_s1/components/bitrix/catalog.top/uni_popular/style.css?15548708884260*/
.uni_popular,
.uni_popular.with-slider,
.uni_popular.with-title {
    display: block;
    position: relative;
    height: auto;
    padding: 0px;
    margin: 0px;
    width: auto;
    overflow: visible;
}

.uni_popular .buttons {
    display: block;
    position: absolute;
    right: 0px;
    top: -30px;
    height: 24px;
    overflow: hidden;
    margin-bottom: 10px;
}

.uni_popular.with-title .buttons {
    top: 0px;
}

.uni_popular .buttons .buttons-wrapper {
    margin: -4px;
    min-width:  8px;
    min-height: 8px;
    font-size: 0px;
}

.uni_popular .buttons .button {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
}

.uni_popular .indents {
    display: block;
    position: relative;
    margin: -8px;
}

.uni_popular .indents .slider {
    display: block;
    font-size: 0px;
    white-space: normal;
    padding: 0px;
    margin: 0px;
}

.uni_popular.with-slider .indents .slider {
    white-space: nowrap;
}

.uni_popular .indents .slider .element {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
}

.uni_popular .indents .slider .element .element-wrapper {
    display: block;
    padding: 20px 20px;
    position: relative;
    border: 1px solid transparent;
}

.uni_popular .indents .slider .element .element-wrapper:hover {
    border-color: #e8e8e8;
}

.uni_popular .indents .slider .element .element-wrapper .marks {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-right: 46px;        
}

.uni_popular .indents .slider .element .min-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
    z-index: 1;
}

.uni_popular .indents .slider .element .min-buttons .min-buttons-wrapper {
    display: block;
    margin: -5px;
}

.uni_popular .indents .slider .element .min-buttons .min-button {
    display: block;
    padding: 5px;
}

.uni_popular .indents .slider .element .image {
    display: block;
    position: relative;
    padding-top: 100%;
}

.uni_popular .indents .slider .element .image .image-wrapper {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.uni_popular .indents .slider .element .information {
    display: block;
    height: 78px;
    margin: 0px;
}

.uni_popular .indents .slider .element .information .name {
    display: block;
    font-size: 12px;
    color: #263a36;
    line-height: 16px;
    height: 32px;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
}

.uni_popular .indents .slider .element .information .category {
    display: block;
    font-size: 11px;
    color: #b4b4b4;
    line-height: 15px;
    text-decoration: none;
    height: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}
.uni_popular .indents .slider .element .information .category:hover {
    color: #444648;
}

.uni_popular .indents .slider .element .information .price {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    overflow: hidden;
}

.uni_popular .listener {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.uni_popular .listener .listener-wrapper {
    display: inline-block;
    text-align: left;
    min-width: 10px;
    min-height: 10px;
    margin: -5px;
    font-size: 0px;
}

.uni_popular .listener .listener-wrapper .button {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    background: #e1e1e1;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    cursor: pointer;
}
.uni_popular .listener .listener-wrapper .button.state-active,
.uni_popular .listener .listener-wrapper .button:hover {
    background: #222943;
}
.uni_popular .indents .slider .element .element-wrapper .uni-button-quickview {
	display:none;
}
.uni_popular .indents .slider .element .element-wrapper:hover .uni-button-quickview {
	display:block;
}
/* End */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog/catalog/style.css?15548708871817 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog/catalog/bitrix/catalog.section.list/extend/style.css?15548708872909 */
/* /bitrix/templates/unigarderob_s1/components/bitrix/catalog.top/uni_popular/style.css?15548708884260 */
