.main_news {
	padding-left:0;		
}
.main_news .news-date-time{
	font-size:11px;
	color:#686868!important;
	margin-bottom:8px;
}
.main_news .news-item a.name_news {
	font-size:13px;
	display:block;
	height:36px;
	overflow:hidden;
	font-weight:bold;
	text-decoration:none;
}
.main_news .preview {
	padding-top: 10px;
	margin-bottom: 12px;
	line-height: 15px;
	font-size:12px;	
}
.main_news  a.header_grey{
	text-decoration: none;
	margin-bottom: 15px;
	display: block;
}
.main_news .news-item {
	margin-bottom:5px;
	margin-left:9px;
	padding-top:5px;
}
.main_news .all_news {
	font-size: 11px;
	line-height: 31px;
	text-decoration:none;
}