.menu-header-1 {
    display: block;
    height: 50px;
    background: #1a58d7;
}

.menu-header-1.size-limited {
    max-width: 1162px;
    margin: 0 auto;
}

.menu-header-1 .menu-header-1-wrapper {
    display: block;
    position: relative;
    height: 100%;
    max-width: 1162px;
    margin: 0 auto;
}

.menu-header-1 .menu-header-1-wrapper-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.menu-header-1 .menu-header-1-wrapper-wrapper-wrapper {
    display: table-row;
}

.menu-header-1 .menu-header-1-item {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    text-align: center;
}

.menu-header-1 .menu-header-1-item .menu-header-1-item-wrapper {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    height: 50px;
    margin-right: 20px;
    font-size: 0px;
    white-space: nowrap;
}

.menu-header-1 .menu-header-1-item .menu-header-1-item-wrapper .menu-header-1-item-wrapper-wrapper {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
}

.menu-header-1 .menu-header-1-item .menu-header-1-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
}

.menu-header-1 .menu-header-1-item.ui-state-active .menu-header-1-item-wrapper,
.menu-header-1 .menu-header-1-item .menu-header-1-item-wrapper:hover {
    background: #343854;
}

.menu-header-1 .menu-header-1-item .menu-header-1-submenu {
    display: none;    
}

.menu-header-1 .menu-header-1-item .menu-header-1-submenu.menu-header-1-submenu-level-1 {
    position: absolute;
    display: none;
    top: 50px;
    bottom: auto;
    background: #f7f7f9;
    height: 0px;
    max-width: 500px;
    padding: 10px 0px;
}

.menu-header-1 .menu-header-1-item .menu-header-1-submenu.menu-header-1-submenu-level-1 .menu-header-1-subitem.menu-header-1-subitem-level-1 {
    display: block;
    float: left;
    width: 250px;
    text-align: left;
    padding: 10px 30px;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
}

.menu-header-1 .menu-header-1-item .menu-header-1-submenu.menu-header-1-submenu-level-1 .menu-header-1-subitem.menu-header-1-subitem-level-1 .menu-header-1-subitem-wrapper {
    
}

.menu-header-1 .menu-header-1-item .menu-header-1-submenu.menu-header-1-submenu-level-1 .menu-header-1-subitem.menu-header-1-subitem-level-1 .menu-header-1-subitem-wrapper .menu-header-1-text {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
.menu-header-1 .menu-header-1-item .menu-header-1-submenu.menu-header-1-submenu-level-1 .menu-header-1-subitem.menu-header-1-subitem-level-1 .menu-header-1-subitem-wrapper .menu-header-1-text:hover {
    text-decoration: underline;
}